<template>
  <div class="activity-wapper">
    <div class="activity-box">
      <span class="close-btn" @click="closeLayer"></span>
      <h2 class="title">{{result.name}}</h2>
      <div class="content" v-html="result.content"></div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
export default {
  props: {
    result: {
      default: {
        
      }
    }
  },
  data () {
    return {
     
    }
  },
  watch: {
   
  },
  computed: {
    
  },
  mounted () {
    
  },
  beforeDestroy () {
    
  },
  methods: {
    closeLayer () {
      this.$emit('closeActivity')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.activity-wapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0, 0.5);
  z-index: 100;
  .activity-box {
    width: 600px;
    min-height: 400px;
    padding: 15px 0;
    background-color: #fafafb;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -200px;
    z-index: 10;
    border-radius: 10px;
    .close-btn {
      position: absolute;
      width: 30px;
      height: 30px;
      background-image: url('~@/assets/images/close_icon.png');
      background-size: cover;
      background-repeat: no-repeat;
      right: -40px;
      top: -40px;
      cursor: pointer;
      z-index: 11;
    }
    .title {
      text-align: center;
      height: 40px;
      line-height: 40px;
      font-size: 20px;
      color: #333;
      margin-bottom: 20px;
    }
    .content {
      padding: 0 30px;
    }
  }
}
</style>
