<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-05-30 13:13:43
 * @LastEditTime: 2019-08-13 10:47:05
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div>
    <Page>
      <template v-slot:default>
        <div class="detail-wrapper">
          <div class="detail-nav">
            <div class="nav_main">
              <ol class="nav_ul">
                <li>
                  <router-link to="/">首页</router-link>
                </li>
                <li>
                  <router-link to="/hotels">婚礼酒店</router-link>
                </li>
                <li><a href="javascript:;">{{result.hotelname}}</a></li>
              </ol>
            </div>
          </div>
          <div class="detail-partone">
           <div class="partone-content">
            <div class="partone-left">
              <div class="bigimages">
                <ul class="bigimages-ul" 
                  :style="{width: result.pcpath.length*610 + 'px'}"
                  ref="bigimagesul"
                >
                  <li
                    v-for="(item, index) in result.pcpath" :key="index"
                  >
                    <img :src="item" alt="">
                  </li>
                </ul>
              </div>
              <div class="smallimages-box">
                <a href="javascript:;" class="prev-a btn-a" @click="clickPrev">
                  <img src="~@/assets/images/next-L.png" alt="">
                </a>
                <div class="smallimages">
                  <ul class="smallimages-ul" :style="{width: result.pcpath.length*139 + 'px'}" ref="smallimagesul">
                    <li 
                        v-for="(item, index) in result.pcpath" :key="index"
                        :class="{'active': imageindex === index}"
                        @click="clickImage(item, index)"
                    >
                      <img :src="item" alt="">
                    </li>
                  </ul>
                </div>
                <a href="javascript:;" class="next-a  btn-a" @click="clickNext">
                  <img src="~@/assets/images/next-R.jpg" alt="">
                </a>
              </div>
            </div>
            <div class="partone-right">
              <div class="partone-right-box">
                <div class="partone-right-title">
                  <a href="javascript:;">{{result.hotelname}}</a>
                </div>
                <div class="partone-right-row">
                  <strong class="name">酒店价格:</strong>
                  <span class="content">¥ {{result.moneynum}}</span>
                </div>
                <div class="partone-right-row">
                  <strong class="name">酒店星级:</strong>
                  <span class="content">{{result.typename}}</span>
                </div>
                <div class="partone-right-row">
                  <strong class="name">容纳桌数:</strong>
                  <span class="content">{{result.tablenum}}</span>
                </div>
                <div class="partone-right-row">
                  <strong class="name">酒店特色: </strong>
                  <span class="content">{{result.hotelcharacteristicmsg.join(' ')}}</span>
                </div>
                <div class="partone-right-row partone-right-width">
                  <strong class="name">酒店地址:</strong>
                  <span class="content">{{result.address}}</span>
                </div>
                <div class="partone-right-row partone-right-width">
                  <strong class="name">酒店交通:</strong>
                  <span class="content">{{result.traffic}}</span>
                </div>
                <div class="partone-right-row partone-right-width">
                  <strong class="name">酒店简介:</strong>
                  <span class="content">{{result.introduction}}</span>
                </div>
                <div class="partone-right-activity">
                  <div class="activity-left">
                    <div class="activity-left-li left-li1" @click="openActivity(1)">
                      <span>到店礼</span>
                      <p>通过优品预约婚宴到店免费领取超值礼包</p>
                    </div>
                    <div class="activity-left-li" @click="openActivity(2)">
                      <span>订单礼</span>
                      <p>通过优品预约婚宴即享超值礼包</p>
                    </div>
                  </div>
                  <div class="catdate"  @click="openLayer">立 即 预 约</div>
                </div>
              </div>
            </div>
           </div>
          </div>
          <!-- 大厅 -->
          <div class="detail-parttwo">
            <div class="title">
              <span class="title_span">婚宴大厅</span>
            </div>
            <div class="yanhui">
              <ul class="yanhui-ul">
                <li class="yanhui-li" v-for="(item, index) in banquethallList" :key="index">
                  <ul class="yanhui-image">
                    <li class="image-li">
                      <img :src="item.pcpath[0]" alt="" v-if="item.pcpath">
                    </li>
                  </ul>
                  <div class="yanhui-content">
                    <h2 class="yanhui_title">{{item.name}}</h2>
                    <ul class="yanhui-detail">
                      <li>
                        <span>桌数：{{item.tablenum}}桌</span>
                        <span>面积：{{item.area}}㎡</span>
                      </li>
                      <li>
                        <span>层高：{{item.storeyheight}}m</span>
                        <span>柱子：{{item.zhuzinum}}</span>
                      </li>
                      <li>
                        <span>低消：{{item.money}}元</span>
                        <span>形状：{{item.shape}}</span>
                      </li>
                    </ul>
                    <!-- <a href="javascript:;" class="datebtn">查 看 详 情</a> -->
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- 菜单 -->
          <div class="detail-partfour">
            <div class="title">
              <span class="title_span">婚宴菜单</span>
            </div>
            <div class="menu">
              <ul class="menu-list-ul">
                <li v-for="(item, index) in menuList" :key="index"
                  :class="{'flip-active': index === current}" 
                  @click="openMenu(item, index)"
                >
                  <div class="front">
                    <p class="hy_more"><a href="javascript:void(0)">查看详情</a></p>
                    <div class="food-img">
                      <img src="~@/assets/images//food1.png">
                    </div>
                    <h3 class="li-title">婚宴菜单</h3>
                    <p class="li-price">￥ {{item.money}}/桌</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- 位置 -->
          <div class="detail-partfive">
            <div class="title">
              <span class="title_span">酒店位置</span>
            </div>
            <div class="jd-introduction">
              <div class="map" id="hotelmap"></div>
            </div>
          </div>
        </div>
        <div style="height: 100px"></div>
        <!-- 手机短信预约 -->
        <vPhoneLayer v-show="showlayer" @closeLayer="closeLayer" :type="1" :id="hotelid"></vPhoneLayer>
        <!-- 酒店活动 -->
        <Activity v-show="showActivity" @closeActivity="closeActivity" :result="activity"></Activity>
        <!-- 查看菜单 -->
        <Menu v-show="showMenu" @closeMenu="closeMenu" :result="menu"></Menu>
      </template>
    </Page>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import http from "@/axios/http";
import Page from "@/components/page/Home/base";
import vPhoneLayer from "@/components/common/phone/phone";
import Activity from "@/components/page/Hotel/activity.vue";
import Menu from "@/components/page/Hotel/menu.vue";
export default {
  data() {
    return {
      current: -1,
      result: {
        pcpath: [],
        hotelcharacteristicmsg:[]
      },
      banquethallList: [],
      menuList: [],
      showlayer: false,
      count: 0,
      bigImagePath: '',
      imageindex: 0,
      hotelid: 0,
      showActivity: false,
      activity: {},
      showMenu: false,
      menu: {}
    };
  },
  watch: {},
  computed: {
    
  },
  components: {
    Page,
    vPhoneLayer,
    Menu,
    Activity
  },
  created() {
    const id = this.$route.query.id;
    if (id) {
      this.gotBanquethall(id);
      this.gotMenu(id);
      this.gotDetail(id);
    } else {
      this.$router.push('/hotels')
    }
  },
  mounted() {
    this.$nextTick(()=> {})
  },
  beforeDestroy() {},
  methods: {
    openMenu (item) {
      this.menu = item;
      this.showMenu = true;
    },
    closeMenu () {
      this.showMenu = false;
    },
    openActivity (index) {
      if (this.activtydata.length) {
        if (index === 1) {
          this.activity = item[0]
        } else {
          this.activity = item[1]
        }
        this.showActivity = true;
      }
    },
    closeActivity () {
      this.showActivity = false;
    },
    gotDetail (id) {
      http.post("/hotel/hotelinfo.do", {
        id: id
      }).then((result) => {
        if (result.status === 1) {
          const data = result.data;
          this.result = data;
          this.initMap(data.longitude, data.latitude, data.hotelname, data.address, data.traffic)
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    gotBanquethall (id) {
      http.post("/hotel/backuppassbanquethall.do", {
        hotelid: id
      }).then((result) => {
        if (result.status === 1) {
          let data = result.data;
          this.banquethallList = data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    gotMenu (id) {
      http.post("/hotel/backuppasslistmenu.do", {
        hotelid: id
      }).then((result) => {
        if (result.status === 1) {
          this.menuList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    clickImage (path, index) {
      this.imageindex = index;
      this.$refs.bigimagesul.style.transform = `translateX(${index*-610}px)`;
    },
    clickPrev () {
      let num = this.result.pcpath.length - 4;
      if (num > 0 && Math.abs(this.count) < num ) {
        this.count--;
        this.$refs.smallimagesul.style.transform = `translateX(${this.count*139}px)`;
      }
    },
    clickNext () {
      const num = this.result.pcpath.length - 4;
      if (num > 0 && Math.abs(this.count) > 0) {
        this.count++;
        this.$refs.smallimagesul.style.transform = `translateX(${this.count*139}px)`;
      }
    },
    clickflip (index) {},
    openLayer () {
      this.hotelid = this.result.id
      this.showlayer = true;
    },
    closeLayer () {
      this.showlayer = false;
    },
    initMap(longitude, latitude, hotelname, address, traffic) {
      const map = new BMap.Map("hotelmap",{minZoom:15,maxZoom:15});
      const point = new BMap.Point(longitude,latitude);
      const marker = new BMap.Marker(point);
      map.addOverlay(marker);
      map.centerAndZoom(point,15);
      map.enableScrollWheelZoom(true);
      map.disableDragging();     //禁止拖拽
      const opts = {
        width : 200,     // 信息窗口宽度
        height: 100,     // 信息窗口高度
        title : hotelname
      }
      const addressinfo = '地址：'+ address + '<br/>交通：' + traffic;
      const infoWindow = new BMap.InfoWindow(addressinfo, opts);
      map.openInfoWindow(infoWindow,point); //开启信息窗口
      marker.addEventListener("click", function(){          
        map.openInfoWindow(infoWindow,point); //开启信息窗口
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.detail-wrapper {
  width: 100%;
  position: relative;
  .detail-partone {
    width: 100%;
    .partone-content {
      width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      .partone-left {
        width: 610px;
        .bigimages {
          width: 610px;
          height: 372px;
          overflow: hidden;
          .bigimages-ul {
            min-width: 2440px;
            height: 372px;
            transition: all 0.4s ease-out;
            &::after {
              content: '';
              display: block;
              clear: both;
              width: 0;
              height: 0;
            }
            li {
              width: 610px;
              height: 372px;
              float: left;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
        .smallimages-box {
          width: 610px;
          height: 90px;
          display: flex;
          margin: 20px auto;
          .btn-a {
            height: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 23px;
            margin-right: 4px;
            &.next-a {
              margin-left: 4px;
              margin-right: 0;
            }
            img {
              width: 23px;
              height: 30px;
            }
          }
          .smallimages {
            width: 556px;
            height: 90px;
            overflow: hidden;
            .smallimages-ul {
              min-width: 556px;
              height: 90px;
              transition: all 0.8s ease-out;
              &::after {
                content: '';
                display: block;
                clear: both;
                width: 0;
                height: 0;
              }
              li {
                width: 130px;
                height: 90px;
                float: left;
                margin: 0 4px 0 5px;
                cursor: pointer;
                box-sizing: border-box;
                font-size: 0;
                line-height: 0px;
                img {
                  width: 130px;
                  height: 90px;
                  display: block;
                  box-sizing: border-box;
                }
                &.active {
                  img {
                    border: 3px solid #f36701;
                  }
                }
              }
            }
          }
        }
      }
      .partone-right {
        width: 540px;
        height: 340px;
        float: left;
        padding-left: 40px;
        .partone-right-box {
          height: 340px;
          .partone-right-title {
            width: 100%;
            height: 30px;
            display: flex;
            padding-bottom: 8px;
            border-bottom: 1px solid #ccc;
            margin-bottom: 20px;
            a {
              display: block;
              width: 100%;
              height: 30px;
              line-height: 30px;
              font-size: 20px;
              color: #000;
              font-weight: 600;
            }
            .hysp02 {
              display: block;
              width: 150px;
              height: 23px;
              line-height: 23px;
              font-size: 14px;
              color: #f33545;
            }
          }
          .partone-right-row {
            display: flex;
            margin-bottom: 15px;
            .name {
              width: 70px;
              font-size: 14px;
              line-height: 20px;
              color: #000;
              display: block;
            }
            .content {
              line-height: 20px;
              font-size: 14px;
              color: #666;
              display: block;
            }
            &.partone-right-width {
              .content {
                width: 470px;
              }
            }
          }
          .partone-right-activity {
            width: 100%;
            height: 78px;
            position: relative;
            margin-top: 20px;
            background: #f6f7f9;
            display: flex;
            .activity-left {
              width: 320px;
              height: 78px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              .activity-left-li {
                height: 20px;
                display: flex;
                padding-left: 10px;
                cursor: pointer;
                span {
                  display: block;
                  width: 50px;
                  height: 20px;
                  line-height: 20px;
                  background: #fd6c6e;
                  color: #fff;
                  text-align: center;
                  position: relative;
                  border-radius: 3px;
                  margin-right: 10px;
                  &::after {
                    display: block;
                    border-color: transparent transparent transparent #fd6c6e;
                    top: 5px;
                    content: "";
                    width: 0;
                    height: 0;
                    border-width: 4px;
                    border-style: solid;
                    position: absolute;
                    left: 50px;
                    z-index: 9;
                  }
                }
                p {
                  height: 20px;
                  line-height: 20px;
                  font-size: 13px;
                  color: #666;
                }
                &.left-li1 {
                  margin-bottom: 10px;
                  span {
                    background: #ffb260;
                    &::after {
                      border-color: transparent transparent transparent
                        #ffb260;
                    }
                  }
                }
              }
            }
            .catdate {
              width: 165px;
              height: 45px;
              background-color: #e94653;
              border-radius: 6px;
              color: #fff;
              font-size: 16px;
              line-height: 45px;
              text-align: center;
              cursor: pointer;
              margin-top: 16px;
              margin-left: 20px;
            }
          }
          
        }
      }
    }
  }
  .detail-parttwo {
    width: 100%;
    margin: 0 auto;
    background: #fff;
    padding: 20px 0;
    .title {
      width: 1200px;
      margin: 0 auto;
      background: url(~@/assets/images/hyxq30.jpg) 0 12px repeat-x;
      text-align: center;
      height: 25px;
      line-height: 25px;
      font-size: 18px;
      color: #000;
      margin-bottom: 50px;
      margin-top: 80px;
      .title_span {
        padding: 0 30px;
        background: #fff;
        font-weight: 700;
      }
    }
    .yanhui {
      width: 1200px;
      margin: 0 auto;
      .yanhui-ul {
        width: 100%;
        &::after {
          display: block;
          content: '';
          clear: both;
          height: 0;
          width: 0;
        }
        .yanhui-li {
          width: 580px;
          height: 228px;
          margin: 0 0 20px 0;
          float: left;
          margin-right: 40px;
          display: flex;
          border: 1px solid #ebebeb;
          box-sizing: border-box;
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
          &:nth-child(even) {
            margin-right: 0;
          }
          .yanhui-image {
            display: block;
            width: 322px;
            height: 228px;
            position: relative;
            li {
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0;
              bottom: 0;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
          .yanhui-content {
            width: 258px;
            padding: 10px 0;
            height: 228px;
            background: #fff;
            border: 1px solid #f1f1f1;
            border-left: none;
            box-sizing: border-box;
            .yanhui_title {
              box-sizing: border-box;
              color: #000;
              margin: 0 auto 10px;;
              font-size: 18px;
              width: 200px;
              height: 41px;
              line-height: 40px;
              border-bottom: 1px solid #dedede;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              text-align: center;
              font-weight: 600;
            }
            .yanhui-detail {
              width: 200px;
              margin: 40px auto 0;
              height: 88px;
              li {
                width: 200px;
                height: 16px;
                display: flex;
                margin-bottom: 8px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                span {
                  display: block;
                  flex: 1;
                  height: 16px;
                  line-height: 16px;
                  font-size: 13px;
                  color: #333;
                }
              }
            }
            .datebtn {
              display: block;
              margin: 18px auto 0;
              width: 168px;
              height: 34px;
              border: 1px solid #e94653;
              border-radius: 2px;
              line-height: 32px;
              text-align: center;
              color: #e94653;
              font-size: 14px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .detail-partfour {
    width: 1200px;
    margin: 0 auto;
    .title {
      background: url(~@/assets/images/hyxq30.jpg) 0 12px repeat-x;
      text-align: center;
      height: 25px;
      line-height: 25px;
      font-size: 18px;
      color: #000;
      margin-bottom: 50px;
      margin-top: 80px;
      .title_span {
        padding: 0 30px;
        background: #fff;
        font-weight: 700;
      }
    }
    .menu {
      width: 1200px;
      margin: 0 auto;
      text-align: center;
      padding: 10px;
      box-sizing: border-box;
      .menu-list-ul {
        display: flex;
        width: 1200px;
        flex-wrap: wrap;
        li {
          width: 280px;
          height: 270px;
          border-radius: 5px;
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
          text-align: center;
          background-color: white;
          transition: transform 2s;
          position: relative;
          transform-style: preserve-3d;
          cursor: pointer;
          margin-right: 10px;
          margin-bottom: 10px;
          .front {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            backface-visibility:hidden;
            overflow: hidden;
            .hy_more {
              margin: 10px 15px 0;
              font-size: 12px;
              color: #b2b2b2;
              text-align: right;
            }
            .food-img {
              margin: 15px 0;
              width: 100%;
              text-align: center;
              img {
                width: 140px;
                height: 140px;
                display: inline-block;
              }
            }
            .li-title {
              margin-bottom: 15px;
              font-size: 16px;
              color: #8c8c8c;
              font-weight: 500;
            }
            .li-price {
              font-size: 14px;
              color: #fe7878;
            }
          }
          .reverse {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: white;
            transform: rotateY(180deg);
            backface-visibility:hidden;
            overflow: hidden;
            border-radius: 5px;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1),0 0 1px rgba(0, 0, 0, 0.1),0 0 1px rgba(0, 0, 0, 0.1),0 0 1px rgba(0, 0, 0, 0.1);
            .code-img {
              margin: 30px 0 15px;
              img {
                width: 140px;
                height: 140px;
                display: inline-block;
              }
            }
            .code-txt {
              font-size: 16px;
              letter-spacing: 2px;
              margin-bottom: 10px;
            }
          }
          &.flip-active {
            transform: rotateY(180deg);
          }
        }
      }
      .hy_arrowleft {
        width: 24px;
        height: 48px;
        background-image: url('~@/assets/images/left.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        left: 10px;
        top: 50%;
        margin-top: -24px;
        z-index: 100;
        opacity: .6;
        &:hover {
          opacity: .8;
          cursor: pointer;
        }
      }
      .hy_arrowright {
        width: 24px;
        height: 48px;
        background-image: url('~@/assets/images/right.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -24px;
        z-index: 100;
        opacity: .6;
        &:hover {
          opacity: .8;
          cursor: pointer;
        }
      }
    }
  }
  .detail-partfive {
    width: 1200px;
    margin: 0 auto;
    .title {
      background: url(~@/assets/images/hyxq30.jpg) 0 12px repeat-x;
      text-align: center;
      height: 25px;
      line-height: 25px;
      font-size: 18px;
      color: #000;
      font-weight: 700;
      margin-bottom: 50px;
      margin-top: 80px;
      .title_span {
        padding: 0 30px;
        background: #fff;
      }
    }
    .jd-introduction {
      width: 1200px;
      display: flex;
      justify-content: space-between;
      .map {
        width: 1200px;
        height: 320px;
        background: #ccc;
        margin: 0 auto;
      }
    }
  }
  .hyxqSix {
    width: 1200px;
    margin: 0 auto;
    .title {
      background: url(~@/assets/images/hyxq30.jpg) 0 12px repeat-x;
      text-align: center;
      height: 25px;
      line-height: 25px;
      font-size: 16px;
      color: #666;
      margin-bottom: 50px;
      margin-top: 80px;
      .title_span {
        padding: 0 30px;
        background: #fff;
      }
    }
    .case-ul {
      width: 1200px;
      display: flex;
      justify-content: space-between;
      .case-li {
        width: 282px;
        height: 300px;
        transition: box-shadow .5s ease,transform .5s ease;
        a {
          display: block;
          width: 282px;
          height: 300px;
          img {
            display: block;
            width: 282px;
            height: 192px;
          }
          h3 {
            margin: 25px 0 10px;
            font-size: 16px;
            color: #000;
            text-align: center;
          }
          .hr-y {
            position: relative;
            &::before {
              content: "";
              position: absolute;
              background-color: #ccc;
              top: 0;
              left: 50%;
              width: 60px;
              height: 2px;
              transform: translateX(-50%);
              transition: width .5s .3s ease;
            }
          }
          &:hover {
            box-shadow: 0 15px 30px rgba(0,0,0,0.1);
            .hr-y {
              &::before {
                transition: width 0s 0s ease;
                width: 0
              }
            }
          }
        }
      }
    }
  }
  .hyxqSevent {
    width: 1200px;
    margin: 0 auto;
    .title {
      background: url(~@/assets/images/hyxq30.jpg) 0 12px repeat-x;
      text-align: center;
      height: 25px;
      line-height: 25px;
      font-size: 16px;
      color: #666;
      margin-bottom: 50px;
      margin-top: 80px;
      .title_span {
        padding: 0 30px;
        background: #fff;
      }
    }
    .hotel-ul {
      width: 1200px;
      display: flex;
      justify-content: space-between;
      .hotel-li {
        width: 282px;
        height: 243px;
        transition: box-shadow .5s ease,transform .5s ease;
        &:hover {
          box-shadow: 0 15px 30px rgba(0,0,0,0.1);
        }
        a {
          display: block;
          width: 282px;
          height: 243px;
          img {
            display: block;
            width: 282px;
            height: 192px;
          }
          .hotel-name {
            padding: 15px 0;
            margin: 0;
            text-align: left;
            text-indent: 11px;
            position: relative;
            padding-right: 25px;
            font-size: 16px;
            color: #000;
            &::before {
              position: absolute;
              content: "";
              background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAWCAYAAAAmaHdCAAABQ0lEQVQ4jaXTvy5EQRTH8c8d4k+BCEKi0HgBNEJLLCVZKol4AbIh4QEoNGqNkkKhEg8gGu+gEJX404ogUeysXNfeK7t+zcz5zZzvmUnOSR6nSgqUYA1lLNS70H99qbUA0IYTLOGuqFIoODuKgD+VB5lV/UZNHc1AtjJxX507Q0WQbsxkvFYMxH0LDnCPrjzIeI4/Edc9bEfwcBqSxGQYqQOARfRgM+VNpiH7OI773hzIqmqvtKe8svikMezgM1bqzIF04DDjlZ6m54cD1qPRgpW45mkwEwesB8ylzN0CQJ7KyeNU6U21xWt6lf+levoIfj+/EQAkAQ8NJmX1EHDzT8hNwPk/IecBp7htEnCL04B3bDQJ2ei/vnyvtf0FKg0CKjHvx7QeYhnPfyQ/x3vfI5Ad+TOMxipXeIn+S4wr8fwsnfQFXzgyMRQv/yUAAAAASUVORK5CYII=) no-repeat center;
              background-size: contain;
              -webkit-background-size: contain;
              width: 17px;
              height: 22px;
              top: 11px;
              right: 17px;
            }
          }
        }
      }
    }
  }
}
</style>
