<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-05-23 23:48:30
 * @LastEditTime: 2019-08-12 23:33:29
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="page-wrapper">
    <HomeheaderBar></HomeheaderBar>
    <HomeNav></HomeNav>
    <FixedNav></FixedNav>
    <!-- 第一屏 -->
    <div class="hotel-prime">
      <div class="swiper-container hotel-banner" ref="primeMiddle">
        <div class="swiper-wrapper">
          <div
            class="swiper-slide"
            v-for="(item, index) in primeMiddles"
            :key="index"
          >
            <a href="javascript:;" target="_blank" class="pic">
              <img :src="item.path" />
            </a>
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev u-swiper-button"></div>
        <div class="swiper-button-next u-swiper-button"></div>
      </div>
    </div>
    <div class="hotel-recommend">
      <div class="recommend">
        <img src="~@/assets/images/hotel-banner.png" alt="" >
      </div>
    </div>
    <!-- 查询条件 -->
    <div class="search-form-box">
      <div class="search-form">
        <div class="type-rows top-nav">
          婚宴酒店 > 共<span>{{ total }}</span
          >条结果
        </div>
        <!-- 特色 -->
        <div class="type-rows">
          <p class="title">酒店特色</p>
          <span
            class="typecur"
            :class="{ 'typecur-active': searchform.characteristic === 0 }"
            @click="changeStyle(0)"
          >
            <a href="javascript:;">不限</a>
          </span>
          <ul class="types">
            <li
              v-for="(item, index) in styleList"
              :key="index"
              @click="changeStyle(item.id)"
              :class="{ 'typecur-active': searchform.characteristic === item.id }"
            >
              <a href="javascript:;">{{ item.name }}</a>
            </li>
          </ul>
        </div>
        <!-- 容纳桌数 -->
        <div class="type-rows">
          <p class="title">容纳桌数</p>
          <span
            class="typecur"
            :class="{ 'typecur-active': searchform.maxtable === 0 }"
            @click="changeTable(0)"
          >
            <a href="javascript:;">不限</a>
          </span>
          <ul class="types">
            <li
              v-for="(item, index) in tableList"
              :key="index"
              @click="changeTable(item.id)"
              :class="{ 'typecur-active': searchform.maxtable === item.id }"
            >
              <a href="javascript:;">{{ item.name }}</a>
            </li>
          </ul>
        </div>
        <!-- 类型 -->
        <div class="type-rows">
          <p class="title">酒店类型</p>
          <span
            class="typecur"
            :class="{ 'typecur-active': searchform.type === 0 }"
            @click="changeType(0)"
          >
            <a href="javascript:;">不限</a>
          </span>
          <ul class="types">
            <ul class="types">
              <li
                v-for="(item, index) in typeList"
                :key="index"
                @click="changeType(item.id)"
                :class="{ 'typecur-active': searchform.type === item.id }"
              >
                <a href="javascript:;">{{ item.name }}</a>
              </li>
            </ul>
          </ul>
        </div>
        <!-- 价格区间： -->
        <div class="type-rows">
          <p class="title">价格区间</p>
          <span
            class="typecur"
            :class="{ 'typecur-active': searchform.moneytype === 0 }"
            @click="changeMoney(0)"
          >
            <a href="javascript:;">不限</a>
          </span>
          <ul class="types">
            <li
              v-for="(item, index) in moneyList"
              :key="index"
              @click="changeMoney(item.id)"
              :class="{ 'typecur-active': searchform.moneytype === item.id }"
            >
              <a href="javascript:;" class="pirce-a">{{ item.name }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 内容 -->
    <div class="jd-lists-box">
      <!-- 左边 -->
      <div class="jd-list-left">
        <!-- 排序 -->
        <div class="search-box">
          <div class="sort-li">
            <a
              href="javascript:;"
              class="items_l"
              :class="{
                items_cur:
                  searchform.prosort === '' && searchform.sorttype === 0
              }"
              @click="clickSortDefault"
              >默认排序</a
            >
            <a
              href="javascript:;"
              class="items"
              :class="sortPrice"
              @click="changeSort('moneytype')"
            >
              价格<i></i>
            </a>
            <a
              href="javascript:;"
              class="items"
              :class="sortType"
              @click="changeSort('type')"
            >
              星级<i></i>
            </a>
          </div>
        </div>
        <!-- 酒店列表 -->
        <div class="jd-list-wrapper" v-show="total">
          <div
            class="list-left-content"
            v-for="item in hotelList"
            :key="item.id"
          >
            <div class="li-content-image">
              <router-link
                target="_blank"
                :to="{ path: 'hoteldetail', query: { id: item.id } }"
                class="content-image-a"
              >
                <img :src="item.pcpath[0]" />
              </router-link>
            </div>
            <div class="left-content-box">
              <div class="left-content-ul">
                <div class="content-ul-title">
                  <span class="title-name">
                    <router-link
                      target="_blank"
                      :to="{ path: 'hoteldetail', query: { id: item.id } }"
                    >
                      {{ item.hotelname }}
                    </router-link>
                  </span>
                  <span class="title-price">¥ {{ item.moneynum }}</span>
                </div>
                <div class="content-ul-star">
                  星级 :
                  {{ item.typename }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;容纳桌数 ：
                  {{ item.tablenum }}
                </div>
                <div class="content-ul-row">
                  <span class="name">特色 :</span>
                  <span class="name-content">
                    {{item.hotelcharacteristicmsg.join(' ')}}
                  </span>
                </div>
                <div class="content-ul-row">
                  <span class="name">交通 :</span>
                  <span class="name-content">{{ item.traffic }}</span>
                </div>
                <div class="content-ul-row" style="margin-bottom: 10px;">
                  <span class="name">地址 :</span>
                  <span class="name-content">{{ item.address }}</span>
                </div>
                <div class="content-ul-activity">
                  <div class="activity-left">
                    <div class="activity-li activity-li-go" @click="openActivity(item.activtydata,1)">
                      <span>到店礼</span>
                      <!-- <span>{{item.activtydata[0].name}}</span> -->
                      <p>通过优品婚匠预约到酒店获得预约礼包</p>
                    </div>
                    <div class="activity-li" @click="openActivity(item.activtydata, 2)">
                      <span >订单礼</span>
                      <!-- <span>{{item.activtydata[1].name}}</span> -->
                      <p>在优品婚匠直营店预定获得该专属礼包</p>
                    </div>
                  </div>
                  <div class="activity-right">
                    <div class="catdate" @click="openLayer(item)">立 即 预 约</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <v-pagination
            class="pagination-wrapper"
            :total="total"
            :current-page="page"
            :limit="limit"
            @pagechange="pagechange"
            v-show="total > 6"
          ></v-pagination>
        </div>
        <Empty v-show="isEmpty"></Empty>
      </div>
      <div class="jd-list-right">
        <div class="right-part-row">
          <a
            href="http://platform.uuwed.com/regist"
            class="ad-image"
          >
            <img src="~@/assets/images/hotel-regist.png" alt="" />
          </a>
        </div>
        <Service></Service>
      </div>
    </div>
    <!-- 婚车服务 -->
    <div class="service-form-box">
      <a href="javascript:;" class="service-left">
        <img src="~@/assets/images/service_hotel.png" alt="" />
      </a>
      <div class="service-right">
        <div class="service-form">
          <el-select
            v-model="hotelform.moneytypeid"
            placeholder="--酒店价位--"
            style="width: 250px"
          >
            <el-option
              v-for="item in moneyList"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            >
            </el-option>
          </el-select>
          <el-select
            v-model="hotelform.areaid"
            placeholder="--酒店位置--"
            style="width: 250px"
          >
            <el-option
              v-for="item in areaList"
              :key="item.areaid"
              :label="item.areaname"
              :value="item.areaid"
            >
            </el-option>
          </el-select>
        </div>
        <div class="service-form">
          <el-input
            v-model="hotelform.actualtable"
            placeholder="您的预期桌数"
            style="width: 250px"
          ></el-input>
          <el-input
            v-model="hotelform.sparetable"
            placeholder="您的备用桌数"
            style="width: 250px"
          ></el-input>
        </div>
        <div class="service-form">
          <el-input
            v-model="hotelform.phone"
            placeholder="请输入您的联系方式"
            style="width: 502px"
          ></el-input>
        </div>
      </div>
      <div class="service-btn" @click="hotelSubmit">立即预约-酒店管家</div>
    </div>
    <!-- 底图轮播 -->
    <div class="page-bg-box">
      <div class="page-bg page-bg-hotel"></div>
    </div>
    <!-- footer -->
    <Footer>
      <template v-slot:footer-content></template>
    </Footer>
    <!-- 手机短信预约 -->
    <vPhoneLayer v-show="showlayer" @closeLayer="closeLayer" :type="1" :id="hotelid"></vPhoneLayer>
    <!-- 酒店活动 -->
    <Activity v-show="showActivity" @closeActivity="closeActivity" :result="activity"></Activity>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import HomeheaderBar from "@/components/page/Home/topbar-home.vue";
import HomeNav from "@/components/page/Home/nav-home.vue";
import Footer from "@/components/common/Footer/index.vue";
import Active from "@/components/page/Home/navfixed.vue";
import Activity from "@/components/page/Hotel/activity.vue";
import FixedNav from "@/components/page/Home/navfixed";
import vPagination from "@/components/common/Pagination/index.vue";
import vPhoneLayer from "@/components/common/phone/phone.vue";
import Empty from "@/components/page/Other/empty.vue";
import Service from "@/components/page/Other/service.vue";
import http from "@/axios/http";
import Swiper from "swiper";
import $ from "jquery";
export default {
  data() {
    return {
      primeMiddles: [
        {
          path: require("../../../assets/images/hotel-home-banner01.jpg"),
          url: ""
        },
        {
          path: require("../../../assets/images/hotel-home-banner02.jpg"),
          url: ""
        }
      ],
      hotelList: [],
      searchform: {
        characteristic: 0,
        type: 0,
        maxtable: 0,
        moneytype: 0,
        prosort: "",
        sorttype: 0
      },
      total: 0,
      limit: 6,
      page: 1,
      isEmpty: false,
      isgift: 0,
      isdiscount: 0,
      showlayer: false,
      showActivity: false,
      moneyList: [],
      tableList: [],
      styleList: [],
      typeList: [],
      areaList: [],
      hotelform: {
        phone: '',
        hotelid: 0,
        areaname: '',
        areaid: '',
        moneytype: '',
        moneytypeid: '',
        actualtable: '',
        sparetable: ''
      },
      hotelid: 0,
      activity: {}
    };
  },
  watch: {
  
  },
  computed: {
    ...mapState([
      '_cityinfo'
    ]),
    sortPrice() {
      return {
        noSort:
          this.searchform.prosort === "" && this.searchform.sorttype === 0,
        asc:
          this.searchform.prosort === "moneytype" &&
          this.searchform.sorttype === 1,
        desc:
          this.searchform.prosort === "moneytype" &&
          this.searchform.sorttype === 2
      };
    },
    sortType() {
      return {
        noSort:
          this.searchform.prosort === "" && this.searchform.sorttype === 0,
        asc:
          this.searchform.prosort === "type" && this.searchform.sorttype === 1,
        desc:
          this.searchform.prosort === "type" && this.searchform.sorttype === 2
      };
    }
  },
  components: {
    HomeheaderBar,
    HomeNav,
    Footer,
    FixedNav,
    vPagination,
    vPhoneLayer,
    Empty,
    Activity,
    Service
  },
  created() {
    this.gotListData();
    this.tableListData();
    this.styleListData();
    this.typeListData();
    this.moneyHotelList();
    this.areasListData();
  },
  mounted() {
    this.initSwiper();
  },
  beforeDestroy() {},
  methods: {
    hotelSubmit () {
      if (!this.hotelform.moneytypeid) {
        this.$message.error({
          message: '请您选择酒店价位',
          offset: 100
        });
      } else if (!this.hotelform.areaid) {
        this.$message.error({
          message: '请您选择酒店位置',
          offset: 100
        });
      } else if (!/^[1-9][0-9]*$/.test(this.hotelform.actualtable)) {
        this.$message.error({
          message: '请您输入正确的预期桌数',
          offset: 100
        });
      } else if (!/^1[3456789]\d{9}$/.test(this.hotelform.phone)) {
        this.$message.warning('请您的手机号不合法');
      } else {
        if (this.hotelform.sparetable) {
          if (!/^[0-9][0-9]*$/.test(this.hotelform.sparetable)) {
            this.$message.error({
              message: '请您输入正确的备用桌数',
              offset: 100
            });
            return
          } else {
            if (this.hotelform.sparetable.length >= 2 && parseInt(this.hotelform.sparetable.charAt(0)) === 0) {
              this.$message.error({
                message: '请您输入正确的备用桌数',
                offset: 100
              });
              return
            }
          }
        } else {
          this.hotelform.sparetable = 0;
        }
        const filtermoney = this.moneyList.filter((item, index) => {
          return item.id === this.hotelform.moneytypeid;
        })
        this.hotelform.moneytype = filtermoney[0].name;
        const filterareas = this.areaList.filter((item, index) => {
          return item.areaid === this.hotelform.areaid;
        })
        this.hotelform.areaname = filterareas[0].areaname;
        this.hotelPost();
      }
    },
    resetHotelSubmit () {
      this.hotelform = {
        phone: '',
        hotelid: 0,
        areaname: '',
        areaid: '',
        moneytype: '',
        moneytypeid: '',
        actualtable: '',
        sparetable: ''
      }
    },
    hotelPost () {
      http.post("/hotelsubscribe/addhotelsubscribe.do", {
        hotelid: this.hotelform.hotelid,
        phone: this.hotelform.phone,
        areaid: this.hotelform.areaid,
        areaname: this.hotelform.areaname,
        moneytypeid: this.hotelform.moneytypeid,
        moneytype: this.hotelform.moneytype,
        actualtable: this.hotelform.actualtable,
        sparetable: this.hotelform.sparetable,
        cityname: this._cityinfo.name,
        cityid: this._cityinfo.id,
      })
      .then((result) => {
        if (result.status === 1) {
          this.$message.success({
            message: result.msg,
            offset: 100
          });
          this.resetHotelSubmit();
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    openActivity (item, index) {
      if (item.length) {
        if (index === 1) {
          this.activity = item[0]
        } else {
          this.activity = item[1]
        }
        this.showActivity = true;
      }
    },
    closeActivity () {
      this.showActivity = false;
    },
    openLayer(item) {
      this.hotelid = item.id;
      this.showlayer = true;
    },
    closeLayer() {
      this.showlayer = false;
    },
    gotListData() {
      http
        .post("/recommend/hotellistbycity.do", {
          page: this.page,
          limit: this.limit,
          cityid: this._cityinfo.id,
          areaid: this._cityinfo.areaid,
          type: this.searchform.type,
          maxtable: this.searchform.maxtable,
          moneytype: this.searchform.moneytype,
          characteristic: this.searchform.characteristic,
          prosort: this.searchform.prosort,
          sorttype: this.searchform.sorttype
        })
        .then(result => {
          if (result.status === 1) {
            let data = result.data.result;
            this.total = result.data.total;
            this.hotelList = data;
            if (data.length) {
              this.isEmpty = false
            } else {
              this.isEmpty = true
            }
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch(error => {
          this.$message.error(error);
        });
    },
    pagechange(page) {
      this.isEmpty = false;
      this.page = page;
      this.gotListData();
    },
    clickGift() {
      let isgift = this.isgift;
      if (isgift === 0) {
        this.isgift = 1;
      } else {
        this.isgift = 0;
      }
    },
    clickDiscounts() {
      let isdiscount = this.isdiscount;
      if (isdiscount === 0) {
        this.isdiscount = 1;
      } else {
        this.isdiscount = 0;
      }
    },
    clickSortDefault() {
      this.isEmpty = false;
      this.searchform.prosort = "";
      this.searchform.sorttype = 0;
      this.gotListData();
    },
    changeSort(value) {
      this.isEmpty = false;
      this.searchform.prosort = value;
      let sorttype = this.searchform.sorttype;
      if (sorttype === 0) {
        this.searchform.sorttype = 1;
      } else if (sorttype === 1) {
        this.searchform.sorttype = 2;
      } else if (sorttype === 2) {
        this.searchform.sorttype = 1;
      }
      this.gotListData();
    },
    changeStyle(id) {
      this.isEmpty = false;
      this.searchform.characteristic = id;
      this.gotListData();
    },
    changeTable(id) {
      this.isEmpty = false;
      this.searchform.maxtable = id;
      this.gotListData();
    },
    changeType(id) {
      this.isEmpty = false;
      this.searchform.type = id;
      this.gotListData();
    },
    changeMoney(id) {
      this.isEmpty = false;
      this.searchform.moneytype = id;
      this.gotListData();
    },
    areasListData() {
      //区列表
      http.post("/areas/selectbyparentid.do", {
        parentid: this._cityinfo.id
      }).then((result) => {
        if (result.status === 1) {
          this.areaList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    moneyHotelList() {
      //金额下拉
      http
        .post("/money/droplist.do", {
          type: 1
        })
        .then(result => {
          if (result.status === 1) {
            this.moneyList = result.data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch(error => {
          this.$message.error(error);
        });
    },
    styleListData() {
      //酒店特色
      http
        .post("/style/droplist.do", {
          type: 3
        })
        .then(result => {
          if (result.status === 1) {
            this.styleList = result.data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch(error => {
          this.$message.error(error);
        });
    },
    typeListData() {
      //酒店类型
      http
        .post("/type/hotletype.do", {})
        .then(result => {
          if (result.status === 1) {
            this.typeList = result.data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch(error => {
          this.$message.error(error);
        });
    },
    tableListData() {
      //桌数
      http
        .post("/type/tabletype.do", {
          type: 1
        })
        .then(result => {
          if (result.status === 1) {
            this.tableList = result.data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch(error => {
          this.$message.error(error);
        });
    },
    initSwiper() {
      this.$nextTick(() => {
        const primeMiddle = new Swiper(this.$refs.primeMiddle, {
          loop: true,
          autoplay: 5000, // 可选选项，自动滑动
          pagination: ".hotel-banner .swiper-pagination",
          prevButton: ".hotel-banner .swiper-button-prev",
          nextButton: ".hotel-banner .swiper-button-next",
          autoplayDisableOnInteraction: false
        });
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.page-wrapper {
  .jd-lists-box {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    padding: 20px 0;
    justify-content: space-between;
    .jd-list-left {
      width: 898px;
      .search-box {
        width: 100%;
        height: 38px;
        line-height: 38px;
        background: #fafafa;
        border: 1px solid #eee;
        font-size: 14px;
        display: flex;
        .sort-li {
          display: flex;
          margin-right: 20px;
          a {
            display: block;
            text-decoration: none;
            cursor: pointer;
            &.items_l {
              padding: 0 20px 0 17px;
              color: #333;
            }
            &.items_cur {
              color: #FC4747;
            }
            &.items {
              position: relative;
              padding: 0 35px 0 17px;
              color: #333;
              i {
                position: absolute;
                top: 15px;
                right: 7px;
                width: 20px;
                height: 20px;
                background-image: url("~@/assets/images/sort.png");
                background-repeat: no-repeat;
              }
            }
            &.noSort {
              i {
                background-position: 0 0;
              }
            }
            &.asc {
              color: #FC4747;
              i {
                background-position: 0 -30px;
              }
            }
            &.desc {
              color: #FC4747;
              i {
                background-position: 0 -60px;
              }
            }
            &:hover {
              color: #FC4747;
            }
          }
        }
        .condition {
          display: flex;
          li.activity_tag {
            position: relative;
            float: left;
            padding: 0 20px 0 26px;
            color: #FC4747;
            cursor: pointer;
            i {
              display: block;
              width: 20px;
              height: 18px;
              position: absolute;
              top: 10px;
              left: 0;
              background-image: url("~@/assets/images/x1.jpg");
              background-repeat: no-repeat;
              background-position: 0 0;
            }
            &.cur {
              i {
                background-image: url("~@/assets/images/x2.jpg");
              }
            }
          }
        }
      }
      .jd-list-wrapper {
        width: 898px;
        height: auto;
        .list-left-content {
          width: 898px;
          height: auto;
          margin: 0 auto;
          padding: 30px 0;
          border-bottom: 1px solid #efefef;
          display: flex;
          .li-content-image {
            width: 373px;
            height: 245px;
            .content-image-a {
              display: block;
              width: 100%;
              height: 100%;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
          .left-content-box {
            width: 440px;
            height: auto;
            float: left;
            padding-left: 45px;
            .left-content-ul {
              width: 440px;
              .content-ul-title {
                width: 100%;
                height: 23px;
                display: flex;
                margin-bottom: 14px;
                .title-name {
                  width: 300px;
                  display: block;
                  height: 23px;
                  a {
                    display: block;
                    width: 100%;
                    height: 23px;
                    line-height: 23px;
                    font-size: 18px;
                    color: #333;
                  }
                }
                .title-price {
                  display: block;
                  width: 150px;
                  height: 23px;
                  line-height: 23px;
                  font-size: 14px;
                  color: #f33545;
                }
              }
              .content-ul-star {
                font-size: 13px;
                height: 13px;
                line-height: 13px;
                color: #999;
                margin-bottom: 8px;
              }
              .content-ul-row {
                display: flex;
                font-size: 13px;
                color: #999;
                margin-bottom: 8px;
                .name {
                  display: block;
                  margin-right: 5px;
                  line-height: 18px;
                }
                .name-content {
                  display: block;
                  width: 380px;
                  line-height: 18px;
                }
              }
              .content-ul-activity {
                width: 100%;
                height: 78px;
                position: relative;
                background: #f6f7f9;
                display: flex;
                .activity-left {
                  width: 310px;
                  height: 78px;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  .activity-li {
                    height: 20px;
                    display: flex;
                    padding-left: 10px;
                    cursor: pointer;
                    span {
                      display: block;
                      width: 50px;
                      height: 20px;
                      line-height: 20px;
                      background: #fd6c6e;
                      color: #fff;
                      text-align: center;
                      position: relative;
                      border-radius: 3px;
                      margin-right: 10px;
                      &::after {
                        display: block;
                        border-color: transparent transparent transparent
                          #fd6c6e;
                        top: 5px;
                        content: "";
                        width: 0;
                        height: 0;
                        border-width: 4px;
                        border-style: solid;
                        position: absolute;
                        left: 50px;
                        z-index: 9;
                      }
                    }
                    p {
                      height: 20px;
                      line-height: 20px;
                      font-size: 12px;
                      color: #666;
                    }
                    &.activity-li-go {
                      margin-bottom: 10px;
                      span {
                        background: #ffb260;
                        &::after {
                          border-color: transparent transparent transparent
                            #ffb260;
                        }
                      }
                    }
                  }
                }
                .activity-right {
                  width: 120px;
                  text-align: center;
                  height: 78px;
                  line-height: 78px;
                  .catdate {
                    width: 110px;
                    height: 30px;
                    background-color: #e94653;
                    border-radius: 6px;
                    color: #fff;
                    font-size: 16px;
                    line-height: 30px;
                    text-align: center;
                    cursor: pointer;
                    margin-top: 24px;
                  }
                }
              }
              .content-ul-operation {
                display: flex;
                height: 40px;
                margin-top: 10px;
                .catdate {
                  width: 160px;
                  height: 40px;
                  background-color: #e94653;
                  border-radius: 6px;
                  color: #fff;
                  font-size: 16px;
                  line-height: 40px;
                  text-align: center;
                  cursor: pointer;
                }
              }
            }
          }
        }
        .pagination-wrapper {
          margin: 20px;
        }
      }
    }
    .jd-list-right {
      width: 282px;
      .right-part-row {
        width: 280px;
        margin-bottom: 20px;
        border: solid 1px #e6e6e6;
        .ad-image {
          display: block;
          width: 100%;
          height: 118px;
          img {
            width: 100%;
            height: 118px;
          }
        }
      }
    }
  }
  .hotel-prime {
    width: 1200px;
    margin: 20px auto;
    display: flex;
    box-shadow: 0 3px 6px rgba(102, 102, 102, 0.16);
    height: 380px;
    box-sizing: border-box;
    position: relative;
    .hotel-banner {
      height: 380px;
      .pic {
        display: block;
        height: 380px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .u-swiper-button {
        width: 40px;
        top: 50%;
        margin-top: -30px;
        height: 60px;
        background-repeat: no-repeat;
        background-size: 40px 60px;
        background: center center;
        opacity: 1;
        &.swiper-button-prev {
          left: 0;
          background-image: url("~@/assets/images/trends-prev1.png");
        }
        &.swiper-button-next {
          right: 0;
          background-image: url("~@/assets/images/trends-next1.png");
        }
      }
      &:hover {
        .swiper-button-prev {
          opacity: 1;
          background-image: url("~@/assets/images/trends-prev2.png");
        }
        .swiper-button-next {
          opacity: 1;
          background-image: url("~@/assets/images/trends-next2.png");
        }
      }
      /*
      .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        border: 2px solid #B9BEB9;
        margin: 2px 4px;
        bottom: 23px;
      }
      .swiper-pagination-bullet-active {
        width: 10px;
        height: 10px;
        border: 3px solid #FDD9DD;
        margin: 0 4px;
      }
      */
      .swiper-pagination-bullet {
        width: 80px;
        height: 2px;
        background: #999;
        border-radius: 2px;
        position: relative;
        bottom: 23px;
        &::after {
          position: absolute;
          width: 0;
          height: 100%;
          left: 0;
          top: 0;
          display: block;
          content: "";
          clear: both;
          background: #dc1414;
          transition: all 5s linear;
        }
      }
      .swiper-pagination-bullet-active {
        &::after {
          animation: caseswiper linear 5s infinite;
        }
      }
    }
  }
  .hotel-recommend {
    width: 100%;
    height: 154px;
    background: #fff;
    padding-bottom: 0;
    .recommend {
      width: 1200px;
      margin: 0 auto;
      background: #fff;
      height: 154px;
      overflow: hidden;
      box-sizing: border-box;
      // border: 1px solid #ebebeb;
      img {
        display: block;
        width: 100%;
      }
    }
  }
}

@keyframes caseswiper {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.page-wrapper {
  .search-form-box {
    width: 1200px;
    margin: 30px auto 0;
    .search-form {
      width: 100%;
      border: solid 1px #e6e6e6;
      box-sizing: border-box;
      .top-nav {
        height: 45px;
        line-height: 45px;
        text-align: left;
        text-indent: 30px;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        font-weight: 500;
        color: #666;
        background: #fafafa;
        span {
          text-indent: 0;
          margin: 0 6px
        }
      }
      .type-rows {
        width: 100%;
        display: flex;
        .title {
          width: 116px;
          text-indent: 30px;
          height: 45px;
          line-height: 45px;
          text-align: left;
          font-size: 14px;
          font-weight: 500;
          color: #666;
          
        }
        .typecur {
          width: 90px;
          border-left: 1px solid #e5e5e5;
          a {
            display: block;
            width: 90px;
            padding-left: 45px;
            box-sizing: border-box;
            height: 45px;
            line-height: 45px;
            text-align: left;
            cursor: pointer;
          }
          &.typecur-active {
            a {
              color: #FC4747;
            }
          }
        }
        .types {
          display: flex;
          width: 991px;
          flex-wrap: wrap;
          li {
            a {
              display: block;
              width: 90px;
              box-sizing: border-box;
              padding: 0 10px;
              height: 45px;
              line-height: 45px;
              text-align: left;
              cursor: pointer;
              font-size: 12px;
              color: #666;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              &.pirce-a {
                width: 120px;
              }
            }
            &.typecur-active {
              a {
                color: #FC4747;
              }
            }
            &:hover {
              a {
                color: #FC4747;
              }
            }
          }
        }
        
      }
    }
  }
  .service-form-box {
    width: 1200px;
    height: 148px;
    border: 1px solid #ccc;
    margin: 30px auto 60px;
    display: flex;
    align-items: center;
    .service-left {
      width: 304px;
      height: 148px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .service-right {
      width: 510px;
      height: 148px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 20px 0 50px;
      box-sizing: border-box;
      .service-form {
        width: 510px;
        height: 40px;
      }
    }
    .service-btn {
      display: block;
      height: 32px;
      line-height: 30px;
      padding: 0 15px;
      background-color: #FC4747;
      color: #fff;
      border: 1px solid #FC4747;
      box-sizing: border-box;
      cursor: pointer;
      border-radius: 5px;
    }
  }
  .page-bg-box {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 -50%;
    z-index: -2;
    .page-bg {
      width: 100%;
      height: 527px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      font-size: 0;
      &.page-bg-hotel {
        background-image: url("~@/assets/images/first-screen-bg05.jpg");
      }
      &::after {
        content: "";
        width: 100%;
        height: 222px;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0,#fff 100%);
      }
    }
  }
}
</style>
