<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-26 17:09:26
 * @LastEditTime: 2019-08-13 10:44:33
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="menu-wapper">
    <div class="menu-box">
      <span class="close-btn" @click="closeLayer"></span>
      <h2 class="title">{{result.name}}</h2>
      <div class="content">
        <ul class="menu-ul">
          <li class="menu-li" v-for="(item, index) in result.itemlist" :key="index">
            {{item.name}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
export default {
  props: {
    result: {
      default: {
        itemlist: []
      }
    }
  },
  data () {
    return {
     message: {}
    }
  },
  watch: {
   
  },
  computed: {
    
  },
  mounted () {
    
  },
  beforeDestroy () {
    
  },
  methods: {
    closeLayer () {
      this.$emit('closeMenu')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.menu-wapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0, 0.5);
  z-index: 100;
  .menu-box {
    width: 505px;
    min-height: 400px;
    padding: 15px 0;
    background-color: #fafafb;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -200px;
    z-index: 10;
    border-radius: 10px;
    .close-btn {
      position: absolute;
      width: 30px;
      height: 30px;
      background-image: url('~@/assets/images/close_icon.png');
      background-size: cover;
      background-repeat: no-repeat;
      right: -40px;
      top: -40px;
      cursor: pointer;
      z-index: 11;
    }
    .title {
      text-align: center;
      height: 40px;
      line-height: 40px;
      font-size: 20px;
      color: #333;
      margin-bottom: 20px;
      
    }
    .content {
      padding: 0 30px;
      .menu-ul {
        display: flex;
        flex-wrap: wrap;
        li {
          width: 100px;
          border: 1px solid #FC4747;
          line-height: 30px;
          height: 32px;
          margin-right: 15px;
          margin-bottom: 15px;
          box-sizing: border-box;
          text-align: center;
          color: #FC4747;
          &:nth-child(4n) {
            margin-right: 0;
          }
        }
      }
    }
  }
}
</style>
