.page-wrapper {
  /*查询栏*/
  .search-form-box {
    width: 1200px;
    margin: 30px auto 0;

    .search-form {
      width: 100%;
      border: solid 1px #e6e6e6;
      box-sizing: border-box;

      .top-nav {
        height: 45px;
        line-height: 45px;
        text-align: left;
        text-indent: 30px;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        font-weight: 500;
        color: #666;
        background: #fafafa;

        span {
          text-indent: 0;
          margin: 0 6px
        }
      }

      .type-rows {
        width: 100%;
        display: flex;

        .title {
          width: 116px;
          text-indent: 30px;
          height: 45px;
          line-height: 45px;
          text-align: left;
          font-size: 14px;
          font-weight: 500;
          color: #666;

        }

        .typecur {
          width: 90px;
          border-left: 1px solid #e5e5e5;

          a {
            display: block;
            width: 90px;
            padding-left: 45px;
            box-sizing: border-box;
            height: 45px;
            line-height: 45px;
            text-align: left;
            cursor: pointer;
          }

          &.typecur-active {
            a {
              color: #FC4747;
            }
          }
        }

        .types {
          display: flex;
          width: 991px;
          flex-wrap: wrap;

          li {
            a {
              display: block;
              width: 90px;
              box-sizing: border-box;
              padding: 0 10px;
              height: 45px;
              line-height: 45px;
              text-align: left;
              cursor: pointer;
              font-size: 12px;
              color: #666;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            &.typecur-active {
              a {
                color: #FC4747;
              }
            }

            &:hover {
              a {
                color: #FC4747;
              }
            }
          }
        }

      }
    }
  }

  /*预约表单*/
  .service-form-box {
    width: 1200px;
    height: 148px;
    border: 1px solid #ccc;
    margin: 30px auto 60px;
    display: flex;
    align-items: center;

    .service-left {
      width: 304px;
      height: 148px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .service-right {
      width: 510px;
      height: 148px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 20px 0 50px;
      box-sizing: border-box;

      .service-form {
        width: 510px;
        height: 40px;
      }
    }

    .service-btn {
      display: block;
      height: 32px;
      line-height: 30px;
      padding: 0 15px;
      background-color: #FC4747;
      color: #fff;
      border: 1px solid #FC4747;
      box-sizing: border-box;
      cursor: pointer;
      border-radius: 5px;
    }
  }

  /*背景图*/
  .page-bg-box {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 -50%;
    z-index: -2;

    .page-bg {
      width: 100%;
      height: 527px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      font-size: 0;

      &::after {
        content: "";
        width: 100%;
        height: 222px;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, #fff 100%);
      }

      &.page-bg-door {
        background-image: url('~@/assets/images/first-screen-bg06.jpg');
      }
    }
  }
}