.detail-nav {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 20px 0 20px;
  .nav_main {
    width: 1200px;
    .nav_ul {
      padding: 0 15px;
      box-sizing: border-box;
      width: 1200px;
      height: 60px;
      line-height: 60px;
      display: flex;
      li {
        font-size: 16px;

        a {
          color: #444;
        }

        &:nth-child(n+2) {
          &::before {
            content: ">";
            padding: 0 15px;
            color: #ccc;
          }
        }
        &:last-child {
          a {
            color: #333;
          }
        }
      }
    }
  }
}

