<template>
  <div>
    <Page>
      <template v-slot:page-content>
        <div class="privacy-protection-init">
          <p class="caption">知识产权</p>
          <p class="sub">Intellectual Property</p>
          <ul class="list">
            <li>
              1、
              除非优优文化传播有限公司（以下简称“优优”）另行声明外，由优优运营的网站（www.sh.uuwed.com，以下简称“本网”）及客户端内所有产品、技术、软件、程序、数据及其他信息（包括文字、图标、图片、照片、音频、视频、图表、色彩组合、版面设计、商标、商号、域名等）的所有权利（包括但不限于著作权、商标权、商业秘密等相关权利）均属北京蜜匠所有。任何媒体、网站或其他任何形式的法律实体和个人未经北京蜜匠书面授权，不得复制、转载、摘编、修改、链接、镜像或以其他方式展示、传播上述内容。
            </li>
            <li>
              2、
              凡本网注明来源“优优婚礼”的所有内容，包括但不限于文字、图片、音频视频，版权均属优优所有，任何媒体、网站或其他任何形式的法律实体和个人均不得转载、链接或以其他方式复制传播。与北京蜜匠签订相关协议或已经获得北京蜜匠书面授权许可的加盟商或其他任何形式的法律实体和个人，应在授权范围内使用，并注明来源“蜜匠婚礼”。
            </li>
            <li>
              3、“优优图形”等文字或形象均进行了商标注册保护，“优优”的注册商标是长沙现象网络科技有限公司授权优优使用，“蜜匠”商标信息，可见诸于我国公开的商标注册信息中。任何媒体、网站或其他任何形式的法律实体和个人未经北京蜜匠的书面许可不得使用上述商标。
            </li>
            <li>
              4、对于不遵守本声明和/或其他侵权违法行为，优优保留追究其法律责任的权利。
            </li>
            <li>
              5、侵权投诉与举报电话：<a href="javascript:;">0731-85202850</a>
            </li>
          </ul>
        </div>
      </template>
    </Page>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import http from "@/axios/http";
import Page from "@/components/page/Home/base";
export default {
  data() {
    return {};
  },
  watch: {},
  computed: {},
  components: {
    Page
  },
  mounted() {},
  beforeDestroy() {},
  methods: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.privacy-protection-init {
  width: 1000px;
  margin: 80px auto 120px;
  padding: 0 50px;
}

.privacy-protection-init .caption {
  line-height: 56px;
  font-size: 36px;
  font-weight: 600;
  display: block;
}

.privacy-protection-init .sub {
  line-height: 24px;
  font-size: 20px;
  margin-bottom: 50px;
  display: block;
}

.privacy-protection-init .list li {
  line-height: 22px;
  color: #666;
  font-size: 14px;
  font-weight: 300;
  display: block;
  padding-bottom: 30px;
}

.privacy-protection-init .list .title {
  font-size: 16px;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

.privacy-protection-init .list .text {
  font-size: 14px;
  padding-left: 24px;
  display: block;
}
</style>
