<template>
  <div class="empty-box">
    <img src="~@/assets/images/nulldata.png" alt="" />
    <p>抱歉，没有找到数据</p>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
export default {
  data () {
    return {
      
    }
  },
  watch: {
    
  },
  computed: {},
  mounted () {
    
  },
  beforeDestroy () {
    
  },
  methods: {
  
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.empty-box {
  width: 149px;
  height: 193px;
  margin: 50px auto 100px;
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
  p {
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: 600;
    color: #999;
  }
}
</style>
