<template>
  <div class="page-wrapper join-page">
    <HomeheaderBar></HomeheaderBar>
    <HomeNav></HomeNav>
    <FixedNav></FixedNav>
    <!-- 第一屏 -->
    <div class="join-content">
      <img src="~@/assets/images/join_content.png" class="join-image">
    </div>
    <!-- footer -->
    <Footer>
      <template v-slot:footer-content></template>
    </Footer>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import HomeheaderBar from "@/components/page/Home/topbar-home";
import HomeNav from "@/components/page/Home/nav-home";
import Footer from "@/components/common/Footer/index";
import FixedNav from "@/components/page/Home/navfixed";
import http from "@/axios/http";
export default {
  data() {
    return {
     
    };
  },
  watch: {},
  computed: {
    ...mapState([
      '_cityinfo'
    ])
  },
  components: {
    HomeheaderBar,
    HomeNav,
    Footer,
    FixedNav
  },
  created() {
   
  },
  mounted() {
    
  },
  beforeDestroy() {},
  methods: {
  
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.join-page {
  width: 100%;
  .join-content {
    width: 1200px;
    margin: 0 auto;
    background: #fff;
    .join-image {
      display: block;
      width: 100%;
      margin: 0 auto;
    }
  }
}
</style>
