<template>
  <div>
    <Page>
      <template v-slot:page-content>
        <div class="privacy-protection-init">
          <p class="caption">免责声明</p>
          <p class="sub">Disclaimer</p>
          <ul class="list">
            <li>
              访问者在接受优优婚礼服务之前，请务必仔细阅读本免责声明并同意本声明。访问者访问优优婚礼的行为以及通过各形式利用本网站的行为，都将被视作是对本声明全部内容的无异议的认可；如有异议，请立即跟优优婚礼协商，并取得本网站的书面同意意见。
            </li>
            <li>
              优优婚礼所公开刊登的内容和所提供的信息资料，仅供访问者参考使用，优优婚礼不保证所有信息、文本、图形、链接及其它项目的绝对准确性和完整性，不会对任何错误或遗漏承担任何法律责任，也不会对使用或无法使用本网站所载数据或就使用本网页或其中任何数据所采取的任何行动或作出的决定引起合约上、侵权法或其他方面损害承担赔偿。
            </li>
            <li>
              商家在优优婚礼发布的相关信息（包括但不限于商铺名称、公司名称、联系人及联络信息，产品的描述和说明，相关图片、视讯等）均由商家自行提供，在任何情况下，优优婚礼对由该等信息引起的任何争议、纠纷等均不承担任何责任。
            </li>
            <li>
              对于优优婚礼提供的电子公告牌（BBS）服务，用户发表的文章或图片仅代表作者本人观点，与本网站立场无关，作者文责自负。因用户在优优婚礼上公开张贴或私下发送的资讯、资料、文字、程序、音乐、照片、图形、视频或其他资料和信息造成的侵权或其他损害，优优婚礼不会承担任何责任。同时，优优婚礼不对其中包含或引用的信息的准确性、可靠性或完整性提供任何明示或暗示的保证，对于任何因使用或信赖此类信息而造成（或声称造成）的任何直接或间接损失，优优婚礼均不承担任何责任。<br />
              用户之间通过优优婚礼相识、交往中所发生或可能发生的任何心理、生理上的伤害和经济上的损失，优优婚礼不承担任何责任。用户因为违反优优婚礼规定而触犯中华人民共和国法律的，责任自负，本网站不承担任何责任。由于非故意及不可抗拒的原因（含系统维护和升级），导致的用户数据丢失、服务暂停或停止，优优婚礼不承担赔偿及其他连带的法律责任。
            </li>
            <li>
              用户在没有优优婚礼明确的书面同意情况下，不得以任何方式复制、传播、出售、出版、广播、公布、传递优优婚礼信息内容或者利用优优婚礼上的任何信息和内容作商业用途，在转载或者下载优优婚礼上其他用户公开发布或上载的信息时还务必尊重该信息的版权和著作权。优优婚礼对于因复制或发布优优婚礼的信息而引致的任何责任、损失或损毁，一概不负任何责任。
            </li>
            <li>
              本声明未涉及的问题参见国家有关法律法规，当本声明与国家法律法规冲突时，以国家法律法规为准。<br />
              优优婚礼 2019年6月1日
            </li>
          </ul>
        </div>
      </template>
    </Page>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import http from "@/axios/http";
import Page from "@/components/page/Home/base";
export default {
  data() {
    return {};
  },
  watch: {},
  computed: {},
  components: {
    Page
  },
  mounted() {},
  beforeDestroy() {},
  methods: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.privacy-protection-init {
  width: 1000px;
  margin: 80px auto 120px;
  padding: 0 50px;
}

.privacy-protection-init .caption {
  line-height: 56px;
  font-size: 36px;
  font-weight: 600;
  display: block;
}

.privacy-protection-init .sub {
  line-height: 24px;
  font-size: 20px;
  margin-bottom: 50px;
  display: block;
}

.privacy-protection-init .list li {
  line-height: 22px;
  color: #666;
  font-size: 14px;
  font-weight: 300;
  display: block;
  padding-bottom: 30px;
}

.privacy-protection-init .list .title {
  font-size: 16px;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

.privacy-protection-init .list .text {
  font-size: 14px;
  padding-left: 24px;
  display: block;
}
</style>
