<template>
  <div>
    <Page>
      <template v-slot:page-content>
        <div class="privacy-protection-init">
          <p class="caption">隐私保护</p>
          <p class="sub">Privacy Protection</p>
          <ul class="list">
            <li>
              优优婚礼（www.sh.uuwed.com，以下称“本网站”）隐私权保护声明系本网站保护用户个人隐私的承诺。本声明适用於您与优优婚礼的交互行为以及您登记和使用优优婚礼的在线服务。故特此说明本网站对用户个人信息所采取的收集、使用和保护政策，请您务必仔细阅读。<br /><br />
            </li>
            <li>
              <span class="title">使用者非个人化信息</span>
              我们将通过您的IP地址来收集非个人化的信息，例如您的浏览器性质、操作系统种类、给您提供接入服务的ISP的域名等，以优化在您计算机屏幕上显示的页面。通过收集上述信息，我们亦进行客流量统计，从而改进网站的管理和服务。
            </li>
            <li>
              <span class="title">个人资料</span>
              当您在优优婚礼进行用户注册登记、定制业务或参与公共论坛等活动时，在您的同意及确认下，本网站将通过注册表格、订单等形式要求您提供一些个人资料。这些个人资料包括：<br /><br />
              <p class="text">
                个人识别资料：如姓名、性别、年龄、出生日期、身份证号码、电话、通信地址、住址、电子邮件地址等情况；<br />
                个人背景： 职业、教育程度、收入状况、婚姻、家庭状况。
              </p>
              <br />
              请了解，在未经您同意及确认之前，本网站不会将您为参加本网站之特定活动所提供的资料利用于其它目的。惟按下列第6条规定应政府及法律要求披露时不在此限。
            </li>
            <li>
              <span class="title">信息安全</span>
              本网站将对您所提供的资料进行严格的管理及保护，本网站将使用相应的技术，防止您的个人资料丢失、被盗用或遭窜改。<br /><br />
              本网站得在必要时委托专业技术人员代为对该类资料进行电脑处理，以符合专业分工时代的需求。如本网站将电脑处理之通知送达予您，而您未在通知规定的时间内主动明示反对，本网站将推定您已同意。惟在其后您仍然有权如下述第4.1.4条之规定，请求停止电脑处理。
            </li>
            <li>
              <span class="title">用户权利</span>
              您对于自己的个人资料享有以下权利：
              <p class="text">
                随时查询及请求阅览；<br />
                随时请求补充或更正；<br />
                随时请求删除；<br />
                请求停止电脑处理及利用。
              </p>
            </li>
            <li>
              <span class="title">限制利用原则</span>
              本网站惟在符合下列条件之一，方对收集之个人资料进行必要范围以外之利用：
              <p class="text">
                已取得您的书面同意；<br />
                为免除您在生命、身体或财产方面之急迫危险；<br />
                为防止他人权益之重大危害；<br />
                为增进公共利益，且无害于您的重大利益。
              </p>
            </li>
            <li>
              <span class="title">个人资料之披露</span>
              当政府机关依照法定程序要求本网站披露个人资料时，本网站将根据执法单位之要求或为公共安全之目的提供个人资料。在此情况下之任何披露，本网站均得免责。
            </li>
            <li>
              <span class="title">未成年人隐私权的保护</span>
              本网站将建立和维持一合理的程序，以保护未成年人个人资料的保密性及安全性。本网站郑重声明：任何16岁以下的未成年人参加网上活动应事先得到家长或其法定监护人（以下统称为”监护人”）的可经查证的同意。
              <br /><br />
              监护人应承担保护未成年人在网络环境下的隐私权的首要责任。
              <br /><br />
              本网站收集未成年人的个人资料，仅为回覆未成人特定要求的目的，一俟回复完毕即从记录中删除，而不会保留这些资料做进一步的利用。
              <br /><br />
              未经监护人之同意，本网站将不会使用未成年人之个人资料，亦不会向任何第三方披露或传送可识别该未成人的个人资料。本网站如收集监护人或未成年人的姓名或其它网络通讯资料之目的仅是为获得监护人同意，则在经过一段合理时间仍未获得同意时，将主动从记录中删除此类资料。<br /><br />
              若经未成人之监护人同意，本网站可对未成年人之个人资料进行收集，本网站将向监护人提供：<br /><br />
              <p class="text">
                审视自其子女或被监护人收集之资料的机会；<br />
                拒绝其子女或被监护人的个人资料被进一步的收集或利用的机会；
                <br />
                变更或删除其子女或被监护人个人资料的方式。
              </p>
              监护人有权拒绝本网站与其子女或被监护人做进一步的联络。
              <br /><br />
              本网站收集未成年人的个人资料，这些资料只是单纯作为保护未成年人参与网络活动时的安全，而非作为其它目的之利用。本网站保证不会要求未成年人提供额外的个人资料，以作为允许其参与网上活动的条件。
            </li>
            <li>
              <span class="title">Cookies</span>
              Cookies是指一种技术，当使用者访问设有Cookies装置的本网站时，本网站之服务器会自动发送Cookies至阁下浏览器内，并储存到您的电脑硬盘内，此Cookies便负责记录日后您到访本网站的种种活动、个人资料、浏览习惯、消费习惯甚至信用记录。<br /><br />
              运用Cookies技术，本网站能够为您提供更加周到的个性化服务。本网站将会运用Cookies追访您的购物喜好，从而向您提供感兴趣的信息资料或储存密码，以便您造访本网站时不必每次重复输入密码。
            </li>
            <li>
              <span class="title">免责</span>
              除上述第6条规定属免责外，下列情况时本网站亦毋需承担任何责任：<br /><br />
              <p class="text">
                由于您将用户密码告知他人或与他人共享注册帐户，由此导致的任何个人资料泄露。<br />
                任何由于计算机2000年问题、黑客政击、计算机病毒侵入或发作、因政府管制而造成的暂时性关闭等影响网络正常经营之不可抗力而造成的个人资料泄露、丢失、被盗用或被窜改等。<br />
                由于与本网站链接的其它网站所造成之个人资料泄露及由此而导致的任何法律争议和后果。
              </p>
              <br />
              本网站之保护隐私声明的修改及更新权均属于优优婚礼。
            </li>
          </ul>
        </div>
      </template>
    </Page>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import http from "@/axios/http";
import Page from "@/components/page/Home/base";
export default {
  data() {
    return {};
  },
  watch: {},
  computed: {},
  components: {
    Page
  },
  mounted() {},
  beforeDestroy() {},
  methods: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.privacy-protection-init {
    width: 1000px;
    margin: 80px auto 120px;
    padding: 0 50px
}

.privacy-protection-init .caption {
    line-height: 56px;
    font-size: 36px;
    font-weight: 600;
    display: block
}

.privacy-protection-init .sub {
    line-height: 24px;
    font-size: 20px;
    margin-bottom: 50px;
    display: block
}

.privacy-protection-init .list li {
    line-height: 22px;
    color: #666;
    font-size: 14px;
    font-weight: 300;
    display: block;
    padding-bottom: 30px
}

.privacy-protection-init .list .title {
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
}

.privacy-protection-init .list .text {
    font-size: 14px;
    padding-left: 24px;
    display: block
}
</style>
