<template>
  <div class="uu-service-box">
    <div class="service-title">互联网的品质婚礼•服务承诺</div>
    <div class="service-content">
      <div class="name">自营婚庆保障</div>
      <div class="text">坚持超高性价比，自营婚庆服务10余个城市</div>
    </div>
    <div class="service-content">
      <div class="name">优选商家服务</div>
      <div class="text">一站式婚礼服务预定，精选行业口碑商家</div>
    </div>
    <div class="service-content">
      <div class="name">免费工具</div>
      <div class="text">备婚指南、电子请贴等，帮新人轻松备婚</div>
    </div>
    <div class="service-content">
      <div class="name">轻松·放心·安全</div>
      <div class="text">
        平台保障，让新人放心选择，消费透明，服务舒心
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
export default {
  data () {
    return {
      
    }
  },
  watch: {
    
  },
  computed: {},
  mounted () {
    
  },
  beforeDestroy () {
    
  },
  methods: {
  
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.uu-service-box {
  width: 280px;
  margin-bottom: 20px;
  border: solid 1px #e6e6e6;
  .service-title {
    color: #333;
    font-size: 18px;
    padding: 17px 0 15px 12px;
    border-bottom: 1px solid #e6e6e6;
  }
  .service-content {
    margin: 0 22px;
    padding: 20px 0 15px 44px;
    border-bottom: 1px solid #ededed;
    position: relative;
    &:last-child {
      border-bottom-color: transparent;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 26px;
      height: 30px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url('~@/assets/images/zyhqbz_icon.png')
    }
    &:nth-child(3) {
      &::before {
        width: 28px;
        height: 26px;
        background-image: url('~@/assets/images/yxsjfw_icon.png');
      }
    }
    &:nth-child(4) {
      &::before {
        width: 23px;
        height: 28px;
        background-image: url('~@/assets/images/mfgj_icon.png');
      }
    }
    &:nth-child(5) {
      &::before {
        width: 26px;
        height: 24px;
        background-image: url('~@/assets/images/ptbz_icon.png');
      }
    }
    .name {
      color: #999;
      font-size: 13px;
      line-height: 14px;
      margin-bottom: 2px;
    }
    .text {
      font-size: 13px;
      line-height: 18px;
      color: #333;
    }
  }
}

</style>
