<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <my-button></my-button>
    <profile></profile>
    <div id="myapp"></div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script>
    window.onload = function () {
      Vue.component('my-button', {
        data: function () {
          return {
            count: 0
          }
        },
        template: `<button v-on:click="count++">You clicked me {{ count }} times.</button>`,
        created () {
          //console.log('created')
        },
        mounted () {
          //console.log(this.count)
        }
      })
      var Profile = Vue.extend({
        template: '<p>{{firstName}} {{lastName}} aka {{alias}}</p>',
        data: function () {
          return {
            firstName: 'Walter',
            lastName: 'White',
            alias: 'Heisenberg6666'
          }
        },
        created() {
          console.log('created66')
        },
      })

      Vue.component('profile', Profile)
      
      let instance1 = new Profile();
      instance1.$mount('#myapp');

      //挂载
      let instance = new Profile();
      instance.$mount();
      document.body.appendChild(instance.$el)
      new Vue({el: '#app'})
    }
  </script>
</body>
</html>