<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-06-02 03:35:29
 * @LastEditTime: 2019-08-21 18:17:19
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div>
    <Page>
      <template v-slot:default>
        <div class="detail-page">
          <div class="detail-nav">
            <div class="nav_main">
              <ol class="nav_ul">
                <li>
                  <router-link to="/">首页</router-link>
                </li>
                <li>
                  <router-link to="/cars">婚车租赁</router-link>
                </li>
                <li><a href="javascript:;">{{result.name}}</a></li>
              </ol>
            </div>
          </div>
          <div class="partone">
            <div class="partoneL">
              <div class="bigimages">
                <ul class="bigimages-ul"
                  :style="{width: result.pcpath.length*610 + 'px'}"
                  ref="bigimagesul"
                >
                  <li
                    v-for="(item, index) in result.pcpath" :key="index"
                  >
                    <img :src="item" alt="">
                  </li>
                </ul>
              </div>
              <div class="smallimages-box">
                <a href="javascript:;" class="prev-a btn-a" @click="clickPrev">
                  <img src="~@/assets/images/next-L.png" alt="">
                </a>
                <div class="smallimages">
                  <ul class="smallimages-ul" :style="{width: result.pcpath.length*139 + 'px'}" ref="smallimagesul">
                    <li
                        v-for="(item, index) in result.pcpath" :key="index"
                        :class="{'active': imageindex === index}"
                        @click="clickImage(item, index)"
                    >
                      <img :src="item" alt="">
                    </li>
                  </ul>
                </div>
                <a href="javascript:;" class="next-a  btn-a" @click="clickNext">
                  <img src="~@/assets/images/next-R.jpg" alt="">
                </a>
              </div>
            </div>
            <div class="partoneR">
              <h2 class="name">{{result.name}}</h2>
              <div class="info">
                <span class="label-name">车身颜色：</span>
                <ul class="info-content">
                  <li
                    v-for="(item, index) in colorList" :key="index"
                    :class="{'active': orderform.colorid === item.id}"
                    @click="clickColor(item)"
                  >
                    {{item.name}}
                  </li>
                </ul>
              </div>
              <div class="info">
                <span class="label-name">婚车用途：</span>
                <ul class="info-content">
                  <li
                    v-for="(item, index) in useList" :key="index"
                    :class="{'active': orderform.purposeid === item.id}"
                    @click="clickUse(item)"
                  >
                    {{item.name}}
                  </li>
                </ul>
              </div>
              <div class="info">
                <span class="label-name">租赁时间：</span>
                <ul class="info-content">
                  <li
                    v-for="(item, index) in dateList" :key="index"
                    :class="{'active': orderform.cartimeid === item.id}"
                    @click="clickTime(item)"
                    >
                    {{item.name}}
                  </li>
                </ul>
              </div>
              <div class="info">
                <span class="label-name">选择日期：</span>
                <div class="info-content">
                  <el-date-picker
                    v-model="orderform.usedtime"
                    type="date"
                    format="yyyy 年 MM 月 dd 日"
                    value-format="yyyy-MM-dd"
                    :picker-options="pickerOptions"
                    placeholder="选择日期">
                  </el-date-picker>
                </div>
              </div>
              <div class="info">
                <span class="label-name">婚车价格：</span>
                <div class="cars-price">
                  <span class="discount-price">优惠价:<strong>￥</strong>{{discountmoney}}</span>
                  <span class="nows-price"><span>原价:￥{{money}}</span></span>
                </div>
              </div>
              <div class="info">
                <span class="label-name">用车时间：</span>
                <div class="cars-des">
                  {{daydes}}
                </div>
              </div>
              <div class="info" v-show="orderform.purposeid === 1">
                <span class="label-name">花环单价：</span>
                <div class="cars-des">
                  ￥{{result.wreathprice}}
                </div>
              </div>
              <div class="info" v-show="orderform.purposeid === 2">
                <span class="label-name">花环单价：</span>
                <div class="cars-des">
                  ￥0
                </div>
              </div>
              <div class="info">
                <span class="label-name">婚车描述：</span>
                <div class="cars-des">
                  {{result.introduce}}
                </div>
              </div>
              <div class="info">
                <a href="javascript:;" class="operation-btn ljyy-btn" @click="openLayer">立即预约</a>
              </div>
              <div class="info-sign">
                <img src="~@/assets/images/hcxq03.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="parttwo">
            <div class="zxhc-box">
              <div class="line-title">
                <div class="line-box">
                  <span class="line-span"></span>
                </div>
                <div class="line-content">
                  <h2>婚车相册</h2>
                  <p>WEDDING CAR PHOTO</p>
                </div>
                <div class="line-box">
                  <span class="line-span"></span>
                </div>
              </div>
              <div class="zxhc">
                <ul class="zxhc-ul">
                  <li v-for="(item, index) in result.pcpath" :key="index">
                    <img :src="item" alt="">
                  </li>
                </ul>
              </div>
            </div>
            <div class="hczn-box">
              <div class="line-title">
                <div class="line-box">
                  <span class="line-span"></span>
                </div>
                <div class="line-content">
                  <h2>婚车详情内容</h2>
                  <p>WEDDING CAR INTRODUCTION</p>
                </div>
                <div class="line-box">
                  <span class="line-span"></span>
                </div>
              </div>
              <div class="hczn">
                <div class="hczn-content">
                  <h2>婚车就是新人结婚时用于娶亲得车辆</h2>
                  <p>结婚是人生大事，所以对于新人来说，一辆装饰着鲜花和彩带的漂亮婚车是结婚过程中必不可少的，而气派、空间大的豪华婚车阵容则更能一圆梦想。在这个追求个性化的年代，选择婚车的种类不仅多，而且不同的婚车价格差异也大，就看新人们以怎样的经济实力和巧妙心思来勾画新生活的开始了。</p>
                </div>
              </div>
            </div>
            <div class="service-box">
              <img src="~@/assets/images/cardetail02.png" alt="" class="service-image">
              <div class="service-content">
                <h2>服务内容</h2>
                <p>
                  1、婚庆租车为市内礼宾车价格;<br/>
                  2、婚庆租车以东南西北四个汽车站为界,市内限35-40公里(大巴除外),<br/>超出部分参照出城单价另收费;<br/>
                  3、婚庆租车出城的车队以集合地点打表计算来回公里数或面议价格,<br/>大巴车计价方式先问再定;<br/>
                  4、商务租车系列市内包天限行驶100公里。租金价格不含税务费,路桥费,停车费。<br/>
                </p>
              </div>
            </div>
            <div class="service-flow">
              <div class="line-title">
                <div class="line-box">
                  <span class="line-span"></span>
                </div>
                <div class="line-content">
                  <h2>婚车服务流程</h2>
                  <p>WEDDING CAR SERVICE</p>
                </div>
                <div class="line-box">
                  <span class="line-span"></span>
                </div>
              </div>
              <ul class="flow-lists">
                <li class="flow-list">
                  <div class="flow-list-image">
                    <img src="~@/assets/images/cardetail03-01.png" alt="" class="">
                  </div>
                  <div class="flow-list-content">
                    <i class="icon1"></i>
                    <h2>预约婚车</h2>
                    <p>
                      1. 在您提交预约信息后,优品婚礼客服将在24小时内与您进行确认。<br/>
                      2. 如果您需要将某辆车用作婚车队的头车,请勾选“用作头车”。<br/>
                      3. 请您务必详细客观地填写婚车集合时间及男女双方地址。<br/>
                      4. 如您在车主确认订单后单方面违约,不限于处置您的订金作为违约赔付,赔付标准见《优品婚礼违约赔付条例》。<br/>
                      5. 接亲事关重要,支付定金后优品婚礼将发送车主负责人联系方式给您,请您务必及时与车主取得联系沟通,避免不必要的问题。<br/>
                      6. 如有不清楚的地方或其他情况请咨询优品婚礼客服。
                    </p>
                  </div>
                </li>
                <li class="flow-list">
                  <div class="flow-list-image">
                    <img src="~@/assets/images/cardetail03-02.png" alt="" class="">
                  </div>
                  <div class="flow-list-content">
                    <i class="icon2"></i>
                    <h2>婚礼当天</h2>
                    <p>
                      头车预先到达指定的花店装饰（如未预定头车可省略）。<br/>
                      全部车辆到达指定出发地址集合,简单装饰跟车,安排专人负责对应车牌号或手机号码。<br/>
                      给车主发红包（订金在线支付,余款以现金红包的形式接亲当天支付给车主）。<br/>
                      接上新郎及宾客,出发前往指定接亲地址,等待接新娘及宾客上车。<br/>
                      返程,将新娘及宾客送至男方家或指定酒店,宾客下车后接亲结束。<br/>
                    </p>
                  </div>
                </li>
                <li class="flow-list">
                  <div class="flow-list-image">
                    <img src="~@/assets/images/cardetail03-03.png" alt="" class="">
                  </div>
                  <div class="flow-list-content">
                    <i class="icon2"></i>
                    <h2>婚礼结束</h2>
                    <p>
                      婚礼结束,婚车服务完结。<br/>
                      优品婚礼会在婚礼结束后15天内对您进行电话回访,听取您的宝贵意见和建议。<br/>
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- 手机短信预约 -->
        <vPhoneLayer v-show="showlayer" @closeLayer="closeLayer" :type="3" :id="carid" :other="orderform"></vPhoneLayer>
      </template>
    </Page>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import http from "@/axios/http";
import Page from "@/components/page/Home/base";
import vPhoneLayer from "@/components/common/phone/phone";
import Swiper from "swiper";
export default {
  data () {
    return {
      result: {
        pcpath: [],
      },
      count: 0,
      imageindex: 0,
      showlayer: false,
      bigImagePath: '',
      orderform: {
        purpose: '用作主婚车',
        purposeid: 1,
        cartime: '整天',
        cartimeid: 1,
        color: '',
        colorid: '',
        vehicleid: '',
        carmoney: '',
        usedtime: ''
      },
      colorList: [],
      useList: [{
        name: '用作主婚车',
        id: 1
      },{
        name: '用作礼宾车',
        id: 2
      }],
      dateList: [{
        name: '半天',
        id: 1
      },{
        name: '整天',
        id: 2
      }],
      carid: 0,
      other: {},
      cartimeid: 1,
      pickerOptions: {
        disabledDate (time) {
          return time.getTime() - (0*3600 * 1000 * 24) <= Date.now();
        }
      },
      discountmoney: 0,
      money: 0,
      daydes: ''
    }
  },
  watch: {
    cartimeid: {
      handler (val, old) {
        if (val === 2) {
          this.discountmoney = this.result.daydiscountmoney;
          this.money = this.result.daymoney;
          this.daydes = this.result.wholeday;
        } else {
          this.discountmoney = this.result.daydiscountmoney/2;
          this.money = this.result.daymoney/2;
          this.daydes = this.result.halfday;
        }
      }
    }
  },
  computed: {},
  components: {
    Page,
    vPhoneLayer
  },
  created () {
    const id = this.$route.query.id;
    if (id) {
      this.gotDetail(id);
    } else {
      this.$router.push('/cars')
    }
  },
  mounted () {
  },
  beforeDestroy () {

  },
  methods: {
    gotDetail(id) {
      http.post("/vehicle/vehicleinfo.do", {
        id: id
      }).then((result) => {
        if (result.status === 1) {
          let data = result.data;
          if(this.cartimeid === 2) {
            this.discountmoney = data.daydiscountmoney;
            this.money = data.daymoney;
            this.daydes = data.wholeday;
          } else {
            this.discountmoney = data.daydiscountmoney/2;
            this.money = data.daymoney/2;
            this.daydes = data.halfday;
          }
          this.result = data;
          this.bigImagePath = data.pcpath[0];
          const colordata = data.colordata;
          this.colorList = colordata

          this.orderform.colorid = colordata[0].id;
          this.orderform.color = colordata[0].name;
          // console.log(this.colorList)
          // console.log(this.orderform.colorid)
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    clickColor (item) {
      this.orderform.colorid = item.id;
      this.orderform.color = item.name;
    },
    clickUse (item) {
      this.orderform.purposeid = item.id;
      this.orderform.purpose = item.name;
    },
    clickTime (item) {
      this.orderform.cartimeid = item.id;
      this.orderform.cartime = item.name;
      this.cartimeid = item.id;
    },
    openLayer () {
      //预约婚车
      this.carid = this.result.id;
      if (!this.orderform.usedtime) {
        this.$message.warning('选择租车日期')
        return
      }

      this.orderform.vehicleid = this.result.vehicleid;
      this.orderform.carmoney = this.discountmoney;
      this.showlayer = true;
    },
    closeLayer () {
      this.showlayer = false;
      this.orderform = {
        purpose: '',
        purposeid: 1,
        cartime: '',
        cartimeid: 1,
        color: '',
        colorid: '',
        vehicleid: '',
        carmoney: '',
        usedtime: ''
      }
    },
    clickImage (path, index) {
      //this.bigImagePath = path;
      this.imageindex = index;
      this.$refs.bigimagesul.style.transform = `translateX(${index*-610}px)`;
    },
    clickPrev () {
      let num = this.result.pcpath.length - 4;
      if (num > 0 && Math.abs(this.count) < num ) {
        this.count--;
        this.$refs.smallimagesul.style.transform = `translateX(${this.count*139}px)`;
      }
    },
    clickNext () {
      const num = this.result.pcpath.length - 4;
      if (num > 0 && Math.abs(this.count) > 0) {
        this.count++;
        this.$refs.smallimagesul.style.transform = `translateX(${this.count*139}px)`;
      }
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.detail-page {
  width: 100%;
  .page-header {
    width: 1200px;
    margin: 0 auto;
    .tz_nav {
      padding: 0 15px;
      box-sizing: border-box;
      width: 1200px;
      height: 60px;
      line-height: 60px;
      display: flex;
      li {
        font-size: 14px;
        a {
          color: #999;
        }
        a:hover {
          color: #444
        }
        &:nth-child(n+2) {
          &::before {
            content: ">";
            padding: 0 15px;
            color: #ccc;
          }
        }
      }
    }
  }
  .partone {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .partoneL {
      width: 610px;
      .bigimages {
        width: 610px;
        height: 372px;
        overflow: hidden;
        .bigimages-ul {
          min-width: 2440px;
          height: 372px;
          transition: all 0.4s ease-out;
          &::after {
            content: '';
            display: block;
            clear: both;
            width: 0;
            height: 0;
          }
          li {
            width: 610px;
            height: 372px;
            float: left;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .smallimages-box {
        width: 610px;
        height: 90px;
        display: flex;
        margin: 20px auto;
        .btn-a {
          height: 90px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 23px;
          margin-right: 4px;
          &.next-a {
            margin-left: 4px;
            margin-right: 0;
          }
          img {
            width: 23px;
            height: 30px;
          }
        }
        .smallimages {
          width: 556px;
          height: 90px;
          overflow: hidden;
          .smallimages-ul {
            min-width: 556px;
            height: 90px;
            transition: all 0.8s ease-out;
            &::after {
              content: '';
              display: block;
              clear: both;
              width: 0;
              height: 0;
            }
            li {
              width: 130px;
              height: 90px;
              float: left;
              margin: 0 4px 0 5px;
              cursor: pointer;
              box-sizing: border-box;
              font-size: 0;
              line-height: 0px;
              img {
                width: 130px;
                height: 90px;
                display: block;
                box-sizing: border-box;
              }
              &.active {
                img {
                  border: 3px solid #f36701;
                }
              }
            }
          }
        }
      }
    }
    .partoneR {
      width: 540px;
      .name {
        font-size: 20px;
        padding-bottom: 10px;
        color: #000;
        border-bottom: 1px solid #ccc;
      }
      .info {
        width: 540px;
        display: flex;
        margin: 20px 0 15px;
        .label-name {
          width: 70px;
          height: 30px;
          line-height: 30px;
          font-size: 14px;
          margin-right: 10px;
        }
        .info-content {
          width: 460px;
          height: 30px;
          display: flex;
          li {
            width: 120px;
            height: 30px;
            border: 1px solid #ccc;
            line-height: 28px;
            box-sizing: border-box;
            text-align: center;
            margin-right: 20px;
            font-size: 14px;
            cursor: pointer;
            border-radius: 5px;
            &:last-child {
              margin-right: 0;
            }
            &.active {
              border-color: #f36701;
            }
          }
          .el-input__inner:focus {
            border-color: #f36701;
          }
          .el-date-table  {
            .td.current:not(.disabled) span {
              background-color:#f36701;
            }
            td.today span {
              color:#f36701;
            }
          }
        }
        .cars-des {
          width: 450px;
          height: 30px;
          line-height: 30px;
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .cars-price {
        display: flex;
        height: 30px;
        .discount-price {
          display: block;
          font-size: 14px;
          height: 30px;
          line-height: 30px;
          margin-right: 20px;
          color: #f36701;
          strong {
            color: #f36701;
            font-size: 14px;
            font-weight: 700;
          }
        }
        .nows-price {
          display: block;
          font-size: 14px;
          height: 30px;
          line-height: 30px;
          text-decoration: line-through;
          color: #f36701;
          span {
            color: #999;
          }
        }
      }
      .operation-btn {
        display: block;
        width: 190px;
        height: 40px;
        border: 1px solid #f36701;
        line-height: 38px;
        text-align: center;
        box-sizing: border-box;
        border-radius: 5px;
        &.ljyy-btn {
          background: #f36701;
          color: #fff;
          margin-left: 15px;
          font-size: 16px;
        }
      }
      .info-sign {
        cursor: pointer;
      }
    }
  }
  .parttwo {
    width: 100%;
    margin-top: 25px;
    .nav-box {
      width: 100%;
      border-bottom: 1px solid #ccc;
      margin-bottom: 50px;
      .detail-nav {
        height: 40px;
        width: 1200px;
        margin: 0 auto;
        display: flex;
        li {
          padding: 0 10px;
          height: 40px;
          line-height: 39px;
          box-sizing: border-box;
          margin-right: 20px;
          position: relative;
          z-index: 1;
          cursor: pointer;
          font-size: 18px;
          &.active {
            color: #f36701;
            border-bottom: 1px solid #f36701;
          }
        }
      }
    }
    .line-title {
      width: 1200px;
      margin: 0 auto 40px;
      display: flex;
      .line-box {
        flex: 1;
        height: 42px;
        align-items: center;
        justify-content: center;
        display: flex;
        .line-span {
          display: block;
          width: 100%;
          height: 1px;
          background-color: #ccc;
        }
      }
      .line-content {
        min-width: 116px;
        height: 42px;
        padding: 0 10px;
        h2 {
          font-size: 24px;
          height: 24px;
          text-align: center;
          margin-bottom: 5px;
          color: #000;
        }
        p {
          font-size: 13px;
          height: 13px;
          color: #333;
          text-align: center;
        }
      }
    }
    .zxhc-box {
      width: 1200px;
      margin: 0 auto 40px;
      .zxhc {
        width: 100%;
        .zxhc-ul {
          width: 100%;
          &::after {
            content: '';
            display: block;
            clear: both;
            width: 0;
            height: 0;
          }
          li {
            width: 295px;
            height: 194px;
            float: left;
            margin-right: 10px;
            margin-bottom: 12px;
            img {
              width: 100%;
              height: 100%;
            }
            &:nth-child(5n+1) {
              width: 590px;
              height: 400px;
              img {
                width: 100%;
                height: 100%;
              }
            }
            &:nth-child(5n+3), &:nth-child(5n+5) {
              margin-right: 0;
            }
          }
        }
      }
    }
    .hczn-box {
      width: 1200px;
      margin: 0 auto 40px;
      border-bottom: 1px solid #e9e9e9;
      padding-bottom: 40px;
      .hczn {
        width: 1200px;
        height: 560px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('~@/assets/images/cardetail01.png');
        position: relative;
        .hczn-content {
          width: 345px;
          position: absolute;
          top: 130px;
          left: 70px;
          z-index: 3;
          h2 {
            line-height: 52px;
            font-size: 36px;
            font-weight: 300;
            margin-bottom: 15px;
          }
          p {
            line-height: 30px;
            font-size: 15px;
            font-weight: 300;
          }
        }
      }
    }
    .service-box {
      width: 1200px;
      margin: 0 auto 40px;
      padding-bottom: 40px;
      display: flex;
      justify-content: space-between;
      .service-image {
        width: 544px;
        height: 311px;
      }
      .service-content {
        width: 645px;
        height: 311px;
        line-height: 35px;
        border: 1px solid #e9e9e9;
        padding: 25px 35px;
        font-size: 15px;
        font-weight: 300;
        box-sizing: border-box;
        h2 {
          font-size: 24px;
          line-height: 40px;
          color: #333;
          margin-bottom: 10px;
        }
        p {
          font-size: 14px;
        }
      }
    }
    .service-flow {
      width: 1200px;
      margin: 0 auto 40px;
      .flow-lists {
        width: 1200px;
        margin: 0 auto;
        .flow-list {
          width: 1200px;
          display: flex;
          justify-content: space-between;
          .flow-list-image {
            width: 306px;
            padding-bottom: 40px;
            img {
              width: 100%;
            }
          }
          .flow-list-content {
            width: 850px;
            box-sizing: border-box;
            border-left: 1px solid #e9e9e9;
            position: relative;
            padding-left: 40px;
            padding-bottom: 40px;
            h2 {
              line-height: 46px;
              font-size: 24px;
              font-weight: 400;
              color: #666;
              margin-bottom: 10px;
            }
            i {
              display: block;
              position: absolute;
              top: 0;
              left: -23px;
              width: 46px;
              height: 46px;
              background-size: cover;
              background-repeat: no-repeat;
              &.icon1 {
                background-image: url('~@/assets/images/cardetail03-01-01.png');
              }
              &.icon2 {
                background-image: url('~@/assets/images/cardetail03-01-02.png');
              }
              &.icon3 {
                background-image: url('~@/assets/images/cardetail03-01-03.png');
              }
            }
            p {
              line-height: 50px;
              color: #666;
              font-size: 14px;
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}
</style>
