<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-06-01 17:12:03
 * @LastEditTime: 2019-08-19 10:48:14
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="page-wrapper car-page">
    <HomeheaderBar></HomeheaderBar>
    <HomeNav></HomeNav>
    <FixedNav></FixedNav>
     <!-- 第一屏 -->
    <div class="cars-prime">
      <div class="video-box">
        <video src="~@/assets/images/car_video.mp4" width="100%" height="100%" controlslist="nodownload" muted="muted" preload="auto" playsinline="true" loop="loop" autoplay="autoplay"></video>
      </div>
    </div>
    <div class="cars-recommend">
      <div class="recommend">
        <img src="~@/assets/images/car-banner.png" alt="" />
      </div>
    </div>
    <!-- 查询条件 -->
    <div class="search-form-box">
      <div class="search-form">
        <div class="type-rows top-nav">
          婚车租赁 > 共<span>{{total}}</span>结果
        </div>
        <!-- 婚车品牌 -->
        <div class="type-rows">
          <p class="title">婚车品牌</p>
          <span class="typecur"
            :class="{'typecur-active': searchform.brandid === 0}"
            @click="changeBrand(0)"
          >
            <a href="javascript:;" >不限</a>
          </span>
          <ul class="types">
            <li v-for="(item, index) in brandList" :key="index"
              @click="changeBrand(item.id)"
              :class="{'typecur-active': searchform.brandid === item.id}"
            >
              <a href="javascript:;">{{item.name}}</a>
            </li>
          </ul>
        </div>
        <!-- 婚车类型 -->
        <div class="type-rows">
          <p class="title">类型</p>
          <span class="typecur"
            :class="{'typecur-active': searchform.type === 0}"
            @click="changeCartype(0)"
          >
            <a href="javascript:;">不限</a>
          </span>
          <ul class="types">
            <li v-for="(item, index) in cartypeList" :key="index"
              @click="changeCartype(item.id)"
              :class="{'typecur-active': searchform.type === item.id}"
            >
              <a href="javascript:;">{{item.name}}</a>
            </li>
          </ul>
        </div>
        <!-- 颜色 -->
        <div class="type-rows">
          <p class="title">婚车颜色</p>
          <span class="typecur"
            :class="{'typecur-active': searchform.color === 0}"
            @click="changeColor(0)"
          >
            <a href="javascript:;">不限</a>
          </span>
          <ul class="types">
            <li v-for="(item, index) in colorList" :key="index"
              @click="changeColor(item.id)"
              :class="{'typecur-active': searchform.color === item.id}"
            >
              <a href="javascript:;">{{item.name}}</a>
            </li>
          </ul>
        </div>
        <!-- 价格区间： -->
        <div class="type-rows">
          <p class="title">价格区间</p>
          <span class="typecur"
            :class="{'typecur-active': searchform.moneytype === 0}"
            @click="changeMoneyCar(0)"
          >
            <a href="javascript:;">不限</a>
          </span>
          <ul class="types">
            <li v-for="(item, index) in moneycarList" :key="index"
              @click="changeMoneyCar(item.id)"
              :class="{'typecur-active': searchform.moneytype === item.id}"
            >
              <a href="javascript:;" class="pirce-a">{{item.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 婚车列表 -->
    <div class="carslist-wrapper">
      <ul class="carslist-ul" v-show="total">
        <li class="carslist-li" v-for="(item, index) in tableList" :key="index">
          <router-link
            :to="{ path: 'cardetail', query: { id: item.id } }"
          >
            <img :src="item.pcpath[0]" alt="">
            <div class="info">
              <div class="info-left">
                <span>{{item.name}}</span>
                <span>半天：{{item.halfday}} | 整天：{{item.wholeday}}</span>
              </div>
              <div class="info-right">
                <span>原价{{item.daymoney/2}}元</span>
                <span>￥{{item.daydiscountmoney/2}}</span>
              </div>
            </div>
          </router-link>
        </li>
      </ul>
      <Empty v-show="isEmpty"></Empty>
      <v-pagination class="pagination-wrapper" :total="total" :current-page="page" :limit="limit" @pagechange="pagechange" v-show="total > 6 "></v-pagination>
    </div>
    <!-- 婚车服务 -->
    <div class="service-form-box">
      <a href="javascript:;" class="service-left">
        <img src="~@/assets/images/service_car.png" alt="">
      </a>
      <div class="service-right">
        <div class="service-form">
          <el-select v-model="carform.hangbrandid" placeholder="--头车品牌--" style="width: 250px" clearable>
            <el-option
              v-for= "item in brandList"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            >
            </el-option>
          </el-select>
          <el-select v-model="carform.tailbrandid" placeholder="--跟车品牌--" style="width: 250px" clearable>
            <el-option
              v-for= "item in brandList"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            >
            </el-option>
          </el-select>
        </div>
        <div class="service-form">
          <el-date-picker
            v-model="carform.usedtime"
            type="date"
            placeholder="请选择用车日期"
            class="content-form-item"
            format="yyyy 年 MM 月 dd 日"
            value-format="yyyy-MM-dd"
            :picker-options="pickerOptions"
            style="width: 250px"
          >
          </el-date-picker>
          <el-select v-model="carform.driver" placeholder="是否配备司机" style="width: 250px" :popper-append-to-body="false">
            <el-option label="配备" value="是"></el-option>
            <el-option label="不配备" value="否"></el-option>
          </el-select>
        </div>
        <div class="service-form">
          <el-select v-model="carform.areaid" placeholder="--预约区域--" clearable style="width: 250px" @focus="areasListData">
            <el-option
              v-for="item in areaList"
              :key="item.areaid"
              :label="item.areaname"
              :value="item.areaid"
            >
            </el-option>
          </el-select>
          <el-input v-model="carform.phone" placeholder="请输入您的联系方式" style="width: 250px"></el-input>
        </div>
      </div>
      <div class="service-btn" @click="carSubmit">立即预约-婚车管家</div>
    </div>
    <!-- 底图轮播 -->
    <div class="page-bg-box">
      <div class="page-bg page-bg-car"></div>
    </div>
    <!-- footer -->
    <Footer>
      <template v-slot:footer-content></template>
    </Footer>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import HomeheaderBar from "@/components/page/Home/topbar-home";
import HomeNav from "@/components/page/Home/nav-home";
import Footer from "@/components/common/Footer/index";
import FixedNav from "@/components/page/Home/navfixed";
import vPagination from "@/components/common/Pagination/index";
import Empty from "@/components/page/Other/empty";
import http from "@/axios/http";
import Swiper from "swiper";
import $ from "jquery";
export default {
  data() {
    return {
      searchform: {
        color: 0,
        brandid: 0,
        type: 0,
        moneytype: 0
      },
      total: 0,
      limit: 6,
      page: 1,
      isEmpty: false,
      tableList: [],
      showlayer: false,
      carform: {
        phone: '',
        vehicleid: 0,
        hangbrand: '',
        hangbrandid: '',
        tailbrand: '',
        tailbrandid: '',
        usedtime: '',
        driver: ''
      },
      colorList: [],
      brandList: [],
      cartypeList: [],
      moneycarList: [],
      areaList: [],
      pickerOptions: {
        disabledDate (time) {
          return time.getTime() - (0*3600 * 1000 * 24) <= Date.now();
        }
      }
    };
  },
  watch: {

  },
  computed: {
    ...mapState([
      '_cityinfo'
    ]),
  },
  components: {
    HomeheaderBar,
    HomeNav,
    Footer,
    FixedNav,
    vPagination,
    Empty
  },
  created() {},
  mounted() {
    this.colorListData();
    this.brandListData();
    this.cartypeListData();
    this.moneyCarList();
    this.gotListData();
  },
  beforeDestroy() {},
  methods: {
    carSubmit () {
      if (!this.carform.hangbrandid) {
        this.$message.error({
          message: '请您选择头车品牌',
          offset: 100
        });
      } else if (!this.carform.tailbrandid) {
        this.$message.error({
          message: '请您选择跟车品牌',
          offset: 100
        });
      } else if (!this.carform.usedtime) {
        this.$message.error({
          message: '请您选择用车时间',
          offset: 100
        });
      } else if (!this.carform.driver) {
        this.$message.error({
          message: '请您选择是否配置司机',
          offset: 100
        });
      } else if (!this.carform.areaid) {
        this.$message.error({
          message: '请您选择预约位置',
          offset: 100
        });
      } else if (!/^1[3456789]\d{9}$/.test(this.carform.phone)) {
        this.$message.warning('请您的手机号不合法');
      } else {
        const filterhangbrand = this.carbrandList.filter((item, index) => {
          return item.id === this.carform.hangbrandid;
        })
        this.carform.hangbrand = filterhangbrand[0].name;
        const filtertailbrand = this.carbrandList.filter((item, index) => {
          return item.id === this.carform.tailbrandid;
        })
        this.carform.tailbrand = filtertailbrand[0].name;
        const filterareas = this.areaList.filter((item, index) => {
          return item.areaid === this.carform.areaid;
        })
        this.carform.areaname = filterareas[0].areaname;
        this.carPost();
      }
    },
    resetCarSubmit () {
      this.carform = {
        phone: '',
        vehicleid: 0,
        hangbrand: '',
        hangbrandid: '',
        tailbrand: '',
        tailbrandid: '',
        usedtime: '',
        driver: '',
        areaname: '',
        areaid: ''
      }
    },
    carPost () {
      http.post("/vehiclesubscribe/addvehiclesubscribe.do", {
        vehicleid: this.carform.vehicleid,
        phone: this.carform.phone,
        hangbrand: this.carform.hangbrand,
        hangbrandid: this.carform.hangbrandid,
        tailbrand: this.carform.tailbrand,
        tailbrandid: this.carform.tailbrandid,
        driver: this.carform.driver,
        usedtime: this.carform.usedtime,
        areaname: this.carform.areaname,
        areaid: this.carform.areaid,
        cityname: this._cityinfo.name,
        cityid: this._cityinfo.id,
      })
      .then((result) => {
        if (result.status === 1) {
          this.$message.success({
            message: result.msg,
            offset: 100
          });
          this.resetCarSubmit();
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    gotListData () {
      http.post('/recommend/carlistbycity.do', {
        page: this.page,
        limit: this.limit,
        cityid: this._cityinfo.id,
        areaid: this._cityinfo.areaid,
        type: this.searchform.type,
        color: this.searchform.color,
        brandid: this.searchform.brandid,
        moneytype: this.searchform.moneytype
      }).then((result) => {
        if (result.status === 1) {
          let data = result.data.result;
          this.total = result.data.total;
          this.tableList = data;
          if (data.length) {
              this.isEmpty = false
            } else {
              this.isEmpty = true
            }
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    pagechange (page) {
       this.isEmpty = false
      this.page = page;
      this.gotListData();
    },
    changeMoneyCar (id) {
       this.isEmpty = false
      this.searchform.moneytype = id;
      this.gotListData();
    },
    changeColor (id) {
       this.isEmpty = false
      this.searchform.color = id;
      this.gotListData();
    },
    changeBrand (id) {
       this.isEmpty = false
      this.searchform.brandid = id;
      this.gotListData();
    },
    changeCartype (id) {
       this.isEmpty = false
      this.searchform.type = id;
      this.gotListData();
    },
    openLayer () {
      this.showlayer = true;
    },
    closeLayer () {
      this.showlayer = false;
    },
    colorListData () {
      //车颜色
      http.post("/vehicle/colordrop.do", {})
      .then((result) => {
        if (result.status === 1) {
          this.colorList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    brandListData () {
      //车品牌
      http.post("/vehiclebrand/getlist.do", {})
      .then((result) => {
        if (result.status === 1) {
          this.brandList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    cartypeListData () {
      //车类型
      http.post("/type/vehicletype.do")
      .then((result) => {
        if (result.status === 1) {
          this.cartypeList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    moneyCarList () {
      //金额下拉
      http.post("/money/droplist.do", {
        type: 5
      }).then((result) => {
        if (result.status === 1) {
          this.moneycarList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    areasListData() {
      //区列表
      http.post("/areas/selectbyparentid.do", {
        parentid: this._cityinfo.id
      }).then((result) => {
        if (result.status === 1) {
          this.areaList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.car-page {

  .carslist-wrapper {
    width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
    .carslist-ul {
      width: 1200px;
      &::after {
        content: '';
        clear: both;
        display: block;
        width: 0;
        height: 0;
      }
      .carslist-li {
        width: 595px;
        height: 354px;
        margin-bottom: 10px;
        margin-right: 10px;
        float: left;
        &:nth-child(even) {
          margin-right: 0;
        }
        a {
          display: block;
          width: 595px;
          height: 354px;
          position: relative;
          img {
            width: 100%;
            height: 100%;
          }
          .info {
            width: 100%;
            height: 72px;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: rgba(0,0,0, 0.8);
            color: #fff;
            display: flex;
            .info-right {
              width: 173px;
              height: 72px;
              background-image: url('~@/assets/images/hc04.png');
              background-repeat: no-repeat;
              background-size: cover;
              display: flex;
              flex-direction: column;
              justify-content: center;
              span {
                display: block;
                text-align: center;
                color: #fff;
                &:nth-child(1) {
                  text-decoration: line-through;
                }
                &:nth-child(2) {
                  font-size: 35px;
                  font-weight: 700;
                }
              }
            }
            .info-left {
              width: 422px;
              height: 72px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              box-sizing: border-box;
              padding-left: 20px;
              span {
                display: block;
                color: #fff;
                &:nth-child(1) {
                  font-weight: bold;
                  font-size: 14px;
                  margin-bottom: 3px;
                }
              }
            }
          }
        }
      }
    }
    .pagination-wrapper {
      margin-top: 20px;
    }
  }
  .cars-prime {
    width: 1200px;
    margin: 20px auto;
    display: flex;
    box-shadow: 0 3px 6px rgba(102, 102, 102, 0.16);
    height: 380px;
    box-sizing: border-box;
    position: relative;
    .video-box {
      width: 100%;
      height: 380px
    }
  }
  .cars-recommend {
    width: 100%;
    height: 154px;
    background: #fff;
    padding-bottom: 0;
    .recommend {
      width: 1200px;
      margin: 0 auto;
      background: #fff;
      height: 154px;
      overflow: hidden;
      box-sizing: border-box;
      // border: 1px solid #ebebeb;
      img {
        display: block;
        width: 100%;
      }
    }
  }
}

.page-wrapper {
  .search-form-box {
    width: 1200px;
    margin: 30px auto 0;
    .search-form {
      width: 100%;
      border: solid 1px #e6e6e6;
      box-sizing: border-box;
      .top-nav {
        height: 45px;
        line-height: 45px;
        text-align: left;
        text-indent: 30px;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        font-weight: 500;
        color: #666;
        background: #fafafa;
        span {
          text-indent: 0;
          margin: 0 6px
        }
      }
      .type-rows {
        width: 100%;
        display: flex;
        .title {
          width: 116px;
          text-indent: 30px;
          height: 45px;
          line-height: 45px;
          text-align: left;
          font-size: 14px;
          font-weight: 500;
          color: #666;

        }
        .typecur {
          width: 90px;
          border-left: 1px solid #e5e5e5;
          a {
            display: block;
            width: 90px;
            padding-left: 45px;
            box-sizing: border-box;
            height: 45px;
            line-height: 45px;
            text-align: left;
            cursor: pointer;

          }
          &.typecur-active {
            a {
              color: #FC4747;
            }
          }
        }
        .types {
          display: flex;
          width: 991px;
          flex-wrap: wrap;
          li {
            a {
              display: block;
              width: 90px;
              box-sizing: border-box;
              padding: 0 10px;
              height: 45px;
              line-height: 45px;
              text-align: left;
              cursor: pointer;
              font-size: 12px;
              color: #666;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              &.pirce-a {
                width: 120px;
              }
            }
            &.typecur-active {
              a {
                color: #FC4747;
              }
            }
            &:hover {
              a {
                color: #FC4747;
              }
            }
          }
        }

      }
    }
  }
  .service-form-box {
    width: 1200px;
    height: 148px;
    border: 1px solid #ccc;
    margin: 30px auto 60px;
    display: flex;
    align-items: center;
    .service-left {
      width: 304px;
      height: 148px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .service-right {
      width: 510px;
      height: 148px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 20px 0 50px;
      box-sizing: border-box;
      .service-form {
        width: 510px;
        height: 40px;
      }
    }
    .service-btn {
      display: block;
      height: 32px;
      line-height: 30px;
      padding: 0 15px;
      background-color: #FC4747;
      color: #fff;
      border: 1px solid #FC4747;
      box-sizing: border-box;
      cursor: pointer;
      border-radius: 5px;
    }
  }
  .page-bg-box {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 -50%;
    z-index: -2;
    .page-bg {
      width: 100%;
      height: 527px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      font-size: 0;
      &.page-bg-car {
        background-image: url("~@/assets/images/first-screen-bg04.jpg");
      }
      &::after {
        content: "";
        width: 100%;
        height: 222px;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0,#fff 100%);
      }
    }
  }
}
</style>
