<template>
  <div class="layer-message">
    {{message}}
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
export default {
  props: {
    message: {
      default: ''
    }
  },
  data () {
    return {
      
    }
  },
  watch: {
    
  },
  computed: {
    
  },
  mounted () {
    
  },
  beforeDestroy () {
    
  },
  methods: {
    
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.layer-message {
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -20px;
  margin-left: -100px;
  background-color: rgba(0,0,0, 0.8);
  z-index: 99999999;
  color: #fff;
  font-size: 14px;
}
</style>
