﻿@charset "utf-8";

/*!
 * @名称：base.css
 * @功能：1、重设浏览器默认样式
 *       2、设置通用原子类
 */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0;
}

body {
  font-family: "PingFang SC", "Microsoft Yahei", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  color: #666
}

input,
select,
textarea {
  font-size: 100%
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

th {
  text-align: inherit
}

fieldset,
img {
  border: none
}

iframe {
  display: block
}

abbr,
acronym {
  border: none;
  font-variant: normal
}

del {
  text-decoration: line-through
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500
}

ol,
ul {
  list-style: none
}

caption,
th {
  text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500
}

q:before,
q:after {
  content: ''
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -0.5em
}

sub {
  bottom: -0.25em
}

ins,
a {
  color: #666;
  text-decoration: none
}

a:focus,
*:focus {
  outline: none
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table
}

.clearfix:after {
  clear: both;
  overflow: hidden
}

.clearfix {
  zoom: 1
}

.hide {
  display: none
}

.block {
  display: block
}

.fl,
.rt,
.lt,
.fr {
  display: inline
}

.fl,
.lt {
  float: left
}

.rt,
.fr {
  float: right
}

.img-w100 {
  display: block;
  width: 100%
}

.img-w100>img {
  display: block;
  width: 100%
}

.img-auto>img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

a {
  color: #666;
  transition: color .4s ease
}

a:hover {
  color: #dc1414
}

i {
  position: relative;
  display: inline-block;
  font-style: normal
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #b2b2b2
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #b2b2b2
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #b2b2b2
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #b2b2b2
}

.textEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.textEllipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  box-orient: vertical
}

.textEllipsis3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  box-orient: vertical
}

.betweenTMLR {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes animationTop {
  0% {
    transform: translateY(100%);
    opacity: 0
  }

  100% {
    transform: translateY(0);
    opacity: 1
  }
}

@keyframes animationBottom {
  0% {
    transform: translateY(-100%);
    opacity: 0
  }

  100% {
    transform: translateY(0);
    opacity: 1
  }
}

@keyframes animationLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0
  }

  100% {
    transform: translateX(0);
    opacity: 1
  }
}

@keyframes animationRight {
  0% {
    transform: translateX(100%);
    opacity: 0
  }

  100% {
    transform: translateX(0);
    opacity: 1
  }
}


@keyframes scale-three {
  0% {
    transform: scale(1);
    opacity: .8
  }

  100% {
    transform: scale(1.5);
    opacity: 0
  }
}



@keyframes up-down {
  0% {
    transform: translate(0, 0)
  }

  50% {
    transform: translate(0, -10px)
  }

  100% {
    transform: translate(0, 0)
  }
}

button,
input,
select,
textarea {
  font: 12px 'Microsoft YaHei', arial, sans-serif
}
