<template>
  <div class="select-regions">
    <div class="regions-box">
      <dl class="regions">
        <dd>
          <span class="title">
            热门城市
          </span>
          <div class="text line-2">
            <a href="javascript:;">
              <strong>上海市</strong>
            </a>
          </div>
        </dd>
      </dl>
      <div class="areas-ul">
        <ul>
          <li class="areas-li" 
            @click="selectAreas(item)"
            :class="{'active': item.areaid === _cityinfo.areaid}"
            v-for="(item, index) in areas"
            :key="index"
          >
            {{item.areaname}}
          </li>
        </ul>
      </div>
    </div>
    
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
export default {
  data () {
    return {
      areas: []
    }
  },
  watch: {
    
  },
  computed: {
    ...mapState([
      '_cityinfo'
    ])
  },
  created () {
    this.areasList();
  },
  mounted () {
    
  },
  beforeDestroy () {
    
  },
  methods: {
    selectAreas (item) {
      let value = {
        areaname: item.areaname,
        areaid: item.areaid,
        name: this._cityinfo.name,
        id: this._cityinfo.id,
      }
      sessionStorage.setItem('_cityinfo', JSON.stringify(value))
      this.$store.commit({ type: 'gotCityid', data: value})
      window.location.reload();
    },
    areasList() {
      //区列表
      http.post("/areas/selectbyparentid.do", {
        parentid: this._cityinfo.id
      }).then((result) => {
        if (result.status === 1) {
          let areas = result.data;
          areas.unshift({
            areaname: '全城',
            areaid: 0
          })
          this.areas = areas;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '~@/assets/scss/color.scss';
.select-regions {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  right: -16px;
  display: none;
  z-index: 9999;
  .regions-box {
    width: 300px;
    padding: 0 15px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(51, 51, 51, 0.2);
  }
  .regions {
    width: 100%;
    dd {
      line-height: 24px;
      position: relative;
      padding-left: 60px;
      .title {
        width: 60px;
        padding: 10px 0;
        text-align: center;
        color: #000;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 13px;
        font-weight: 600;
      }
      .text {
        border-bottom: 1px dotted #eee;
        padding: 10px 10px 10px 0;
        a {
          strong {
            padding: 0 5px;
            font-size: 13px;
          }
        }
      }
      .line-2 {
        border-bottom: 1px solid #eee;
      }
    }
  }
  .areas-ul {
    height: 400px;
    width: 300px;
    overflow-y: auto;
    margin-top: 15px;
    ul {
      &::after {
        content: '';
        display: block;
        clear: both;
        width: 0;
        height: 0;
      }
      .areas-li {
        width: 80px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        float: left;
        border: 1px solid #efefef;
        box-sizing: border-box;
        margin: 0 5px;
        margin-bottom: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
        color: #333;
        transition: all 0.2s;
        &.active {
          border-color: $main-color;
          color: $main-color;
        }
        &:hover {
          background: $main-color;
          border-color: $main-color;
          color: #fff;
        }
      }
    }
  }
}
</style>
