<template>
  <div>
    <HomeheaderBar></HomeheaderBar>
    <HomeNav></HomeNav>
    <FixedNav></FixedNav>
    <slot></slot>
    <!-- footer -->
    <Footer>
      <template v-slot:footer-content></template>
    </Footer>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex';
import HomeheaderBar from "@/components/page/Home/topbar-home";
import HomeNav from "@/components/page/Home/nav-home";
import FixedNav from "@/components/page/Home/navfixed";
import Footer from "@/components/common/Footer/index";
export default {
  data () {
    return {
      
    }
  },
  watch: {
    
  },
  components: {
    HomeheaderBar,
    HomeNav,
    Footer,
    FixedNav
  },
  computed: {
    
  },
  mounted () {
    
  },
  beforeDestroy () {
    
  },
  methods: {
  
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
</style>
