<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-06-11 09:54:28
 * @LastEditTime: 2019-08-09 16:08:31
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="citys-page">
    <div class="citys-box">
      <div class="logo-box">
        <a href="javascript:;" class="logo logo-left">
          <img src="~@/assets/images/uu_logo_home.png" alt="">
        </a>
      </div>
      <img src="~@/assets/images/select-city-caption.png" alt="" class="caption-image">
      <p class="sub">请选择你要进入的站点</p>
      <span class="select-icon">icon</span>
      <div class="citys-content">
        <div class="name-box name-box-cur">
          <h2 class="name">热门城市:</h2>
          <ul class="citys-all">
            <li 
              class="city-li city-li-hot" 
              v-for="(item, index) in hotcity"
              :key="index"
              @click="selectCity(item)"
            >
              {{item.name}}
            </li>
          </ul>
        </div>
        <div class="name-box name-box-cur">
          <h2 class="name">当前定位城市:</h2>
          <div class="name-cur">
            {{mycityName}} <span v-show="locationCity.register" @click="selectCity(locationCity)">[进入]</span>
          </div>
        </div>
        <div class="name-box" v-show="false">
          <h2 class="name">全国城市[可按拼音首字母查询]</h2>
          <ul class="name-ul">
            <li 
              v-for="(item, index) in name" :key="index" 
              @click="clickWord(item, index)"
              :class="{'active': nameindex === index}"
            >
              {{item}}
            </li>
          </ul>
        </div>
        <h2 class="my-city-title">全部城市列表</h2>
        <div class="my-city-box">
          <div class="my-city" v-for="(item, index) in mycitys" :key="index">
            <span class="my-city-name">
              {{item.first}}
            </span>
            <ul class="my-city-ul">
              <li class="my-city-li" 
                v-for="(city, cityindex) in item.data" :key="cityindex"   
                @click="selectCity(city)"
                :class="{'active': city.register}"
              >
                {{city.name}}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="citymap"></div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
export default {
  data () {
    return {
      citys: [],
      nameindex: -1,
      namekey: '',
      name: ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'J', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'W', 'X', 'Y', 'Z'],
      mycitys: [],
      mycityName: '',
      hotcity: [],
      locationCity: {
        id: 0,
        name: '',
        register: false
      }
    }
  },
  watch: {
    
  },
  computed: {
    ...mapState([
      '_cityinfo'
    ])
  },
  created () {
    this.gotCity();
    this.initmap();
  },
  mounted () {
    
  },
  beforeDestroy () {
    
  },
  methods: {
    initmap () {
      const myFun = (result) => {
        this.mycityName = result.name;
        this.gotName(result.name)
      }
      var myCity = new BMap.LocalCity();
      myCity.get(myFun);
    },
    gotName (name) {
      http.post('/areas/getinfo.do', {
        name: name
      })
      .then((result) => {
        if (result.status) {
          this.locationCity.id = result.data.areaid;
          this.locationCity.register = result.data.register;
          this.locationCity.name = result.data.areaname;
        }
      })
    },
    clickWord (item, index) {
      this.nameindex = index;
      this.namekey = item;
    },
    gotCity () {
      http.post('/recommend/regionnamelist.do')
      .then((result) => {
        let citys = result.data.address;
        let hotcity = result.data.city;
        this.citys = citys;
        this.hotcity = hotcity;
        citys.map((item, index) => {
          item.key = pinyinUtil.getFirstLetter(item.name.split('')[0])
          return item
        })
        citys.sort((a, b) => {
          return a.key.localeCompare(b.key)
        })
        let city = {
            A: [],
            B: [],
            C: [],
            D: [],
            E: [],
            F: [],
            G: [],
            H: [],
            J: [],
            K: [],
            L: [],
            M: [],
            N: [],
            P: [],
            Q: [],
            R: [],
            S: [],
            T: [],
            W: [],
            X: [],
            Y: [],
            Z: []
        }
        citys.map((item, index) => {
          city[item.key].push(item)
        })
        this.name.map((item, index) => {
          let json = {
            first: item,
            data: city[item]
          }
          this.mycitys.push(json)
        })
        //console.log(this.mycitys)
      })
    },
    selectCity (item) {
      if (item.register) {
        let value = {
          areaname: '全城',
          areaid: 0,
          name: item.name,
          id: item.id
        }
        sessionStorage.setItem('_cityinfo', JSON.stringify(value));
        this.$store.commit({ type: 'gotCityid', data: value})
        this.$router.push('/')
      } else {
        window.open('http://platform.uuwed.com/regist','_blank')
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.citys-page {
  width: 100%;
  .citys-header {
    width: 100%;
    height: 80px;
    background: #fff;
  }
  .citys-box {
    padding: 40px 0;
    background-image: url('~@/assets/images/select-city-bg.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    .logo-box {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;
      .logo {
        width: 150px;
        display: block;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .logo-left {
        width: 150px;
      }
      .logo-right {
        width: 157px;
        height: 59px;
      }
      .logo-line {
        display: block;
        height: 56px;
        width: 2px;
        background: #666;
        margin: 0 20px;
      }
    }
    .caption-image {
      width: 392px;
      margin: 0 auto;
      display: block;
    
    }
    .sub {
      width: 100%;
      text-align: center;
      line-height: 17px;
      font-size: 14px;
      font-weight: 300;
      color: #fff;
      margin-bottom: 40px;
    }
    .select-icon {
      width: 12px;
      height: 12px;
      display: block;
      margin: 0 auto;
      position: relative;
      font-size: 0;
      border: 2px solid #fff;
      border-bottom: none;
      border-left: none;
      transform: rotate(136deg);
      animation: up 3s infinite;
      opacity: 0;
    }
  }
  .citys-content {
    width: 1200px;
    margin: 40px auto 0;
    border: 1px solid #EBEEF5;
    background-color: #FFF;
    color: #303133;
    transition: .3s;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    box-sizing: border-box;
    padding: 25px 90px;
    min-height: 600px;
    .citys-all {
      height: 30px;
      margin-left: 20px;
      &::after {
        content: '';
        display: block;
        clear: both;
        width: 0;
        height: 0;
      }
      .city-li {
        float: left;
        height: 30px;
        font-size: 14px;
        line-height: 30px;
        margin-right: 10px;
        padding: 0 8px;
        cursor: pointer;
        &:hover {
          color: #dc1414;
          text-decoration: underline;
        }
        &.active {
          color: #dc1414;
        }
        &.city-li-hot {
          font-weight: 600;
        }
      }
    }
    .name-box {
      display: flex;
      height: 30px;
      margin: 20px 0;
      justify-content: space-between;
      border-bottom: 1px solid #ccc;
      padding-bottom: 15px;
      .name {
        display: block;
        height: 30px;
        font-size: 14px;
        line-height: 30px;
        color: #999;
        color: #000;
        font-weight: 700;
      }
      .name-ul {
        height: 28px;
        display: flex;
        background: #f7f7f7;
        border: 1px solid #eee;
        padding: 0 8px;
        li {
          height: 28px;
          line-height: 28px;
          width: 13px;
          text-align: center;
          font-size: 12px;
          font-weight: 500;
          color: #999;
          margin-right: 8px;
          cursor: pointer;
          &:last-child {
            margin-right: 0;
          }
          &.active {
            color: #dc1414;
          }
        }
      }
      &.name-box-cur {
        justify-content: flex-start;
        .name-cur {
          height: 30px;
          line-height: 30px;
          margin-left: 15px;
          font-size: 14px;
          color: #333;
          span {
            color: #dc1414;
            cursor: pointer;
          }
        }
      }
    }
    .my-city-title {
      font-size: 14px;
      color: #000;
      font-weight: 700;
    }
    .my-city-box {
      margin-top: 30px;
      .my-city {
        display: flex;
        margin-bottom: 15px;
        .my-city-name {
          display: block;
          width: 40px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          background: red;
          color: #fff;
          font-weight: 700;
          font-size: 20px;
        }
        .my-city-ul {
          width: 978px;
          .my-city-li {
            display: inline-block;
            margin: 13px 20px;
            font-size: 14px;
            line-height: 14px;
            &.active {
              font-size: 28px;
              font-weight: 800;
              color: #000;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
@keyframes up {
    0% {
        opacity: 0;
        transform: translate(0, 0) rotate(136deg)
    }

    50% {
        opacity: 1;
        transform: translate(0, -12px) rotate(136deg)
    }

    100% {
        opacity: 0
    }
}

</style>
