<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-05-05 15:23:44
 * @LastEditTime: 2019-08-23 14:32:35
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="page-wrapper app-page">
    <HomeheaderBar></HomeheaderBar>
    <HomeNav></HomeNav>
    <FixedNav></FixedNav>
    <div class="u-home-container" style="margin-top: 20px;">
      <!-- 第一屏 -->
      <div class="u-prime-first">
        <div class="u-left-nav">
          <ul class="u-nav-lists">
            <li class="list-title" :class="{'active': navIndex === 0}" @mouseover="handleEnter(0)">
              <p class="title">
                <em class="icon icon1">icon</em>
                婚礼产品
              </p>
              <p class="subtitle">精选臻品 匠心打造</p>
            </li>
            <li class="list-title" :class="{'active': navIndex === 1}" @mouseover="handleEnter(1)">
              <p class="title">
                <em class="icon icon2">icon</em>
                婚礼案例
              </p>
              <p class="subtitle">新人故事 高端定制</p>
            </li>
            <li class="list-title" :class="{'active': navIndex === 2}" @mouseover="handleEnter(2)">
              <p class="title">
                <em class="icon icon3">icon</em>
                婚礼酒店
              </p>
              <p class="subtitle">预约优惠 多重好礼</p>
            </li>
            <li class="list-title" :class="{'active': navIndex === 3}" @mouseover="handleEnter(3)">
              <p class="title">
                <em class="icon icon4">icon</em>
                婚车租赁
              </p>
              <p class="subtitle">车型丰富 放心无忧</p>
            </li>
          </ul>
        </div>
        <div class="u-left-content">
          <ul class="u-list-content">
            <!-- 产品banner -->
            <li class="list-content" :class="{'zindex2': navIndex === 0}" @mouseover="handleEnter(0)">
              <div class="u-nav-content">
                <div class="u-nav-left">
                   <h2 class="nav-content-h2">优品婚匠 专属您的一站式婚礼</h2>
                   <h3 class="nav-content-h3">我们将为您梦想中的完美婚礼全程贴心服务</h3>
                   <el-form :model="hotelform" ref="hotelform">
                    <div class="nav-content-form">
                      <div class="content-form-row">
                        <div class="content-form-item form-item-right">
                          <el-select v-model="productform.styleid" placeholder="--婚礼风格--" class="content-form-item" :popper-append-to-body="false" clearable @focus="productStyleData">
                            <el-option
                              v-for="item in productStyleList"
                              :key="item.id"
                              :label="item.name"
                              :value="item.id"

                            >
                            </el-option>
                          </el-select>
                        </div>
                        <div class="content-form-item">
                          <el-select v-model="productform.moneytypeid" placeholder="--婚礼预算--" class="content-form-item" :popper-append-to-body="false" clearable @focus="productMoneyData">
                            <el-option
                              v-for="item in productMoneyList"
                              :key="item.id"
                              :label="item.name"
                              :value="item.id"
                            >
                            </el-option>
                          </el-select>
                        </div>
                      </div>
                      <div class="content-form-row">
                        <div class="content-form-item form-item-right">
                          <el-select v-model="productform.arranged" placeholder="请选择是否一站式包办" class="content-form-item" :popper-append-to-body="false" clearable>
                            <el-option label="是" value="一站式包办"></el-option>
                            <el-option label="否" value="仅婚庆"></el-option>
                          </el-select>
                        </div>
                        <div class="content-form-item">
                          <el-date-picker
                            v-model="productform.weddingdate"
                            type="date"
                            placeholder="请选择您的婚期"
                            class="content-form-item"
                            format="yyyy 年 MM 月 dd 日"
                            value-format="yyyy-MM-dd"
                            :picker-options="pickerOptions"
                          >
                          </el-date-picker>
                        </div>
                      </div>
                      <div class="content-form-row">
                        <div class="content-form-item form-item-right">
                          <el-select v-model="productform.areaid" placeholder="--预约区域--" class="content-form-item" :popper-append-to-body="false" clearable @focus="areasListData">
                            <el-option
                              v-for="item in areaList"
                              :key="item.areaid"
                              :label="item.areaname"
                              :value="item.areaid"
                            >
                            </el-option>
                          </el-select>
                        </div>
                        <div class="content-form-item">
                          <el-input v-model="productform.phone" placeholder="请输入您的联系方式" clearable></el-input>
                        </div>
                      </div>
                      <div class="content-form-row">
                        <span class="submit-btn" @click.stop="productSubmit">立即预约-婚礼管家</span>
                      </div>
                    </div>
                   </el-form>
                </div>
                <div class="u-nav-right">
                  <div class="nav-right nav-right-bottom" @click="jumpProduct(1)">
                    <!-- 最新方案 -->
                    <img src="~@/assets/images/new.png">
                  </div>
                   <div class="nav-right" @click="jumpProduct(2)">
                     <!-- 最热方案 -->
                     <img src="~@/assets/images/hot.png">
                   </div>
                </div>
              </div>
            </li>
            <!-- 案例banner -->
            <li class="list-content" :class="{'zindex2': navIndex === 1}" @mouseover="handleEnter(1)">
              <div class="u-nav-content">
                <div class="u-nav-left">
                  <h2 class="nav-content-h2">优品婚匠 精品案例分享</h2>
                  <h3 class="nav-content-h3">满足您关于一切婚礼的幻想</h3>
                    <div class="nav-content-form">
                      <div class="content-form-row">
                        <div class="content-li-item content-li-right">
                          <!-- 新中式 -->
                          <router-link to="/case">
                             <img src="~@/assets/images/xzs.png">
                          </router-link>
                        </div>
                        <div class="content-li-item">
                          <!-- 简约欧式 -->
                          <router-link to="/case">
                             <img src="~@/assets/images/jyos.png">
                          </router-link>
                        </div>
                      </div>
                      <div class="content-form-row">
                        <div class="content-li-item content-li-right">
                          <!-- 浪漫梦幻 -->
                          <router-link to="/case">
                             <img src="~@/assets/images/lmmh.png">
                          </router-link>
                        </div>
                        <div class="content-li-item">
                          <!-- 自然森系 -->
                          <router-link to="/case">
                             <img src="~@/assets/images/zrsx.png">
                          </router-link>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="u-nav-right">
                  <div class="nav-right nav-right-bottom" @click="jumpCase(4)">
                    <!-- 标准产品案例 -->
                    <img src="~@/assets/images/bzal.png">
                  </div>
                  <div class="nav-right" @click="jumpCase(5)">
                    <!-- 高端定制案例 -->
                    <img src="~@/assets/images/gdal.png">
                  </div>
                </div>
              </div>
            </li>
            <!-- 酒店banner -->
            <li class="list-content" :class="{'zindex2': navIndex === 2}" @mouseover="handleEnter(2)">
              <div class="u-nav-content">
                <div class="u-nav-left">
                  <h2 class="nav-content-h2">优品婚匠 精选品质酒店</h2>
                  <h3 class="nav-content-h3">我们帮您严选了最优质的酒店 安心才是关键</h3>
                    <div class="nav-content-form">
                      <div class="content-form-row">
                        <div class="content-form-item form-item-right">
                          <el-select v-model="hotelform.moneytypeid" placeholder="--酒店价位--" class="content-form-item" :popper-append-to-body="false" clearable @focus="hotelMoneyData">
                            <el-option
                              v-for="item in hotelMoneyList"
                              :key="item.id"
                              :label="item.name"
                              :value="item.id"
                            >
                            </el-option>
                          </el-select>
                        </div>
                        <div class="content-form-item">
                          <el-select v-model="hotelform.areaid" placeholder="--酒店位置--" class="content-form-item" :popper-append-to-body="false" clearable @focus="areasListData">
                            <el-option
                              v-for="item in areaList"
                              :key="item.areaid"
                              :label="item.areaname"
                              :value="item.areaid"
                            >
                            </el-option>
                          </el-select>
                        </div>
                      </div>
                      <div class="content-form-row">
                        <div class="content-form-item form-item-right">
                          <el-input v-model="hotelform.actualtable" placeholder="您的预期桌数" class="content-form-item" clearable></el-input>
                        </div>
                        <div class="content-form-item">
                          <el-input v-model="hotelform.sparetable" placeholder="您的备用桌数" class="content-form-item" clearable></el-input>
                        </div>
                      </div>
                      <div class="content-form-row">
                        <el-input v-model="hotelform.phone" placeholder="请输入您的联系方式"></el-input>
                      </div>
                      <div class="content-form-row">
                        <span class="submit-btn" @click.stop="hotelSubmit">立即预约-酒店管家</span>
                      </div>
                    </div>
                </div>
                <div class="u-nav-right">
                  <div class="nav-right nav-right-bottom">
                    <router-link to="/hotels">
                      进入酒店频道
                      <img src="~@/assets/images/jdpd.png">
                    </router-link>
                  </div>
                  <div class="nav-right">
                    <router-link to="/hotels">
                      活动酒店列表
                      <img src="~@/assets/images/hdjd.png">
                    </router-link>
                  </div>
                </div>
              </div>
            </li>
            <!-- 婚车banner -->
            <li class="list-content" :class="{'zindex2': navIndex === 3}"  @mouseover="handleEnter(3)">
              <div class="u-nav-content">
                <div class="u-nav-left">
                  <h2 class="nav-content-h2">优品婚匠 完善婚车服务</h2>
                  <h3 class="nav-content-h3">品牌众多 安全保障 价格实惠 服务完善</h3>
                    <div class="nav-content-form">
                      <div class="content-form-row">
                        <div class="content-form-item form-item-right">
                          <el-select v-model="carform.hangbrandid" placeholder="--头车品牌--" class="content-form-item" :popper-append-to-body="false" clearable @focus="brandData">
                            <el-option
                              v-for="item in carbrandList"
                              :key="item.id"
                              :label="item.name"
                              :value="item.id"
                            >
                            </el-option>
                          </el-select>
                        </div>
                        <div class="content-form-item">
                          <el-select v-model="carform.tailbrandid" placeholder="--跟车品牌--" class="content-form-item" :popper-append-to-body="false" clearable @focus="brandData">
                            <el-option
                              v-for="item in carbrandList"
                              :key="item.id"
                              :label="item.name"
                              :value="item.id"
                            >
                            </el-option>
                          </el-select>
                        </div>
                      </div>
                      <div class="content-form-row">
                        <div class="content-form-item form-item-right">
                          <el-date-picker
                            v-model="carform.usedtime"
                            type="date"
                            placeholder="请选择用车日期"
                            class="content-form-item"
                            format="yyyy 年 MM 月 dd 日"
                            value-format="yyyy-MM-dd"
                            :picker-options="pickerOptions"
                          >
                          </el-date-picker>
                        </div>
                        <div class="content-form-item">
                          <el-select v-model="carform.driver" placeholder="是否配备司机" class="content-form-item" :popper-append-to-body="false">
                            <el-option label="配备" value="是"></el-option>
                            <el-option label="不配备" value="否"></el-option>
                          </el-select>
                        </div>
                      </div>
                      <div class="content-form-row">
                        <div class="content-form-item form-item-right">
                          <el-select v-model="carform.areaid" placeholder="--预约区域--" class="content-form-item" :popper-append-to-body="false" clearable @focus="areasListData">
                            <el-option
                              v-for="item in areaList"
                              :key="item.areaid"
                              :label="item.areaname"
                              :value="item.areaid"
                            >
                            </el-option>
                          </el-select>
                        </div>
                        <div class="content-form-item">
                          <el-input v-model="carform.phone" placeholder="请输入您的联系方式" clearable></el-input>
                        </div>
                      </div>
                      <div class="content-form-row">
                        <span class="submit-btn" @click.stop="carSubmit">立即预约-婚车管家</span>
                      </div>
                    </div>
                </div>
                <div class="u-nav-right">
                  <div class="nav-right nav-right-bottom">
                    <router-link to="/cars">
                      进入婚车频道
                      <img src="~@/assets/images/hcpd.png">
                    </router-link>
                  </div>
                  <div class="nav-right">
                    <router-link to="/cars">
                      进入婚车活动
                      <img src="~@/assets/images/hchd.png">
                    </router-link>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="recommend-wrapper">
        <div class="recommend">
          <a target="_blank" href="javascript:;" title="电子请帖" class="recommend-list-a">
            <dl class="recommend-list clearfix">
              <dd>
                <p class="title">电子请帖</p>
                <p class="text">
                  免费制作<br/>
                  分享你们的幸福
                </p>
              </dd>
              <dt>
                <img src="~@/assets/images/recommend-01.png" class="dzqt-icon"/>
              </dt>
            </dl>
          </a>
          <a target="_blank" href="javascript:;" title="了解优品" class="recommend-list-a">
            <dl class="recommend-list clearfix">
              <dd>
                <p class="title">了解优品</p>
                <p class="text">
                  品质匠心<br/>
                  用每一场婚礼证明
                </p>
              </dd>
              <dt>
                <img src="~@/assets/images/recommend-02.png" class="ljyp-icon"/>
              </dt>
            </dl>
          </a>
          <a target="_blank" href="javascript:;" title="下载APP" class="recommend-list-a">
            <dl class="recommend-list clearfix">
              <dd>
                <p class="title">应用下载</p>
                <p class="text">
                  备婚神器<br/>
                  陪伴婚礼每个阶段
                </p>
              </dd>
              <dt>
                <img src="~@/assets/images/recommend-03.png" class="yyxz-icon"/>
              </dt>
            </dl>
          </a>
          <a href="javascript:;" class="recommend-list-a">
            <div class="data-number">
              <span class="num">
                已为<em>0</em><em>0</em><em>0</em><em>5</em><em>2</em>对新人
              </span>
              <span class="num num-txt">提供一站式专业称心的婚礼服务</span>
            </div>
          </a>
          <a href="javascript:;" class="recommend-list-a">
            <div class="data-form">
              <input type="text" placeholder="请输入的电话号码" class="ipt-price">
              <button class="got-price">获取一站式婚礼方案</button>
            </div>
          </a>
        </div>
      </div>
      <!-- 婚庆门店 -->
      <div class="trends-door-wrapper">
        <div class="trends-door">
          <h2 class="door-caption">精选婚庆店铺</h2>
          <p class="door-caption-des">消费透明/专业团队/服务舒心</p>
          <ul class="door-ul">
            <li class="door-li" v-for="(item, index) in merchantdata" :key="index">
              <div class="door-name">
                {{item.name}}<span class="sub">/ {{item.typename}}</span>
              </div>
              <div class="door-pic">
                <img :src="item.image"/>
              </div>
              <p class="adr">
                <strong>店铺地址：</strong>{{item.address}}
              </p>
              <p class="trac">
                <strong>交通地址：</strong>{{item.traffic}}
              </p>
            </li>
            <li class="door-li">
              <div class="ad-box">
                <router-link to="/join">
                  <img src="~@/assets/images/ad_join.png">
                </router-link>
              </div>
              <div class="ad-box">
                <router-link to="/store">
                  <img src="~@/assets/images/ad_door.png">
                </router-link>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- 婚礼产品 -->
      <div class="u-theme-wedding">
        <h2 class="u-caption">精选婚礼产品</h2>
        <p class="u-caption-des">消费透明/专业团队/服务舒心</p>
        <div class="theme-wedding-box">
          <div class="theme-wedding">
            <div class="wedding-play-box">
              <ul class="wedding-play" ref="weddingcontent">
                <li
                  class="wedding-li"
                  v-for="(item, index) in prodata"
                  :key="index"
                >
                  <router-link
                    target="_blank"
                    :to="{ path: 'productsDetail', query: { id: item.proid } }"
                  >
                    <img :src="item.pcpath1" alt="">
                    <div class="mask-content">
                      <div class="title-box">
                        <span class="title">{{ item.name }}</span>
                        <span class="price">￥<em class="num">{{item.money}}</em></span>
                      </div>
                      <span class="des">{{item.styledescription}}</span>
                      <span class="btn">查看详情</span>
                    </div>
                  </router-link>
                </li>
              </ul>
            </div>
            <div class="wedding-caption-list">
              <div class="caption-bar">
                <span class="bar-title">婚礼产品</span>
                <router-link to ="/products" class="bar-more">
                  更多婚礼产品
                </router-link>
              </div>
              <ul class="caption-list">
                <li
                  v-for="(item, index) in prodata"
                  :key="index"
                  :class="{ active: galleryIndex === index }"
                  @click="changeGallery(index, item)"
                >
                  <div class="pic">
                    <img :src="item.pcpath1" />
                  </div>
                  <div class="text-con">
                    <span class="subtext">{{ item.name }}</span>
                    <p class="des">{{item.styledescription}}</p>
                    <p class="price">￥<em>{{item.money}}</em></p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- 优品婚礼服务流程 -->
        <div class="service-procedure">
          <div class="u-caption-bar">
            优品婚礼服务流程
            <span class="sub">消费透明/专业团队/服务舒心</span>
          </div>
          <ul class="number-list-inner">
            <li>
              <span class="icon">
                <img
                  src="~@/assets/images/service-list-01.png"
                  alt="咨询预约"
                />
              </span>
              <p class="title">咨询预约</p>
              <p class="subtitle">预约附近体验店沟通</p>
              <p class="line-bar first-line">
                <em class="num">1</em>
              </p>
            </li>
            <li>
              <span class="icon">
                <img
                  src="~@/assets/images/service-list-02.png"
                  alt="选择产品"
                />
              </span>
              <p class="title">选择产品</p>
              <p class="subtitle">根据需求预算确定产品服务</p>
              <p class="line-bar">
                <em class="num">2</em>
              </p>
            </li>
            <li>
              <span class="icon">
                <img
                  src="~@/assets/images/service-list-03.png"
                  alt="签订合同"
                />
              </span>
              <p class="title">签订合同</p>
              <p class="subtitle">签订合同及支付合同金</p>
              <p class="line-bar">
                <em class="num">3</em>
              </p>
            </li>
            <li>
              <span class="icon">
                <img
                  src="~@/assets/images/service-list-04.png"
                  alt="服务团队对接"
                />
              </span>
              <p class="title">服务团队对接</p>
              <p class="subtitle">组建团队沟通仪式流程</p>
              <p class="line-bar">
                <em class="num">4</em>
              </p>
            </li>
            <li>
              <span class="icon">
                <img
                  src="~@/assets/images/service-list-05.png"
                  alt="婚礼彩排"
                />
              </span>
              <p class="title">婚礼彩排</p>
              <p class="subtitle">婚礼预演落实流程</p>
              <p class="line-bar">
                <em class="num">5</em>
              </p>
            </li>
            <li>
              <span class="icon">
                <img
                  src="~@/assets/images/service-list-06.png"
                  alt="婚礼执行"
                />
              </span>
              <p class="title">婚礼执行</p>
              <p class="subtitle">确保现场工作完美</p>
              <p class="line-bar">
                <em class="num">6</em>
              </p>
            </li>
            <li>
              <span class="icon">
                <img
                  src="~@/assets/images/service-list-07.png"
                  alt="后期服务"
                />
              </span>
              <p class="title">后期服务</p>
              <p class="subtitle">满意度回访及交付影像作品</p>
              <p class="line-bar finally-line">
                <em class="num">7</em>
              </p>
            </li>
          </ul>
        </div>
      </div>
      <!-- 婚礼案例 -->
      <div class="brand-case-warpper">
        <div class="brand-case">
          <div class="case-title">
            <h3 class="title">精选案例</h3>
            <p class="subtitle">- 优品婚礼 匠心打造 -</p>
          </div>
          <div class="case-slide-warp">
            <div class="swiper-container case-swipers" ref="caseListSwiper">
              <div class="swiper-wrapper">
                <div
                  class="swiper-slide"
                  v-for="(item, index) in demodata"
                  :key="index"
                >
                  <router-link
                    target="_blank"
                    :to="{ path: 'caseDetail', query: { id: item.demoid } }"
                    class="case-swiper-a"
                  >
                    <img :src="item.image"/>
                  </router-link>
                  <div class="content">
                    <p class="title">{{item.name}}</p>
                    <p class="address">{{item.demoposition}} | {{item.hotelmsg}}</p>
                    <p class="case-time">{{item.demotime | formatDate}}</p>
                    <p class="case-des">
                      {{item.demodescribe}}
                    </p>
                    <div class="case-btn-bar">
                      <router-link target="_blank" :to="{ name: 'caseDetail', query: { id: item.demoid } }">
                        <span class="case-btn red">查看详情</span>
                      </router-link>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination swiper-pagination-case"></div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
          </div>
          <router-link to="/case" class="case-more">查看更多案例</router-link>
        </div>
      </div>
      <!-- 甄选品牌酒店 -->
      <div class="brand-hotel-warpper">
        <div class="brand-hotel">
          <div class="hotel-title">
            <h3 class="title">精选品质酒店</h3>
            <p class="subtitle">- 精选酒店 品质为你 -</p>
          </div>
          <ul class="hotel-lists">
            <li v-for="(item, index) in hoteldata" :key="index">
              <router-link
                target="_blank"
                :to="{ path: 'hoteldetail', query: { id: item.hotelid } }"
              >
                <p class="pic">
                  <img
                    :src="item.hotelimage"
                  />
                </p>
                <p class="title">{{ item.hotelname }}</p>
                <p class="des">
                  可容纳{{ item.maxtable }}桌 | {{ item.hotelposition }} | {{ item.hotellevel }}
                </p>
                <p class="price-bar">
                  ￥<em class="num">{{ item.price }}</em>起
                </p>
              </router-link>
              <span class="news-btn" @click="openLayer(item, 1)">立即预订</span>
            </li>
          </ul>
          <router-link to="/hotels" class="hotel-more">查看更多酒店</router-link>
        </div>
      </div>
      <!-- 优质品牌婚车 -->
      <div class="brand-car-warpper">
        <div class="brand-car">
          <div class="car-title">
            <h3 class="title">精选品牌婚车</h3>
            <p class="subtitle">- 精选好车 品质为你 -</p>
          </div>
          <ul class="car-lists">
            <li v-for="(item, index) in cardata" :key="index">
              <router-link
                target="_blank"
                :to="{ name: 'cardetail', query: { id: item.carid } }"
              >
                <p class="pic">
                  <img
                    :src="item.carimage"
                  />
                </p>
                <p class="title">{{ item.name }}</p>
                <div class="car-des">
                  <p class="des">
                    车身颜色 {{ item.colordata | gotCarName}}
                  </p>
                  <p class="price-bar">
                    ￥<em class="num">{{ item.price }}</em>起
                  </p>
                </div>
              </router-link>
              <span class="news-btn" @click="openLayer(item, 3)">立即预约</span>
            </li>
            <li>
              <router-link to="/cars" class="car-more">查看更多婚车</router-link>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- 底图轮播 -->
    <div class="page-bg-box">
      <div class="page-bg page-bg-home"></div>
    </div>
    <!-- footer -->
    <Footer>
      <template v-slot:footer-content></template>
    </Footer>
    <!-- 手机短信预约 -->
    <vPhoneLayer v-show="showlayer" @closeLayer="closeLayer" :type="mytype" :id="myid"></vPhoneLayer>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import HomeheaderBar from "@/components/page/Home/topbar-home";
import HomeNav from "@/components/page/Home/nav-home";
import Footer from "@/components/common/Footer/index";
import xMessage from "@/components/common/Layer/index";
import FixedNav from "@/components/page/Home/navfixed";
import vPhoneLayer from "@/components/common/phone/phone";
import http from "@/axios/http";
import Swiper from "swiper";
import $ from "jquery";
export default {
  data() {
    let validatePhone = (rule, value, callback) => {
      if (!/^1[3456789]\d{9}$/.test(value)) {
        callback(new Error('手机号码不合法'));
      } else {
        callback();
      }
    };
    let validateNumber = (rule, value, callback) => {
      if (!value) {
        callback(new Error('不能为空'));
      } else {
        if (!/^[1-9][0-9]*$/.test(value)) {
          callback(new Error('输入不合法'));
        } else {
          callback();
        }
      }
    };
    let validateNumber1 = (rule, value, callback) => {
      if (!value) {
        callback();
      } else {
        if (!/^[0-9][0-9]*$/.test(value)) {
          callback(new Error('输入不合法'));
        } else {
          if (value.length >= 2 && parseInt(value.charAt(0)) === 0) {
            callback(new Error('输入不合法'));
          } else {
            callback();
          }
        }
      }
    };
    return {
      copynavIndex: true,
      navIndex: 0,
      galleryIndex: 0,
      prodata: [],
      hoteldata: [],
      merchantdata: [],
      cardata: [],
      demodata: [],
      productStyleList: [],
      productMoneyList: [],
      hotelMoneyList: [],
      areaList: [],
      carbrandList: [],
      hotelform: {
        phone: '',
        hotelid: 0,
        areaname: '',
        areaid: '',
        moneytype: '',
        moneytypeid: '',
        actualtable: '',
        sparetable: ''
      },
      productform: {
        phone: '',
        merchantid: 0,
        arranged: '',
        stylename: '',
        styleid: '',
        moneytype: '',
        moneytypeid: '',
        weddingdate: '',
        areaname: '',
        areaid: ''
      },
      carform: {
        phone: '',
        vehicleid: 0,
        hangbrand: '',
        hangbrandid: '',
        tailbrand: '',
        tailbrandid: '',
        usedtime: '',
        driver: '',
        areaname: '',
        areaid: ''
      },
      message: '',
      pickerOptions: {
        disabledDate (time) {
          return time.getTime() - (0*3600 * 1000 * 24) <= Date.now();
        }
      },
      mytype: 0,
      myid: 0,
      showlayer: false
    };
  },
  watch: {

  },
  filters: {
    formatDate (value) {
      if (!value) return ''
      const arr = value.split('-');
      return arr[0] + '年' + arr[1] + '月' + arr[2] + '日'
    },
    gotCarName (value){
      if (!value.length) return ''
      return value[0].name
    }
  },
  computed: {
    ...mapState([
      '_cityinfo'
    ]),
  },
  components: {
    HomeheaderBar,
    HomeNav,
    Footer,
    FixedNav,
    vPhoneLayer
  },
  created() {
    this.gotHomeData();
    /*
      //首页下拉
      this.productStyleData();
      this.productMoneyData();
      this.hotelMoneyData();
      this.areasListData();
      this.brandData();
    */
  },
  mounted() {},
  beforeDestroy() {},
  methods: {
    productSubmit () {

      if (!this.productform.moneytypeid) {
        this.$message.error({
          message: '请您选择婚礼预算',
          offset: 100
        });
      } else if (!this.productform.styleid) {
        this.$message.error({
          message: '请您选择婚礼风格',
          offset: 100
        });
      } else if (!this.productform.arranged) {
        this.$message.error({
          message: '请您选择是否一站式包办',
          offset: 100
        });
      } else if (!this.productform.weddingdate) {
        this.$message.error({
          message: '请您选择婚期',
          offset: 100
        });
      } else if (!this.productform.areaid) {
        this.$message.error({
          message: '请您选择预约位置',
          offset: 100
        });
      } else if (!/^1[3456789]\d{9}$/.test(this.productform.phone)) {
        this.$message.warning('请您的手机号不合法');
      } else {
        const filtermoney = this.productMoneyList.filter((item, index) => {
          return item.id === this.productform.moneytypeid;
        })
        this.productform.moneytype = filtermoney[0].name;
        const filterstyle = this.productStyleList.filter((item, index) => {
          return item.id === this.productform.styleid;
        })
        this.productform.stylename = filterstyle[0].name;

        const filterareas = this.areaList.filter((item, index) => {
          return item.areaid === this.productform.areaid;
        })
        this.productform.areaname = filterareas[0].areaname;
        this.productPost();
      }
    },
    resetProductSubmit () {
      this.productform = {
        phone: '',
        merchantid: 0,
        arranged: '',
        stylename: '',
        styleid: '',
        moneytype: '',
        moneytypeid: '',
        weddingdate: '',
        areaname: '',
        areaid: ''
      }
    },
    productPost () {
      http.post("/merchantsubscribe/addmerchantsubscribe.do", {
        merchantid: this.productform.merchantid,
        phone: this.productform.phone,
        moneytypeid: this.productform.moneytypeid,
        moneytype: this.productform.moneytype,
        stylename: this.productform.stylename,
        styleid: this.productform.styleid,
        arranged: this.productform.arranged,
        weddingdate: this.productform.weddingdate,
        areaname: this.productform.areaname,
        areaid: this.productform.areaid,
        cityname: this._cityinfo.name,
        cityid: this._cityinfo.id,
      })
      .then((result) => {
        if (result.status === 1) {
          this.$message.success({
            message: result.msg,
            offset: 100
          });
          this.resetProductSubmit();
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    hotelSubmit () {
      if (!this.hotelform.moneytypeid) {
        this.$message.error({
          message: '请您选择酒店价位',
          offset: 100
        });
      } else if (!this.hotelform.areaid) {
        this.$message.error({
          message: '请您选择酒店位置',
          offset: 100
        });
      } else if (!/^[1-9][0-9]*$/.test(this.hotelform.actualtable)) {
        this.$message.error({
          message: '请您输入正确的预期桌数',
          offset: 100
        });
      } else if (!/^1[3456789]\d{9}$/.test(this.hotelform.phone)) {
        this.$message.warning('请您的手机号不合法');
      } else {
        if (this.hotelform.sparetable) {
          if (!/^[0-9][0-9]*$/.test(this.hotelform.sparetable)) {
            this.$message.error({
              message: '请您输入正确的备用桌数',
              offset: 100
            });
            return
          } else {
            if (this.hotelform.sparetable.length >= 2 && parseInt(this.hotelform.sparetable.charAt(0)) === 0) {
              this.$message.error({
                message: '请您输入正确的备用桌数',
                offset: 100
              });
              return
            }
          }
        } else {
          this.hotelform.sparetable = 0;
        }
        const filtermoney = this.hotelMoneyList.filter((item, index) => {
          return item.id === this.hotelform.moneytypeid;
        })
        this.hotelform.moneytype = filtermoney[0].name;
        const filterareas = this.areaList.filter((item, index) => {
          return item.areaid === this.hotelform.areaid;
        })
        this.hotelform.areaname = filterareas[0].areaname;
        this.hotelPost();
      }
    },
    resetHotelSubmit () {
      this.hotelform = {
        phone: '',
        hotelid: 0,
        areaname: '',
        areaid: '',
        moneytype: '',
        moneytypeid: '',
        actualtable: '',
        sparetable: ''
      }
    },
    hotelPost () {
      http.post("/hotelsubscribe/addhotelsubscribe.do", {
        hotelid: this.hotelform.hotelid,
        phone: this.hotelform.phone,
        areaid: this.hotelform.areaid,
        areaname: this.hotelform.areaname,
        moneytypeid: this.hotelform.moneytypeid,
        moneytype: this.hotelform.moneytype,
        actualtable: this.hotelform.actualtable,
        sparetable: this.hotelform.sparetable,
        cityname: this._cityinfo.name,
        cityid: this._cityinfo.id,
      })
      .then((result) => {
        if (result.status === 1) {
          this.$message.success({
            message: result.msg,
            offset: 100
          });
          this.resetHotelSubmit();
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    carSubmit () {
      if (!this.carform.hangbrandid) {
        this.$message.error({
          message: '请您选择头车品牌',
          offset: 100
        });
      } else if (!this.carform.tailbrandid) {
        this.$message.error({
          message: '请您选择跟车品牌',
          offset: 100
        });
      } else if (!this.carform.usedtime) {
        this.$message.error({
          message: '请您选择用车时间',
          offset: 100
        });
      } else if (!this.carform.driver) {
        this.$message.error({
          message: '请您选择是否配置司机',
          offset: 100
        });
      } else if (!this.carform.areaid) {
        this.$message.error({
          message: '请您选择预约位置',
          offset: 100
        });
      } else if (!/^1[3456789]\d{9}$/.test(this.carform.phone)) {
        this.$message.warning('请您的手机号不合法');
      } else {
        const filterhangbrand = this.carbrandList.filter((item, index) => {
          return item.id === this.carform.hangbrandid;
        })
        this.carform.hangbrand = filterhangbrand[0].name;
        const filtertailbrand = this.carbrandList.filter((item, index) => {
          return item.id === this.carform.tailbrandid;
        })
        this.carform.tailbrand = filtertailbrand[0].name;
        const filterareas = this.areaList.filter((item, index) => {
          return item.areaid === this.carform.areaid;
        })
        this.carform.areaname = filterareas[0].areaname;
        this.carPost();
      }
    },
    resetCarSubmit () {
      this.carform = {
        phone: '',
        vehicleid: 0,
        hangbrand: '',
        hangbrandid: '',
        tailbrand: '',
        tailbrandid: '',
        usedtime: '',
        driver: '',
        areaname: '',
        areaid: ''
      }
    },
    carPost () {
      http.post("/vehiclesubscribe/addvehiclesubscribe.do", {
        vehicleid: this.carform.vehicleid,
        phone: this.carform.phone,
        hangbrand: this.carform.hangbrand,
        hangbrandid: this.carform.hangbrandid,
        tailbrand: this.carform.tailbrand,
        tailbrandid: this.carform.tailbrandid,
        driver: this.carform.driver,
        usedtime: this.carform.usedtime,
        areaname: this.carform.areaname,
        areaid: this.carform.areaid,
        cityname: this._cityinfo.name,
        cityid: this._cityinfo.id,
      })
      .then((result) => {
        if (result.status === 1) {
          this.$message.success({
            message: result.msg,
            offset: 100
          });
          this.resetCarSubmit();
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    openLayer(item, type) {
      this.mytype = type;
      this.myid = item.id;
      this.showlayer = true;
    },
    closeLayer() {
      this.showlayer = false;
    },
    handleEnter (index) {
      this.navIndex = index;
    },
    changeGallery(index) {
      this.galleryIndex = index;
      this.$refs.weddingcontent.style.transform = `translateX(${index*-800}px)`;
    },
    jumpProduct (type) {
      this.$store.state.productType = type;
      this.$router.push('/products')
    },
    jumpCase (type) {
      this.$store.state.caseType = type;
      this.$router.push('/case')
    },
    goRegist () {
      window.open('http://platform.uuwed.com/regist','_blank')
    },
    gotHomeData () {
      http.post('recommend/homelist.do', {
        cityid: this._cityinfo.id,
        areaid: this._cityinfo.areaid
      })
      .then((result) => {
        if (result.status === 1) {
          this.prodata = result.data.prodata;
          this.hoteldata = result.data.hoteldata;
          this.merchantdata = result.data.merchantdata;
          this.cardata = result.data.cardara;
          this.demodata = result.data.demodara;
          this.initSwiper();
        }
      })
    },
    productStyleData () {
      //产品风格
      http.post("/type/Productcharacteristicstype.do")
      .then((result) => {
        if (result.status === 1) {
          this.productStyleList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    productMoneyData () {
      //产品价格区间
      http.post("/money/droplist.do", {
        type: 6
      })
      .then((result) => {
        if (result.status === 1) {
          this.productMoneyList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    hotelMoneyData () {
      //酒店价格区间
      http.post("/money/droplist.do", {
        type: 1
      })
      .then((result) => {
        if (result.status === 1) {
          this.hotelMoneyList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    areasListData() {
      //区列表
      http.post("/areas/selectbyparentid.do", {
        parentid: this._cityinfo.id
      }).then((result) => {
        if (result.status === 1) {
          this.areaList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    brandData () {
      //车品牌
      http.post("/vehiclebrand/getlist.do")
      .then((result) => {
        if (result.status === 1) {
          this.carbrandList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    initSwiper() {
      this.$nextTick(() => {
        // 婚礼案例
        let caseListSwiper = new Swiper(this.$refs.caseListSwiper, {
          effect: "fade",
          loop: true,
          autoplay: 5000, // 可选选项，自动滑动
          pagination: ".case-swipers .swiper-pagination",
          prevButton: ".case-swipers .swiper-button-prev",
          nextButton: ".case-swipers .swiper-button-next",
          paginationClickable: true,
          autoplayDisableOnInteraction: false
        });
      });
    }
  }

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.u-home-container {
  .u-prime-first {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    box-shadow: 0 3px 6px rgba(102, 102, 102, 0.16);
    height: 380px;
    box-sizing: border-box;
    position: relative;
    .u-left-nav {
      width: 226px;
      height: 380px;
      background-color: rgba(0, 0, 0, 0.6);
      position: relative;
      z-index: 6;
      .u-nav-lists {
        height: 380px;
        width: 226px;
        li.list-title {
          width: 226px;
          height: 95px;
          display: block;
          padding: 25px 13px 0 42px;
          cursor: pointer;
          transition: all .3s;
          box-sizing: border-box;
          .title {
            line-height: 25px;
            color: #eee;
            font-size: 18px;
            font-weight: 400;
            .icon {
              width: 20px;
              height: 20px;
              display: inline-block;
              margin-right: 2px;
              font-size: 0;
              vertical-align: middle;
              background-repeat: no-repeat;
              background-position: center center;
              background-size: 19px 17px;
              &.icon1 {
                background-image: url("~@/assets/images/nav-1.png");
              }
              &.icon2 {
                background-image: url("~@/assets/images/nav-2.png");
              }
              &.icon3 {
                background-size: 18px 17px;
                background-image: url("~@/assets/images/nav-3.png");
              }
              &.icon4 {
                background-size: 19px 15px;
                background-image: url("~@/assets/images/nav-4.png");
              }
            }
          }
          .subtitle {
            line-height: 20px;
            color: #999;
            font-size: 14px;
            font-weight: 300;
          }
          &.active {
            background: #fff;
            .title {
              color: #dc1414;
              .icon1 {
                background-image: url("~@/assets/images/nav-1-active.png");
              }
              .icon2 {
                background-image: url("~@/assets/images/nav-2-active.png");
              }
              .icon3 {
                background-image: url("~@/assets/images/nav-3-active.png");
              }
              .icon4 {
                background-image: url("~@/assets/images/nav-4-active.png");
              }
            }
          }
        }
      }
    }
    .u-left-content {
      width: 974px;
      height: 380px;
      .u-list-content {
        width: 974px;
        height: 380px;
        position: relative;
        .list-content {
          width: 974px;
          height: 380px;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;
          &.zindex2 {
            z-index: 2;
          }
          .u-index-banner {
            height: 380px;
            .pic {
              display: block;
              height: 380px;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .u-swiper-button {
              width: 40px;
              top: 50%;
              margin-top: -30px;
              height: 60px;
              background-repeat: no-repeat;
              background-size: 40px 60px;
              background: center center;
              opacity: 1;
              &.swiper-button-prev {
                left: 0;
                background-image: url("~@/assets/images/trends-prev1.png");
              }
              &.swiper-button-next {
                right: 0;
                background-image: url("~@/assets/images/trends-next1.png");
              }
            }
            &:hover {
              .swiper-button-prev {
                opacity: 1;
                background-image: url("~@/assets/images/trends-prev2.png");
              }
              .swiper-button-next {
                opacity: 1;
                background-image: url("~@/assets/images/trends-next2.png");
              }
            }
            /*
            .swiper-pagination-bullet {
              width: 6px;
              height: 6px;
              border: 2px solid #B9BEB9;
              margin: 2px 4px;
              bottom: 23px;
            }
            .swiper-pagination-bullet-active {
              width: 10px;
              height: 10px;
              border: 3px solid #FDD9DD;
              margin: 0 4px;
            }
            */
            .swiper-pagination-bullet {
              width: 80px;
              height: 2px;
              background: #fff;
              border-radius: 2px;
              position: relative;
              bottom: 23px;
              &::after {
                position: absolute;
                width: 0;
                height: 100%;
                left: 0;
                top: 0;
                display: block;
                content: '';
                clear: both;
                background: #DC1414;
                transition: all 5s linear;
              }
            }
            .swiper-pagination-bullet-active {
              &::after {
                animation: caseswiper linear 5s infinite;
              }
            }
          }
          .u-nav-content {
            width: 974px;
            height: 380px;
            box-sizing: border-box;
            position: relative;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            .u-nav-left {
              width: 550px;
              margin-right: 40px;
              .nav-content-h2 {
                font-size: 30px;
                color: #000;
                font-weight: 700;
                height: 50px;
                line-height: 50px;
              }
              .nav-content-h3 {
                font-size: 18px;
                color: red;
                font-weight: 700;
                height: 40px;
                line-height: 40px;
                margin-bottom: 15px;
              }
              .nav-content-form {
                width: 100%;
                box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
                height: 239px;
                box-sizing: border-box;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .content-form-row {
                  width: 520px;
                  margin-bottom: 15px;
                  display: flex;
                  &:last-child {
                    margin-bottom: 0;
                  }
                  .content-form-item {
                    width: 255px;
                    position: relative;
                    &.form-item-right {
                      margin-right: 10px;
                    }
                  }
                  .submit-btn {
                    width: 100%;
                    height: 45px;
                    line-height: 45px;
                    font-size: 16px;
                    color: #fff;
                    cursor: pointer;
                    margin: 0 auto;
                    display: block;
                    border: 0;
                    outline: none;
                    background: #FC4747;
                    text-align: center;
                  }
                  .content-li-item {
                    width: 245px;
                    height: 79px;
                    line-height: 79px;
                    font-weight: 700;
                    font-size: 18px;
                    color: #333;
                    text-align: center;
                    border-radius: 5px;
                    &.content-li-right {
                      margin-right: 30px;
                    }
                    img {
                      width: 100%;
                      height: 100%;
                      border-radius: 5px;
                    }
                  }
                  input::input-placeholder{color:  #333 ;}
                  ::-webkit-input-placeholder { /* WebKit browsers */
                    color: #333;
                  }
                  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                    color: #333;
                  }
                  ::-moz-placeholder { /* Mozilla Firefox 19+ */
                    color: #333;
                  }
                  :-ms-input-placeholder { /* Internet Explorer 10+ */
                    color: #333;
                  }
                }
              }
            }
            .u-nav-right {
              width: 300px;
              .nav-right {
                width: 100%;
                box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
                height: 160px;
                border-radius: 5px;
                line-height: 160px;
                font-weight: 700;
                font-size: 28px;
                color: #333;
                text-align: center;
                cursor: pointer;
                a {
                  display: block;
                  width: 100%;
                  height: 100%;
                  font-size: 0;
                  border-radius: 5px;
                  &:hover {
                    color: #333;
                  }
                }
                .font-a {
                  font-size: 0px;
                }
                img {
                  width: 100%;
                  height: 100%;
                  border-radius: 5px;
                }
                &.nav-right-bottom {
                  margin-bottom: 24px;
                }
              }
            }
          }
        }
      }
    }
  }
  .recommend-wrapper {
    height: 154px;
    background: #fefcfd;
    padding-bottom: 40px;
    .recommend {
      width: 1200px;
      margin: 0 auto;
      background: #fff;
      height: 154px;
      padding: 28px 6px 22px;
      background: #fff;
      overflow: hidden;
      box-sizing: border-box;
      border: 1px solid #ebebeb;
      .recommend-list-a {
        width: 236px;
        float: left;
        transition: all .2s;
        .recommend-list {
          dd {
            width: 123px;
            float: right;
            .title {
              line-height: 28px;
              font-size: 20px;
              font-weight: 500;
              padding-bottom: 6px;
              position: relative;
              color: #333;
              margin: 5px 0;
              &::after {
                content: "";
                width: 14px;
                height: 2px;
                background: #707070;
                position: absolute;
                bottom: 0;
                left: 0;
              }
            }
            .text {
              line-height: 18px;
              font-size: 14px;
              font-weight: 300;
              margin-top: 12px;
              color: #999;
            }
          }
          dt {
            width: 104px;
            line-height: 104px;
            text-align: center;
            img {
              width: 86px;
              vertical-align: middle;
              transition: all .2s;
            }
            .dzqt-icon {
              width: 58px;
              height: 56px;
            }
            .ljyp-icon {
              width: 65px;
              height: 63px;
            }
            .yyxz-icon {
              width: 62px;
              height: 58px;
            }
          }
        }
        &:hover {
          .recommend-list {
            dd {
              .title {
                color: #cd1414;
                &::after {
                  background: #dc1414;
                }
              }
              .text {
                color: #cd1414;
              }
            }
          }
        }
        .data-number {
          padding: 17px 0 19px;
          .num {
            font-size: 12px;
            font-weight: 400;
            display: block;
            margin: 0 5px;
            color: #333;
            text-align: center;
            line-height: 24px;
            em {
              height: 26px;
              line-height: 26px;
              border: 1px solid #ccc;
              margin: 0 3px;
              padding: 0 2px;
              background: #fff;
              font-size: 20px;
              color: #dc1414;
              font-weight: 600;
              display: inline-block;
              &:first-child {
                margin-left: 5px;
              }
              &:last-child {
                margin-right: 5px;
              }
            }
            &.num-txt {
              margin-top: 10px;
            }
          }
        }
        .data-form {
          .ipt-price {
            width: 180px;
            height: 38px;
            line-height: 38px;
            border: 1px solid #ccc;
            background: #fff;
            font-size: 13px;
            font-weight: 400;
            margin: 12px auto;
            text-align: left;
            color: #999;
            display: block;
            position: relative;
            box-sizing: border-box;
            outline: none;
            padding-left: 10px;
          }
          .got-price {
            width: 180px;
            height: 38px;
            line-height: 38px;
            font-size: 13px;
            color: #fff;
            cursor: pointer;
            margin: 0 auto;
            display: block;
            border: 0;
            outline: none;
            background: #E33F3D;
          }
        }
      }
    }
  }
  .trends-door-wrapper {
    width: 100%;
    background-color: #fefcfd;
    padding: 20px 0;
    .trends-door {
      width: 1200px;
      margin: 0 auto;
      .door-caption {
        height: 30px;
        text-align: center;
        font-size: 30px;
        color: #000;
        font-weight: 700;
        line-height: 30px;
      }
      .door-caption-des {
        font-size: 13px;
        font-weight: 300;
        text-align: center;
        display: block;
        margin: 10px auto 50px;
      }
      .door-ul {
        display: flex;
        justify-content: space-between;
        .door-li {
          width: 380px;
          height: 391px;
          background: #fff;
          border: 1px solid #ebebeb;
          padding: 20px 20px 60px;
          box-sizing: border-box;
          .door-name {
            line-height: 28px;
            font-size: 20px;
            font-weight: 500;
            color: #000;
            display: block;
            padding: 0 0 14px;
            .sub {
              font-size: 13px;
              padding-left: 5px;
            }
          }
          .door-pic {
            width: 338px;
            height: 190px;
            margin-bottom: 15px;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              transition: all 0.6s 0.1s;
              &:hover {
                transform: scale(1.2)
              }
            }
          }
          .adr {
            font-size: 13px;
            line-height: 17px;
            margin-bottom: 10px;
          }
          .trac {
            font-size: 13px;
            line-height: 17px;
          }
          &:last-child {
            border: none;
            background: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0;
            .ad-box {
              width: 100%;
              height: 185px;
              border: 1px solid #ebebeb;
              box-sizing: border-box;
              background: #fff;
              cursor: pointer;
              img {
                display: block;
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
  .u-theme-wedding {
    width: 100%;
    margin: 100px auto 0;
    position: relative;
    .u-caption {
      height: 30px;
      display: block;
      text-align: center;
      font-size: 30px;
      color: #000;
      font-weight: 700;
      line-height: 30px;
    }
    .u-caption-des {
      font-size: 13px;
      font-weight: 300;
      text-align: center;
      display: block;
      margin: 10px auto 50px;
    }
    .theme-wedding-box {
      width: 100%;
      background: rgba(0,0,0,1);
      height: 550px;
      display: flex;
      align-items: center;
      .theme-wedding {
        width: 1200px;
        height: 450px;
        display: flex;
        margin: 0 auto;
        .wedding-caption-list {
          width: 400px;
          box-sizing: border-box;
          padding: 0 14px 0 20px;
          background: #fff;
          height: 450px;
          overflow: hidden;

          .caption-bar {
            height: 78px;
            display: flex;
            justify-content: space-between;
            .bar-title {
              font-size: 20px;
              font-weight: 500;
              line-height: 78px;
            }
            .bar-more {
              padding-right: 17px;
              font-weight: 500;
              color: #333;
              background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAATlBMVEUAAAAyMjIxMTEyMjIxMTExMTEzMzMyMjIxMTExMTExMTEyMjIzMzMyMjIxMTExMTExMTExMTErKysyMjIyMjIzMzMyMjIyMjIrKysyMjJRGBRFAAAAGXRSTlMA+2T0lYv3zaB8bV5aUUxGPzkV7sF0cFcGXRKeywAAAF5JREFUKM/N0UkCgCAMA0DLKgIC7vn/R31BetVc59I007d54sxx26HosHBce4Dn2gSJaxVcXAtguBqgcF0gK9eIg5qDHcw8bOcWGrOkXHNCqtLiVvpnuqdon3N5+nlegW4D4WiRUqUAAAAASUVORK5CYII=") no-repeat center right;
              background-size: 14px;
              opacity: .5;
              line-height: 78px;
            }
          }
          .caption-list {
            li {
              width: 100%;
              cursor: pointer;
              position: relative;
              margin-bottom: 17px;
              display: flex;
              justify-content: space-between;
              .pic {
                width: 128px;
                border: 2px solid transparent;
                height: 73px;
                img {
                  width: 100%;
                  height: 100%;
                }
              }
              .text-con {
                width: 220px;
                padding-top: 7px;
                .subtext {
                  height: 20px;
                  display: block;
                  line-height: 20px;
                  text-align: left;
                  font-size: 14px;
                  color: #666;
                  font-weight: 400;
                  margin-bottom: 2px;
                  overflow: hidden;
                }
                .des {
                  font-size: 12px;
                  font-weight: 400;
                  color: #999;
                  margin: 5px 0;
                  height: 16px;
                  line-height: 16px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
                .price {
                  font-size: 12px;
                  font-weight: 400;
                  color: #999;
                }
              }
              &.active {
                .pic {
                  border: 2px solid #dc1414;
                }
                .text-con {
                  .subtext {
                    color: #dc1414;
                  }
                  .des {
                    color: #dc1414;
                  }
                  .price {
                    color: #dc1414;
                  }
                }
              }
            }
          }
        }
        .wedding-play-box {
          width: 800px;
          height: 450px;
          overflow: hidden;
          .wedding-play {
            width: 3200px;
            height: 450px;
            transition: all 0.4s ease-out;
            &::after {
              content: '';
              display: block;
              clear: both;
              width: 0;
              height: 0;
            }
            .wedding-li {
              width: 800px;
              height: 450px;
              position: relative;
              float: left;
              a {
                display: block;
                width: 800px;
                height: 450px;
                overflow: hidden;
                background: #000;
              }
              img {
                width: 100%;
                height: 100%;
                transition: all 0.6s 0.1s;
              }
              &:hover {
                img {
                  transform: scale(1.2)
                }
              }
              .mask-content {
                width: 100%;
                position: absolute;
                height: 132px;
                left: 0;
                bottom: 0;
                background-color: rgba(0,0,0,0.5);
                padding: 10px 20px 0;
                box-sizing: border-box;
                .title-box {
                  display: flex;
                  height: 40px;
                }
                .title {
                  display: block;
                  color: #fff;
                  line-height: 40px;
                  height: 40px;
                  font-size: 22px;
                  font-weight: 500;
                  margin-right: 15px;
                }
                .price {
                  display: block;
                  color: #fff;
                  line-height: 40px;
                  height: 40px;
                  font-size: 16px;
                  color: #dc1414;
                  .num {
                    font-size: 20px;
                    font-weight: 700px;
                  }
                }
                .des {
                  display: block;
                  color: #fff;
                  line-height: 22px;
                  font-size: 13px;
                  font-weight: 400;
                  height: 22px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
                .btn {
                  display: block;
                  color: #fff;
                  width: 98px;
                  height: 33px;
                  line-height: 33px;
                  color: #fff;
                  border: 1px solid #fff;
                  background: transparent;
                  text-align: center;
                  font-size: 16px;
                  font-weight: 400;
                  margin: 10px 0 14px;
                }
              }
            }
          }
        }
      }
    }
    .service-procedure {
      width: 1200px;
      margin: 0 auto 40px;
      .u-caption-bar {
        line-height: 38px;
        font-size: 26px;
        font-weight: 600;
        color: #333;
        display: block;
        padding: 35px 0 7px;
        .sub {
          font-size: 13px;
          font-weight: 300;
          padding-left: 13px;
        }
      }
      .number-list-inner {
        margin: 0 auto;
        &::after {
          content: '';
          display: block;
          clear: both;
          width: 0;
          height: 0;
        }
        li {
          width: 171px;
          margin: 20px 0 0;
          text-align: center;
          float: left;
          .icon {
            width: 108px;
            height: 108px;
            margin: 0 auto 20px;
            border-radius: 50%;
            box-shadow: 0 5px 10px rgba(153, 153, 153, 0.16);
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            img {
              width: 52px;
            }
          }
          .title {
            line-height: 22px;
            font-size: 16px;
            font-weight: 500;
            padding: 6px 0;
          }
          .subtitle {
            line-height: 20px;
            font-size: 14px;
            font-weight: 400;
          }
          .line-bar {
            width: 100%;
            height: 1px;
            position: relative;
            margin: 32px 0;
            background: rgba(153, 153, 153, 0.2);
            .num {
              width: 16px;
              height: 16px;
              line-height: 16px;
              border-radius: 50%;
              font-size: 10px;
              font-weight: 500;
              color: #fff;
              text-align: center;
              background: #999;
              display: block;
              position: absolute;
              top: -18.5px;
              left: 50%;
              margin: 0 -18px;
              border: 10px solid #f7f7f7;
            }
            &.first-line {
              width: 55%;
              margin-left: 45%;
              .num {
                left: 0;
                margin: 0;
              }
            }
            &.finally-line {
              width: 55%;
              margin-right: 45%;
              .num {
                left: auto;
                right: 0;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
  .brand-case-warpper {
    width: 100%;
    background-image: url('~@/assets/images/cover-02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .brand-case {
      height: 650px;
      width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .case-title {
        height: 100px;
        text-align: center;
        .title {
          height: 40px;
          line-height: 40px;
          font-size: 30px;
          font-weight: 600;
          color: #fff;
        }
        .subtitle {
          line-height: 24px;
          font-size: 15px;
          font-weight: 400;
          color: #fff;
          padding: 15px 0 20px;
        }
      }
      .case-more {
        width: 145px;
        height: 50px;
        line-height: 50px;
        display: block;
        text-align: center;
        margin: 20px auto 0;
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        position: relative;
        padding-right: 20px;
        border-radius: 4px;
        border: 0;
        cursor: pointer;
        background: linear-gradient(260deg, #fd4825 0, #dc0000 100%);
        &::after {
          content: "";
          width: 16px;
          height: 16px;
          position: absolute;
          top: 50%;
          right: 15%;
          margin: -6px 0;
          background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABsklEQVRYR+2WP0uXURiGrxsDSVr8INLYFC0tIi6KQ4Q0SDoZioKSbmJSkEjhoDgUgQ06CDYYBuKHsC/iEIF2xwNHOIjgOe/7E5ffmV7ef9fFfZ7znCPueeie+XQFihOw3QPMAJeSNjo1dTUCs8B6An+W9KYTEjUCr4HtDPpR0nxbiWKBANneAiYz6Kqk5TYStQLx/ldgPIMuSnrfVKJKIKUQxfgdGMugc5Ku6qPKpVogSTwADoChRDMwLWmzig7NG5HtXuAH8DyTmJS0UyPRKIErgO0+4Ah4mu79AyYkfSmVaCWQpuMR8At4kkmMS9otkWgtkCT6gRPgcYJexLWk37dJdEog6uEn8CyrhwFJZ3cuYPv6igjmgqQPt8HjeasE0gZ1vSe8k7RUAm8lYDvkvwEvM9iGpNi0ikfjBG7YF7YlTRWT04uNBGx/is6XwSKJV5KiI1aNagHba8BiRtkDXki6rCI3ScD2W2A1Ax0CI5Ji3TcaxQnYHgX2M8oxMCzpbyNybQK24+Cxkr47BQYl/WkDr1qGth8CcfCIxhON5rwtvEqgE7Cb/lFcA12BbgJ3lcB/BrV5IR73dO8AAAAASUVORK5CYII=") no-repeat 50% 50%;
          background-size: 16px 16px;
        }
        &:hover {
          background: linear-gradient(92deg, #fd4825 0, #dc0000 100%);
          box-shadow: 0 5px 10px #881d1b;
        }
      }
      .case-slide-warp {
        width: 1200px;
        margin: 0 auto;
        .case-swipers {
          width: 1200px;
          margin: 0 auto;
          height: 430px;
          .swiper-wrapper {
            width: 900px;
             margin: 0 auto;
          }
          .swiper-slide {
            width: 900px;
            height: 430px;
            margin: 0 auto;
            display: flex;
            .case-swiper-a {
              width: 690px;
              height: 430px;
              display: block;
              overflow: hidden;
              img {
                width: 100%;
                height: 100%;
                transition: all 0.6s 0.1s;
                &:hover {
                  transform: scale(1.2)
                }
              }
            }
            .content {
              width: 210px;
              height: 430px;
              background: #fff;
              padding: 0 18px;
              box-sizing: border-box;
              position: relative;
              .title {
                line-height: 24px;
                font-size: 20px;
                font-weight: 500;
                padding: 23px 0 11px;
              }
              .address {
                line-height: 16px;
                font-size: 12px;
                font-weight: 400;
                color: #333;
                margin-bottom: 6px;
              }
              .hotel-name {
                line-height: 16px;
                font-size: 12px;
                font-weight: 400;
                color: #333;
              }
              .case-time {
                line-height: 16px;
                font-size: 12px;
                font-weight: 400;
                color: #999;
                margin-bottom: 15px;
              }
              .case-des {}
              .case-btn-bar {
                width: 80px;
                position: absolute;
                bottom: 20px;
                left: 50%;
                margin: 0 -40px;
                display: flex;
                a {
                  display: block;
                }
                .case-btn {
                  width: 78px;
                  height: 27px;
                  line-height: 27px;
                  text-align: center;
                  font-size: 12px;
                  font-weight: 400;
                  color: #333;
                  border: 1px solid #333;
                  display: block;
                  background: #fff;
                  cursor: pointer;
                  &:hover {
                    color: #fff;
                    border: 1px solid transparent;
                    background: linear-gradient(260deg, #fd4825 0, #dc0000 100%);
                    background: #dc1414;
                  }
                  &.red {
                    color: #fff;
                    border: 1px solid transparent;
                    background: linear-gradient(260deg, #fd4825 0, #dc0000 100%);
                    background: #dc1414;
                  }
                }
              }
            }
          }
          .swiper-button-prev {
            left: 10px;
          }
          .swiper-button-next {
            right: 10px;
          }
          .swiper-pagination-case {
            text-align: left;
            left: 170px;
            /*
            .swiper-pagination-bullet {
              width: 48px;
              height: 2px;
              background: #fff;
              border-radius: 2px;
              position: relative;
              &::after {
                position: absolute;
                width: 0;
                height: 100%;
                left: 0;
                top: 0;
                display: block;
                content: '';
                clear: both;
                background: #DC1414;
                transition: all 5s linear;
              }
            }
            .swiper-pagination-bullet-active {
              &::after {
                animation: caseswiper linear 5s infinite;
              }
            }
            */
            .swiper-pagination-bullet {
              width: 6px;
              height: 6px;
              border: 2px solid #B9BEB9;
              margin: 2px 4px;
              bottom: 23px;
              background: #fff;
              opacity: 1;
            }
            .swiper-pagination-bullet-active {
              width: 10px;
              height: 10px;
              border: 3px solid #DC1414;
              margin: 0 4px;
              background: #fff;
            }
          }
        }
      }
    }
  }
  .brand-hotel-warpper {
    width: 100%;
    background-image: url('~@/assets/images/cover-03.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .brand-hotel {
      min-height: 650px;
      width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .hotel-lists {
        width: 1200px;
        display: flex;
        flex-wrap: wrap;
        li {
          width: 230px;
          height: 340px;
          padding: 28px 27px 0 28px;
          overflow: hidden;
          background: #fff;
          transition: all .3s;
          margin: 0 7px 10px;
          a {
            display: block;
          }
          .des {
            font-size: 12px;
            font-weight: 400;
            padding-bottom: 11px;
            color: #999;
          }
          .title {
            height: 56px;
            line-height: 28px;
            font-size: 25px;
            display: block;
            font-weight: 600;
            margin-bottom: 9px;
          }
          .price-bar {
            line-height: 36px;
            font-size: 18px;
            color: #dc1414;
            display: block;
            margin-bottom: 20px;
            .num {
              font-size: 30px
            }
          }
          .pic {
            width: 230px;
            height: 105px;
            line-height: 105px;
            overflow: hidden;
            margin-bottom: 20px;
            text-align: center;
            img {
              width: 100%;
              height: 100%;
              transition: all 0.6s 0.1s;
              &:hover {
                transform: scale(1.2);
              }
            }
          }
          .news-btn {
            width: 92px;
            margin: 0 auto;
            display: block;
            border: 1px solid #dc1414;
            color: #dc1414;
            height: 27px;
            line-height: 27px;
            text-align: center;
            font-size: 12px;
            font-weight: 400;
            background: #fff;
            cursor: pointer;
            &:hover {
              color: #fff;
              background: linear-gradient(92deg, #fd4825 0, #dc0000 100%);
              background: #dc1414;
            }
          }
          &:hover {
            margin-top: -8px;
          }
        }
      }
      .hotel-title {
        height: 100px;
        text-align: center;
        .title {
          height: 40px;
          line-height: 40px;
          font-size: 30px;
          font-weight: 600;
          color: #fff;
        }
        .subtitle {
          line-height: 24px;
          font-size: 15px;
          font-weight: 400;
          color: #fff;
          padding: 15px 0 20px;
        }
      }
      .hotel-more {
        width: 145px;
        height: 50px;
        line-height: 50px;
        display: block;
        text-align: center;
        margin: 20px auto 0;
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        position: relative;
        padding-right: 20px;
        border-radius: 4px;
        border: 0;
        cursor: pointer;
        background: linear-gradient(260deg, #fd4825 0, #dc0000 100%);
        &::after {
          content: "";
          width: 16px;
          height: 16px;
          position: absolute;
          top: 50%;
          right: 15%;
          margin: -6px 0;
          background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABsklEQVRYR+2WP0uXURiGrxsDSVr8INLYFC0tIi6KQ4Q0SDoZioKSbmJSkEjhoDgUgQ06CDYYBuKHsC/iEIF2xwNHOIjgOe/7E5ffmV7ef9fFfZ7znCPueeie+XQFihOw3QPMAJeSNjo1dTUCs8B6An+W9KYTEjUCr4HtDPpR0nxbiWKBANneAiYz6Kqk5TYStQLx/ldgPIMuSnrfVKJKIKUQxfgdGMugc5Ku6qPKpVogSTwADoChRDMwLWmzig7NG5HtXuAH8DyTmJS0UyPRKIErgO0+4Ah4mu79AyYkfSmVaCWQpuMR8At4kkmMS9otkWgtkCT6gRPgcYJexLWk37dJdEog6uEn8CyrhwFJZ3cuYPv6igjmgqQPt8HjeasE0gZ1vSe8k7RUAm8lYDvkvwEvM9iGpNi0ikfjBG7YF7YlTRWT04uNBGx/is6XwSKJV5KiI1aNagHba8BiRtkDXki6rCI3ScD2W2A1Ax0CI5Ji3TcaxQnYHgX2M8oxMCzpbyNybQK24+Cxkr47BQYl/WkDr1qGth8CcfCIxhON5rwtvEqgE7Cb/lFcA12BbgJ3lcB/BrV5IR73dO8AAAAASUVORK5CYII=") no-repeat 50% 50%;
          background-size: 16px 16px;
        }
        &:hover {
          background: linear-gradient(92deg, #fd4825 0, #dc0000 100%);
          box-shadow: 0 5px 10px #881d1b;
        }
      }
    }
  }
  .brand-car-warpper {
    width: 100%;
    background-image: url('~@/assets/images/cover-04.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
    .brand-car {
      min-height: 650px;
      width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .car-lists {
        width: 1200px;
        display: flex;
        flex-wrap: wrap;
        li {
          width: 230px;
          height: 233px;
          padding: 28px;
          overflow: hidden;
          background: #fff;
          transition: all .3s;
          border-radius: 5px;
          margin: 0 7px 10px;
          a {
            display: block;
          }
          .title {
            height: 24px;
            line-height: 24px;
            font-size: 18px;
            display: block;
            font-weight: 600;
            margin-bottom: 5px;
          }
          .car-des {
            display: flex;
            margin-bottom: 20px;
          }
          .des {
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            font-weight: 400;
            color: #333;
            margin-right: 10px;
          }
          .price-bar {
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            color: #dc1414;
            display: block;
            .num {
              font-size: 16px
            }
          }
          .pic {
            width: 230px;
            height: 105px;
            line-height: 105px;
            overflow: hidden;
            margin-bottom: 20px;
            text-align: center;
            img {
              width: 100%;
              height: 100%;
              transition: all 0.6s 0.1s;
              &:hover {
                transform: scale(1.2);
              }
            }
          }
          .news-btn {
            width: 92px;
            margin: 0 auto;
            display: block;
            border: 1px solid #dc1414;
            color: #dc1414;
            height: 27px;
            line-height: 27px;
            text-align: center;
            font-size: 12px;
            font-weight: 400;
            background: #fff;
            cursor: pointer;
            &:hover {
              color: #fff;
              background: linear-gradient(92deg, #fd4825 0, #dc0000 100%);
              background: #dc1414;
            }
          }
          &:last-child {
            display: flex;
            background: rgba(0, 0, 0, 0.6);
            align-items: center;
          }
        }
      }
      .car-title {
        height: 100px;
        text-align: center;
        .title {
          height: 40px;
          line-height: 40px;
          font-size: 30px;
          font-weight: 600;
          color: #fff;
        }
        .subtitle {
          line-height: 24px;
          font-size: 15px;
          font-weight: 400;
          color: #fff;
          padding: 15px 0 20px;
        }
      }
      .car-more {
        width: 145px;
        height: 50px;
        line-height: 50px;
        display: block;
        text-align: center;
        margin: 20px auto 0;
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        position: relative;
        padding-right: 20px;
        border-radius: 4px;
        border: 0;
        cursor: pointer;
        background: linear-gradient(260deg, #fd4825 0, #dc0000 100%);
        &::after {
          content: "";
          width: 16px;
          height: 16px;
          position: absolute;
          top: 50%;
          right: 15%;
          margin: -6px 0;
          background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABsklEQVRYR+2WP0uXURiGrxsDSVr8INLYFC0tIi6KQ4Q0SDoZioKSbmJSkEjhoDgUgQ06CDYYBuKHsC/iEIF2xwNHOIjgOe/7E5ffmV7ef9fFfZ7znCPueeie+XQFihOw3QPMAJeSNjo1dTUCs8B6An+W9KYTEjUCr4HtDPpR0nxbiWKBANneAiYz6Kqk5TYStQLx/ldgPIMuSnrfVKJKIKUQxfgdGMugc5Ku6qPKpVogSTwADoChRDMwLWmzig7NG5HtXuAH8DyTmJS0UyPRKIErgO0+4Ah4mu79AyYkfSmVaCWQpuMR8At4kkmMS9otkWgtkCT6gRPgcYJexLWk37dJdEog6uEn8CyrhwFJZ3cuYPv6igjmgqQPt8HjeasE0gZ1vSe8k7RUAm8lYDvkvwEvM9iGpNi0ikfjBG7YF7YlTRWT04uNBGx/is6XwSKJV5KiI1aNagHba8BiRtkDXki6rCI3ScD2W2A1Ax0CI5Ji3TcaxQnYHgX2M8oxMCzpbyNybQK24+Cxkr47BQYl/WkDr1qGth8CcfCIxhON5rwtvEqgE7Cb/lFcA12BbgJ3lcB/BrV5IR73dO8AAAAASUVORK5CYII=") no-repeat 50% 50%;
          background-size: 16px 16px;
        }
        &:hover {
          background: linear-gradient(92deg, #fd4825 0, #dc0000 100%);
          box-shadow: 0 5px 10px #881d1b;
        }
      }
    }
  }
}
.page-wrapper {
  .page-bg-box {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 -50%;
    z-index: -2;
    .page-bg {
      width: 100%;
      height: 527px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      font-size: 0;
      &.page-bg-home {
        background-image: url('~@/assets/images/first-screen-bg01.jpg');
      }
      &::after {
        content: "";
        width: 100%;
        height: 222px;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, #fff 100%);
      }
    }
  }
}

@keyframes caseswiper {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
</style>
