<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-10 18:46:23
 * @LastEditTime: 2019-08-09 16:02:03
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="uu-nav-home">
    <div class="nav-bar-box">
      <router-link to="/" class="logo"></router-link>
      <!-- 菜单 -->
      <ul class="nav-bar">
        <li class="nav-bar-li" :class="{'current': $route.fullPath === '/index'}" >
          <router-link to="/" class="li-a">
            <span class="li-span">优品首页</span>
            <div class="li-span-hide">
              优品首页
              <i></i>
            </div>
          </router-link>
        </li>
        <li class="nav-bar-li" :class="{'current': $route.fullPath === '/products'}">
          <router-link to="/products" class="li-a">
            <span class="li-span">婚礼产品</span>
            <div class="li-span-hide">
              婚礼产品
              <i></i>
            </div>
          </router-link>
        </li>
        <li class="nav-bar-li" :class="{'current': $route.fullPath === '/case'}">
          <router-link to="/case" class="li-a">
            <span class="li-span">婚礼案例</span>
            <div class="li-span-hide">
              婚礼案例
              <i></i>
            </div>
          </router-link>
        </li>
        <li class="nav-bar-li" :class="{'current': $route.fullPath === '/cars'}">
          <router-link to="/cars" class="li-a">
            <span class="li-span">婚车租赁</span>
            <div class="li-span-hide">
              婚车租赁
              <i></i>
            </div>
          </router-link>
        </li>
        <!-- s婚宴酒店 -->
        <li class="nav-bar-li" :class="{'current': $route.fullPath === '/hotels'}">
          <router-link  to="/hotels" class="li-a">
            <span class="li-span">婚礼酒店</span>
            <div class="li-span-hide">
              婚礼酒店
              <i></i>
            </div>
          </router-link>
        </li>
        <!-- e婚宴酒店 -->
        <!-- s婚车预约 -->
        <li class="nav-bar-li" :class="{'current': $route.fullPath === '/store'}">
          <router-link class="li-a" to="/store">
            <span class="li-span">婚庆门店</span>
            <div class="li-span-hide">
              婚庆门店
              <i></i>
            </div>
          </router-link>
        </li>
        <li class="nav-bar-li" :class="{'current': $route.fullPath === '/join'}">
          <router-link class="li-a" to="/join">
            <span class="li-span">关于我们</span>
            <div class="li-span-hide">
              关于我们
              <i></i>
            </div>
          </router-link>
        </li>
        <!-- <li class="nav-bar-li">
          <a href="javascript:;" class="li-a">
            <span class="li-span">关于我们</span>
            <div class="li-span-hide">
               关于我们
              <i></i>
            </div>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import http from "@/axios/http";
export default {
  data() {
    return {};
  },
  watch: {},
  computed: {
    ...mapState([
      
    ])
  },
  components: {
    
  },
  created() {
    //this.areasList();
  },
  mounted() {},
  beforeDestroy() {},
  methods: {
    
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '~@/assets/scss/color.scss';
.uu-nav-home {
  height: 80px;
  font-size: 14px;
  position: relative;
  box-shadow: 0 3px 6px rgba(153, 153, 153, 0.16);
  z-index: 90;
  background: #F9F9FA;
  .nav-bar-box {
    width: 1200px;
    margin: 0 auto;
    height: 80px;
    position: relative;
    display: flex;
    padding-left: 40px;
    box-sizing: border-box;
    .logo {
      width: 133px;
      height: 50px;
      margin-top: 18px;
      background-image: url('~@/assets/images/uu_logo_black.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      margin-right: 20px;
    }
    .nav-bar {
      height: 80px;
      display: flex;
      .nav-bar-li {
        height: 80px;
        .li-a {
          height: 80px;
          line-height: 80px;
          font-size: 20px;
          overflow: hidden;
          position: relative;
          z-index: 99;
          display: block;
          font-weight: 500;
          text-align: center;
          color: #000;
          .li-span {
            display: block;
            height: 80px;
            position: relative;
            top: 0;
            line-height: 80px;
            transition: All 0.5s ease;
            padding: 0 20px;
          }
          .li-span-hide {
            display: block;
            height: 80px;
            line-height: 80px;
            position: relative;
            top: 0;
            background: $main-color;
            color: #fff;
            padding: 0 20px;
            transition: All 0.5s ease;
            i {
              display: block;
              position: absolute;
              left: 0px;
              bottom: 0px;
              width: 0;
              height: 3px;
              border-bottom: 2px solid #fff;
              transition: all 0.7s ease;
            }
          }
        }
        &.current {
          .li-a {
            color: $main-color;
          }
        }
        &:hover {
          .li-a {
            color: $main-color;
            .li-span {
              top: -80px;
            }
            .li-span-hide {
              top: -80px;
              i {
                width: 100%;
              }
            }
          }
        } 
      }
    }
  }
  &.detail-page-nav {
    background: #F9F9FA;
    .nav-bar-box {
      .logo {
        background-image: url('~@/assets/images/uu_logo.png');
      }
    }
  }
}
</style>
