<template>
  <div class="fixed-nav" :class="{'fixed-nav-active': isfixed}">
    <HomeNav class="detail-page-nav"></HomeNav>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import HomeNav from "@/components/page/Home/nav-home";
import http from '@/axios/http'
export default {
  data () {
    return {
      isfixed: false
    }
  },
  watch: {
    
  },
  components: {
    HomeNav
  },
  computed: {
    
  },
  mounted () {
    this.handleScroll();
    window.addEventListener('scroll', () => {
      this.handleScroll();
    }, false)
  },
  beforeDestroy () {
    
  },
  methods: {
    handleScroll() {
      let docTop = document.documentElement.scrollTop || document.body.scrollTop;
      //console.log(docTop)
      if (docTop > 250) {
        this.isfixed = true;
      } else {
        this.isfixed = false;
      }
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.fixed-nav {
  position: fixed;
  left: 0;
  right: 0;
  top: -999px;
  width: 100%;
  background: #F9F9FA;
  z-index: 99;
  transition: top 0.5s ease-out;
}
.fixed-nav-active {
  top: 0;
}
</style>
