<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-10 18:47:53
 * @LastEditTime: 2019-08-19 16:33:52
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="uu-sign-bar-box">
    <div class="uu-sign-bar">
      <div class="sign-fr">
        <div class="regions-channel-topbar">
          <i class="city-icon"></i>
          <router-link to="/city" class="city-a">
            <span>{{_cityinfo.name}}-{{_cityinfo.areaname}}</span>[切换城市]
          </router-link>
          <arealist></arealist>
        </div>
        <!-- <a class="sign-fr-a" target="_blank" href="http://platform.uuwed.com">商家登录</a>
        <em class="sign-fr-line">|</em>
        <a class="sign-fr-a" target="_blank" href="http://platform.uuwed.com/regist">商家入驻</a> -->
      </div>
      <div class="sign-fr">
        <a class="sign-fr-a" href="javascript:;">客服电话: 400-885-0525</a>
        <em class="sign-fr-line">|</em>
        <div class="qr-code-hover">
          <span class="qr-iphone qr-span"><img src="~@/assets/images/iphone-home.png" class="icon">优品婚匠小程序</span>
          <span class="qr-wchat qr-span"><img src="~@/assets/images/wchat-home.png" class="icon">微信公众号</span>
          <div class="qr-code">
            <a href="javascript:;" class="qr-code-a">
              <img src="~@/assets/images/xiaochengxu.jpg" alt="">
              <p>优品婚匠小程序</p>
            </a>
            <span class="line-a">|</span>
            <a href="javascript:;" class="qr-code-a">
              <img src="~@/assets/images/weixin.jpg" alt="">
              <p>优品微信公众号</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
import arealist from "@/components/page/Home/arealist.vue";
export default {
  data () {
    return {

    }
  },
  watch: {

  },
  computed: {
    ...mapState([
      '_cityinfo',
    ])
  },
  mounted () {

  },
  beforeDestroy () {

  },
  components: {
    arealist
  },
  methods: {

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '~@/assets/scss/color.scss';
.uu-sign-bar-box {
  width: 100%;
  background: #000;
  .uu-sign-bar {
    width: 1200px;
    margin: 0 auto ;
    height: 50px;
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-left: 10px;
    box-sizing: border-box;
    .sign-fr {
      display: flex;
      height: 50px;
      .sign-fr-a, .qr-span {
        display: block;
        padding: 0 8px;
         color: #fff;
        font-size: 13px;
        height: 50px;
        line-height: 50px;
        cursor: pointer;
        position: relative;
        z-index: 99;
      }
      .sign-fr-logo {
        font-size: 13px;
        margin-right: 10px;
         color: #fff;
        strong {
          font-weight: 600;
          font-size: 14px;
        }
      }
      .qr-span {
        padding-bottom: 25px;
        .icon {
          width: 16px;
          margin: 0 5px 2px -2px;
          vertical-align: middle;
        }
      }
      .sign-fr-line {
        display: block;
        width: 1px;
        height: 10px;
        margin: 20px 2px 0;
        background-color: #fff;
        font-size: 0;
      }
      .qr-code-hover {
        position: relative;
        display: flex;
        .qr-code {
          width: 361px;
          position: absolute;
          top: 50px;
          right: 0;
          z-index: 9999;
          display: none;
          box-shadow: 0 5px 10px rgba(153, 153, 153, 0.16);
          background-color: #fff;
          .qr-code-a {
            display: block;
            width: 180px;
            padding: 20px 40px;
            box-sizing: border-box;
            img {
              display: block;
              height: 100px;
              width: 100px;
            }
            p {
              margin-top: 10px;
              line-height: 16px;
              text-align: center;
              color: #333;
              font-size: 13px;
              letter-spacing: 1px;
            }
          }
          .line-a {
            width: 1px;
            height: 80px;
            background: #e5e5e5;
            margin-top: 30px;
            font-size: 0;
            font-weight: 500;
          }
        }
        &:hover {
          .qr-code {
            display: flex;
          }
        }
      }
    }
    .regions-channel-topbar {
      height: 50px;
      position: relative;
      cursor: pointer;
      display: flex;
      margin-right: 15px;
      .city-icon {
        display: block;
        width: 16px;
        height: 50px;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAe1BMVEUAAADTAADjDRjkDRjpAA/jDRflCxbhDAzjDRjjDRfjDRfkCRXjDRnjDhjjDRnkDRjjDRnkCxfiDBjkDhjiDhjjDRnjDBniDhjiDBjkDBjiDRjjChfeDRTkCBfgChTdABHjDhjiDBjiDBjkDhjjDRjlDRjjDRbhCxbjDhmhDDyBAAAAKHRSTlMAA/bsCZ8uFNu8ZTP48OTV0FlU4MuwpJeBaGFIJyAZD96pqJeIdFFFNm3n3wAAAN9JREFUOMvNkMkSgjAQRCchhE0BUVCQxd38/xdaE0jBSODkwXfydXfJAPwZYufuldoGpbD354sa2Ja2/qQmuMzWk8V3/+7zfZBypdnRniX62Rme+tzg75g+5IUZj4ZrLX9RYPQwdkQryMDHSBqL0Hwy0JcJYwKNk4G+yzPmoW3IIMYoM5ahxWSQY3RgvbADWk4G4eQDM1dLSAYe12FaSVmlCuHmovHVKXegtJz2vMWUXkEIYcZ12t9gTpeMfSLAQuOY3mnAinSGXsICkaP7CBapfaX8GlbwgqCDVRiDX/MBnTEoT/bQbskAAAAASUVORK5CYII=");
        background-size: 16px 16px;
        background-position: center center;
        background-repeat: no-repeat;
        margin-right: 5px;
      }
      a.city-a {
        height: 50px;
        line-height: 50px;
        display: block;
        color: #fff;
        font-size: 13px;
        span {
          color: $main-color;
          margin-right: 5px;
        }
      }
      &:hover {
        .select-regions {
          display: block;
        }
      }
    }
  }
}

</style>
