<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-08 10:00:52
 * @LastEditTime: 2019-08-12 22:25:19
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="page-wrapper door-page">
    <HomeheaderBar></HomeheaderBar>
    <HomeNav></HomeNav>
    <FixedNav></FixedNav>
    <!-- 第一屏 -->
    <div class="door-prime" v-show="false">
      <div class="video-box">
        <video src="~@/assets/images/door_video.mp4" width="100%" height="100%" controlslist="nodownload" muted="muted" preload="auto" playsinline="true" loop="loop" autoplay="autoplay"></video>
      </div>
    </div>
    <div class="door-recommend">
      <div class="recommend">
        <img src="~@/assets/images/door-banner.png" alt="" >
      </div>
    </div>
    <!-- 查询条件 -->
    <div class="search-form-box">
      <div class="search-form">
        <div class="top-nav type-rows">
          婚庆门店 > 共<span>{{total}}</span>结果
        </div>
        <!-- 店铺类型 -->
        <div class="type-rows">
          <p class="title">店铺类型</p>
          <span class="typecur"
            :class="{ 'typecur-active': searchform.type === 0 }"
            @click="changeTable(0)"
          >
            <a href="javascript:;">不限</a>
          </span>
          <ul class="types">
            <li 
             v-for="(item, index) in typeList"
              :key="index"
              @click="changeTable(item.id)"
              :class="{ 'typecur-active': searchform.type === item.id }"
            >
              <a href="javascript:;">{{item.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="door-list-box">
      <!-- 左边 -->
      <div class="door-list-left">
        <!-- 排序 -->
        <div class="door-hd"></div>
        <!-- 店铺列表 -->
        <div class="door-list">
          <div class="door-list-table" v-for="(item, index) in tableData" :key="index">
            <div class="list-table-left">
              <a
                href="javascript:;"
                class="list-table-a"
              >
                <img :src="item.merchantimage" />
              </a>
            </div>
            <div class="list-table-right">
              <div class="list-table-content">
                <div class="title-box">
                  <span class="title-tag" v-show="item.merchanttype === 1">加盟店</span>
                  <span class="title-tag" v-show="item.merchanttype === 2">直营店</span>
                  <a
                    href="javascript:;"
                    class="title"
                  >
                    {{item.merchantname}}
                  </a>
                </div>
                <div class="address-row">
                  <strong>门店地址:</strong>
                  <span>{{item.address}}</span>
                </div>
                <div class="address-row">
                  <strong>门店交通:</strong>
                  <span>{{item.traffic}}</span>
                </div>
                <div class="des">
                  {{item.introduction}}
                </div>
              </div>
            </div>
          </div>
          <v-pagination
            class="pagination-wrapper"
            :total="total"
            :current-page="page"
            :limit="limit"
            @pagechange="pagechange"
            v-show="total > 6"
          ></v-pagination>
          
        </div>
        <Empty v-show="isEmpty"></Empty>
      </div>
      <div class="door-list-right">
        <div class="right-part-row">
          <a
            href="http://platform.uuwed.com/regist"
            class="ad-image"
          >
            <img src="~@/assets/images/door-regist.png" alt="" />
          </a>
        </div>
        <Service></Service>
      </div>
    </div>
    <!-- 产品服务 -->
    <div class="service-form-box" v-show="false">
      <a href="javascript:;" class="service-left">
        <img src="~@/assets/images/service_door.png" alt="">
      </a>
      <div class="service-right">
        <div class="service-form">
          <el-select v-model="productform.styleid" placeholder="--婚礼风格--" style="width: 250px" clearable @focus="productStyleData">
            <el-option
              v-for="item in productStyleList"
              :key="item.id"
              :label="item.name"
              :value="item.id"

            >
            </el-option>
          </el-select>
          <el-select v-model="productform.moneytypeid" placeholder="--婚礼预算--" style="width: 250px" clearable @focus="productMoneyData">
            <el-option
              v-for="item in productMoneyList"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            >
            </el-option>
          </el-select>
        </div>
        <div class="service-form">
          <el-select v-model="productform.arranged" placeholder="请选择是否一站式包办" style="width: 250px" clearable>
            <el-option label="是" value="一站式包办"></el-option>
            <el-option label="否" value="仅婚庆"></el-option>
          </el-select>
          <el-date-picker
            v-model="productform.weddingdate"
            type="date"
            placeholder="请选择您的婚期"
            class="content-form-item"
            format="yyyy 年 MM 月 dd 日"
            value-format="yyyy-MM-dd"
            :picker-options="pickerOptions"
            style="width: 250px"
          >
          </el-date-picker>
        </div>
        <div class="service-form">
          <el-select v-model="productform.areaid" placeholder="--预约区域--" clearable style="width: 250px" @focus="areasListData">
            <el-option
              v-for="item in areaList"
              :key="item.areaid"
              :label="item.areaname"
              :value="item.areaid"
            >
            </el-option>
          </el-select>
          <el-input v-model="productform.phone" placeholder="请输入您的联系方式" clearable style="width: 250px"></el-input>
        </div>
      </div>
      <div class="service-btn" @click="productSubmit">立即预约-婚礼管家</div>
    </div>
    <!-- 底图轮播 -->
    <div class="page-bg-box" v-show="false">
      <div class="page-bg page-bg-door"></div>
    </div>
    <!-- footer -->
    <Footer>
      <template v-slot:footer-content></template>
    </Footer>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import HomeheaderBar from "@/components/page/Home/topbar-home";
import HomeNav from "@/components/page/Home/nav-home";
import Footer from "@/components/common/Footer/index";
import FixedNav from "@/components/page/Home/navfixed";
import vPagination from "@/components/common/Pagination/index";
import Empty from "@/components/page/Other/empty";
import Service from "@/components/page/Other/service.vue";
import http from "@/axios/http";
export default {
  data() {
    return {
      tableData: [],
      searchform: {
        type: 0
      },
      total: 0,
      limit: 6,
      page: 1,
      isEmpty: false,
      showlayer: false,
      typeList: [
        {
          id: 2,
          name: "直营店"
        },
        {
          id: 1,
          name: "技术授权店"
        }
      ],
      productform: {
        phone: '',
        merchantid: 0,
        arranged: '',
        stylename: '',
        styleid: '',
        moneytype: '',
        moneytypeid: '',
        weddingdate: ''
      },
      productStyleList: [],
      productMoneyList: [],
      areaList: [],
      pickerOptions: {
        disabledDate (time) {
          return time.getTime() - (0*3600 * 1000 * 24) <= Date.now();
        }
      },
    };
  },
  watch: {},
  computed: {
    ...mapState([
      '_cityinfo'
    ])
  },
  components: {
    HomeheaderBar,
    HomeNav,
    Footer,
    FixedNav,
    vPagination,
    Empty,
    Service
  },
  created() {
    this.gotListData();
    /*
    this.productStyleData();
    this.productMoneyData();
    this.areasListData()
    */
  },
  mounted() {
    
  },
  beforeDestroy() {},
  methods: {
    productSubmit () {
      if (!this.productform.moneytypeid) {
        this.$message.error({
          message: '请您选择婚礼预算',
          offset: 100
        });
      } else if (!this.productform.styleid) {
        this.$message.error({
          message: '请您选择婚礼风格',
          offset: 100
        });
      } else if (!this.productform.arranged) {
        this.$message.error({
          message: '请您选择是否一站式包办',
          offset: 100
        });
      } else if (!this.productform.weddingdate) {
        this.$message.error({
          message: '请您选择婚期',
          offset: 100
        });
      } else if (!this.productform.areaid) {
        this.$message.error({
          message: '请您选择预约位置',
          offset: 100
        });
      } else if (!/^1[3456789]\d{9}$/.test(this.productform.phone)) {
        this.$message.warning('请您的手机号不合法');
      } else {
        const filtermoney = this.productMoneyList.filter((item, index) => {
          return item.id === this.productform.moneytypeid;
        })
        this.productform.moneytype = filtermoney[0].name;
        const filterstyle = this.productStyleList.filter((item, index) => {
          return item.id === this.productform.styleid;
        })
        this.productform.stylename = filterstyle[0].name;
        const filterareas = this.areaList.filter((item, index) => {
          return item.areaid === this.productform.areaid;
        })
        this.productform.areaname = filterareas[0].areaname;
        this.productPost();
      }
    },
    resetProductSubmit () {
      this.productform = {
        phone: '',
        merchantid: 0,
        arranged: '',
        stylename: '',
        styleid: '',
        moneytype: '',
        moneytypeid: '',
        weddingdate: '',
        areaname: '',
        areaid: ''
      }
    },
    productPost () {
      http.post("/merchantsubscribe/addmerchantsubscribe.do", {
        merchantid: this.productform.merchantid,
        phone: this.productform.phone,
        moneytypeid: this.productform.moneytypeid,
        moneytype: this.productform.moneytype,
        stylename: this.productform.stylename,
        styleid: this.productform.styleid,
        arranged: this.productform.arranged,
        weddingdate: this.productform.weddingdate,
        areaname: this.productform.areaname,
        areaid: this.productform.areaid,
        cityname: this._cityinfo.name,
        cityid: this._cityinfo.id,
      })
      .then((result) => {
        if (result.status === 1) {
          this.$message.success({
            message: result.msg,
            offset: 100
          });
          this.resetProductSubmit();
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    gotListData() {
      http
        .post("/recommend/merchantlist.do", {
          page: this.page,
          limit: this.limit,
          cityid: this._cityinfo.id,
          areaid: this._cityinfo.areaid,
          type: this.searchform.type
        })
        .then(result => {
          if (result.status === 1) {
            let data = result.data.result;
            this.total = result.data.total;
            this.tableData = data;
            if (data.length) {
              this.isEmpty = false
            } else {
              this.isEmpty = true
            }
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch(error => {
          this.$message.error(error);
        });
    },
    pagechange(page) {
      this.isEmpty = false;
      this.page = page;
      this.gotListData();
    },
    changeTable(id) {
      this.isEmpty = false;
      this.searchform.type = id;
      this.gotListData();
    },
     productStyleData () {
      //产品风格
      http.post("/type/Productcharacteristicstype.do")
      .then((result) => {
        if (result.status === 1) {
          this.productStyleList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    productMoneyData () {
      //产品价格区间
      http.post("/money/droplist.do", {
        type: 6
      })
      .then((result) => {
        if (result.status === 1) {
          this.productMoneyList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    areasListData() {
      //区列表
      http.post("/areas/selectbyparentid.do", {
        parentid: this._cityinfo.id
      }).then((result) => {
        if (result.status === 1) {
          this.areaList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.page-wrapper {
  .door-list-box {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    padding: 20px 0;
    justify-content: space-between;
    .door-list-left {
      width: 898px;
      .door-hd {
        width: 100%;
        height: 1px;
        border-top: 1px solid #eee;
      }
      .door-list {
        width: 898px;
        height: auto;
        .door-list-table {
          width: 898px;
          height: auto;
          margin: 0 auto;
          padding: 30px 0;
          border-bottom: 1px solid #efefef;
          display: flex;
          .list-table-left {
            width: 373px;
            height: 245px;
            .list-table-a {
              display: block;
              width: 100%;
              height: 100%;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
          .list-table-right {
            width: 440px;
            height: auto;
            float: left;
            padding-left: 45px;
            .list-table-content {
              width: 440px;
              .title-box {
                width: 100%;
                height: 30px;
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                .title {
                  flex: 1;
                  display: block;
                  width: 100%;
                  height: 30px;
                  line-height: 30px;
                  font-size: 20px;
                  color: #000;
                  font-weight: 700;
                }
                .title-tag {
                  display: block;
                  width: 70px;
                  height: 26px;
                  line-height: 26px;
                  font-size: 14px;
                  background: #dc1414;
                  color: #fff;
                  text-align: center;
                  margin-right: 15px;
                  border-radius: 5px;
                }
              }
              .address-row {
                margin-bottom: 8px;
                display: flex;
                strong {
                  display: block;
                  width: 70px;
                  font-size: 14px;
                  color: #000;
                }
                span {
                  display: block;
                  width: 360px;
                  font-size: 14px;
                  color: #333;
                  line-height: 20px;
                }
              }
              .des {
                font-size: 13px;
                color: #666;
                line-height: 20px;
                text-indent: 28px;
              }
            }
          }
        }
        .pagination-wrapper {
          margin: 20px;
        }
      }
    }
    .door-list-right {
      width: 282px;
      .right-part-row {
        width: 280px;
        border: solid 1px #e6e6e6;
        margin-bottom: 20px;
        .ad-image {
          width: 100%;
          height: 140px;
          display: block;
          img {
            width: 100%;
            height: 140px;
          }
        }
      }
    }
  }
  .door-prime {
    width: 1200px;
    margin: 20px auto;
    display: flex;
    box-shadow: 0 3px 6px rgba(102, 102, 102, 0.16);
    height: 380px;
    box-sizing: border-box;
    position: relative;
    .video-box {
      width: 100%;
      height: 380px
    }
  }
  .door-recommend {
    width: 100%;
    height: 154px;
    background: #fff;
    padding-bottom: 0;
    .recommend {
      width: 1200px;
      margin: 0 auto;
      background: #fff;
      height: 154px;
      overflow: hidden;
      box-sizing: border-box;
      // border: 1px solid #ebebeb;
      img {
        display: block;
        width: 100%;
      }
    }
  }
  
}

.page-wrapper {
  .search-form-box {
    width: 1200px;
    margin: 30px auto 0;
    .search-form {
      width: 100%;
      border: solid 1px #e6e6e6;
      box-sizing: border-box;
      .top-nav {
        height: 45px;
        line-height: 45px;
        text-align: left;
        text-indent: 30px;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        font-weight: 500;
        color: #666;
        background: #fafafa;
        span {
          text-indent: 0;
          margin: 0 6px
        }
      }
      .type-rows {
        width: 100%;
        display: flex;
        .title {
          width: 116px;
          text-indent: 30px;
          height: 45px;
          line-height: 45px;
          text-align: left;
          font-size: 14px;
          font-weight: 500;
          color: #666;
          
        }
        .typecur {
          width: 90px;
          border-left: 1px solid #e5e5e5;
          a {
            display: block;
            width: 90px;
            padding-left: 45px;
            box-sizing: border-box;
            height: 45px;
            line-height: 45px;
            text-align: left;
            cursor: pointer;
          }
          &.typecur-active {
            a {
              color: #FC4747;
            }
          }
        }
        .types {
          display: flex;
          width: 991px;
          flex-wrap: wrap;
          li {
            a {
              display: block;
              width: 90px;
              box-sizing: border-box;
              padding: 0 10px;
              height: 45px;
              line-height: 45px;
              text-align: left;
              cursor: pointer;
              font-size: 12px;
              color: #666;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            &.typecur-active {
              a {
                color: #FC4747;
              }
            }
            &:hover {
              a {
                color: #FC4747;
              }
            }
          }
        }
        
      }
    }
  }
  .service-form-box {
    width: 1200px;
    height: 148px;
    border: 1px solid #ccc;
    margin: 30px auto 60px;
    display: flex;
    align-items: center;
    .service-left {
      width: 304px;
      height: 148px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .service-right {
      width: 510px;
      height: 148px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 20px 0 50px;
      box-sizing: border-box;
      .service-form {
        width: 510px;
        height: 40px;
      }
    }
    .service-btn {
      display: block;
      height: 32px;
      line-height: 30px;
      padding: 0 15px;
      background-color: #FC4747;
      color: #fff;
      border: 1px solid #FC4747;
      box-sizing: border-box;
      cursor: pointer;
      border-radius: 5px;
    }
  }
  .page-bg-box {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 -50%;
    z-index: -2;
    .page-bg {
      width: 100%;
      height: 527px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      font-size: 0;
      &.page-bg-door {
        background-image: url('~@/assets/images/first-screen-bg06.jpg');
      }
      &::after {
        content: "";
        width: 100%;
        height: 222px;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0,#fff 100%);
      }
    }
  }
}
</style>
