<template>
  <div>
    <Page>
      <template v-slot:default>
        <div class="case-detail">
          <div class="product-nav">
            <div class="tz_main">
              <ol class="tz_nav">
                <li>
                  <router-link to="/">首页</router-link>
                </li>
                <li>
                  <router-link to="/case">婚礼案例</router-link>
                </li>
                <li><a href="javascript:;">{{result.name}}</a></li>
              </ol>
            </div>
          </div>
          <div class="casedetail-content">
            <div class="casedetail-left">
              <div class="" v-for="(item, index) in result.pcpath" :key="index">
                <img :src="item" alt="">
              </div>
            </div>
            <div class="casedetail-right">
              <div class="right-content">
                <h3 class="name">{{result.name}}</h3>
                <p class="adr">{{result.regionname}} | {{result.address}}</p>
                <p class="time">{{demotime}}</p>
              </div>
            </div>
          </div>
        </div>
      </template>
    </Page>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import http from "@/axios/http";
import Page from "@/components/page/Home/base";
import Swiper from "swiper";
export default {
  data () {
    return {
      result: {}
    }
  },
  watch: {
    
  },
  computed: {
    demotime () {
      const demotime = this.result.demotime;
      if (demotime) {
        const arr = demotime.split('-');
        return arr[0] + '年' + arr[1] + '月' + arr[2] + '日'
      }
      return ''
    }
  },
  components: {
    Page
  },
  created () {
    const id = this.$route.query.id;
    console.log(id)
    if (id) {
      this.gotDetail(id);
    } else {
      this.$router.push('/case');
    }
  },
  mounted () {},
  beforeDestroy () {},
  methods: {
    gotDetail(id) {
      http.post("/merchant/demoinfo.do", {
        id: id
      }).then((result) => {
        if (result.status === 1) {
          let data = result.data;
          this.result = data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.case-detail {
  width: 1200px;
  margin: 0 auto;
  .product-nav {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 20px 0 20px;
    .tz_main {
      width: 1200px;
      .tz_nav {
        padding: 0 15px;
        box-sizing: border-box;
        width: 1200px;
        height: 60px;
        line-height: 60px;
        display: flex;
        li {
          font-size: 14px;
          a {
            color: #999;
          }
          a:hover {
            color: #444
          }
          &:nth-child(n+2) {
            &::before {
              content: ">";
              padding: 0 15px;
              color: #ccc;
            }
          }
        }
      }
    }
  }
  .casedetail-content {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    &::after {
      clear: both;
      display: block;
      width: 0;
      height: 0;
      content: '';
    }
    .casedetail-left {
      padding: 15px 30px;
      float: left;
      width: 810px;
      img {
        width: 100%;
        margin-bottom: 20px;
      }
    }
    .casedetail-right {
      width: 240px;
      padding: 100px 30px 0;
      float: right;
      .right-content {
        text-align: center;
        .name {
          line-height: 40px;
          font-size: 18px;
        }
        .adr {
          margin: 20px auto 10px;
        }
        .time {}
      }
    }
  }
}
</style>
