<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-06-13 22:14:23
 * @LastEditTime: 2019-08-12 21:56:57
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="page-wrapper case-page">
    <HomeheaderBar></HomeheaderBar>
    <HomeNav></HomeNav>
    <FixedNav></FixedNav>
    <!-- 第一屏 -->
    <div class="case-prime">
      <div class="video-box">
        <video src="~@/assets/images/case_video.mp4" width="100%" height="100%" controlslist="nodownload" muted="muted" preload="auto" playsinline="true" loop="loop" autoplay="autoplay"></video>
      </div>
    </div>
    <div class="case-recommend">
      <div class="recommend">
        <img src="~@/assets/images/anli-banner.png" alt="" >
      </div>
    </div>
    <div class="case-wrapper">
      <div class="search-box">
        <ul class="search-ul">
          <li class="search-li">
            <span class="text title">案例陈列室</span>
          </li>
          <li
            class="search-li"
            v-for="(item, index) in searchList"
            :key="index"
            :class="{ active: item.value === 1 }"
            @click="clickSearch(item)"
          >
            <span class="text">{{ item.name }}</span>
            <i class="icon"></i>
          </li>
        </ul>
      </div>
      <div class="search-content" v-show="false">
        <ul class="search-tags">
          <li v-for="(item, index) in tags" :key="index">
            {{ item.name }}
            <i @click="deleteTag(item)"></i>
          </li>
        </ul>
        <div class="search-delete" @click="deleteAll">删除所有过滤器</div>
      </div>
      <div class="case-box">
        <div class="case-count">{{ total }}个案例</div>
        <ul class="case-lists" :class="{ active: islayout === 1 }" v-show="total">
          <li v-for="(item, index) in tableList" :key="index">
            <router-link
              target="_blank"
              :to="{ path: 'caseDetail', query: { id: item.id } }"
            >
              <img :src="item.pcpath[0]" alt="" />
              <div class="info">
                <div class="case-type">{{item.regionname}} | {{ item.address }}</div>
                <div class="case-txt">{{ item.name }}</div>
              </div>
            </router-link>
          </li>
        </ul>
        <v-pagination
          class="pagination-wrapper"
          :total="total"
          :current-page="page"
          :limit="limit"
          @pagechange="pagechange"
          v-show="total > 8"
        ></v-pagination>
        <Empty v-show="isEmpty"></Empty>
      </div>
    </div>
    <!-- 底图轮播 -->
    <div class="page-bg-box">
      <div class="page-bg page-bg-case"></div>
    </div>
    <!-- footer -->
    <Footer>
      <template v-slot:footer-content></template>
    </Footer>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import HomeheaderBar from "@/components/page/Home/topbar-home";
import HomeNav from "@/components/page/Home/nav-home";
import Footer from "@/components/common/Footer/index";
import xMessage from "@/components/common/Layer/index";
import FixedNav from "@/components/page/Home/navfixed";
import vPagination from "@/components/common/Pagination/index";
import Empty from "@/components/page/Other/empty";
import http from "@/axios/http";
import Swiper from "swiper";
import $ from "jquery";
export default {
  data() {
    return {
      islayout: 0,
      searchList: [
        {
          name: "标准产品",
          id: 4,
          value: 0
        },
        {
          name: "高端订制",
          id: 5,
          value: 0
        }
      ],
      tags: [],
      total: 0,
      page: 1,
      limit: 9,
      isEmpty: false,
      tableList: [],
      searchform: {
        type: 0
      }
    };
  },
  watch: {
    tags: {
      handler (val, old) {
        if (val.length === 2) {
          this.searchform.type = 6;
        } else if (val.length === 1) {
          this.searchform.type = val[0].id;
        } else {
          this.searchform.type = 0;
        }
        this.gotListData();
      },
      deep: true
    }
  },
  computed: {
    ...mapState([
      '_cityinfo',
      'caseType'
    ])
  },
  components: {
    HomeheaderBar,
    HomeNav,
    Footer,
    FixedNav,
    xMessage,
    vPagination,
    Empty
  },
  created() {
    const type = this.caseType;
    this.searchform.type = type;
    this.searchList.map((item, index) => {
      if (item.id === type) {
        item.value = 1
      }
    })
    this.gotListData();
  },
  mounted() {
    
  },
  beforeDestroy() {
    this.$store.state.caseType = 0;
  },
  methods: {
    gotListData() {
      http
        .post("/recommend/demolistbycity.do", {
          page: this.page,
          limit: this.limit,
          cityid: this._cityinfo.id,
          areaid: this._cityinfo.areaid,
          type: this.searchform.type
        })
        .then(result => {
          if (result.status === 1) {
            let data = result.data.result;
            this.total = result.data.total;
            this.tableList = data;
            if (data.length) {
              this.isEmpty = false
            } else {
              this.isEmpty = true
            }
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch(error => {
          this.$message.error(error);
        });
    },
    pagechange(page) {
      this.isEmpty = false;
      this.page = page;
      this.gotListData();
    },
    clickSearch(item) {
      this.isEmpty = false;
      if (item.value === 0) {
        item.value = 1;
        this.tags.push(item);
      } else {
        item.value = 0;
        this.deleteTag(item);
      }
    },
    deleteTag(row) {
      row.value = 0;
      const tags = this.tags.filter((item, index) => {
        return item.id !== row.id;
      });
      this.tags = tags;
    },
    deleteAll() {
      this.tags = [];
      this.searchList.map((item, index) => (item.value = 0));
    },
    clickLayout(value) {
      this.islayout = value;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.case-page {
  .case-wrapper {
    width: 1200px;
    padding: 60px 0;
    margin: 0 auto;
    .search-box {
      width: 1200px;
      border: 1px solid #eee;
      display: flex;
      .search-ul {
        width: 1200px;
        display: flex;
        flex: 1;
        .search-li {
          width: 170px;
          height: 54px;
          line-height: 54px;
          font-size: 14px;
          text-align: center;
          border-left: 1px solid #eee;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          &:nth-child(1) {
            border-left: none;
          }
          .text {
            display: block;
            height: 18px;
            line-height: 18px;
            &.title {
              color: #000;
              font-size: 20px;
              font-weight: 600;
            }
          }
          .icon {
            display: block;
            width: 20px;
            height: 20px;
            margin-left: 10px;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(~@/assets/images/type_select.png);
          }
          &.active {
            .icon {
              background-image: url(~@/assets/images/type_selected.png);
            }
          }
        }
      }
      .layout-btns {
        width: 70px;
        height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
        .layout-btn {
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-size: cover;
          margin-right: 15px;
          cursor: pointer;
          &.layout-big {
            background-image: url("~@/assets/images/styleCutIcon3.png");
          }
          &.layout-big-active {
            background-image: url("~@/assets/images/styleCutIcon1.png");
          }
          &.layout-small {
            background-image: url("~@/assets/images/styleCutIcon2.png");
          }
          &.layout-small-active {
            background-image: url("~@/assets/images/styleCutIcon4.png");
          }
        }
      }
    }
    .search-content {
      position: relative;
      min-height: 36px;
      padding: 5px 20px;
      display: flex;
      background: #f7f7f7;
      .search-tags {
        flex: 1;
        display: flex;
        li {
          height: 36px;
          line-height: 36px;
          width: auto;
          padding: 0 40px 0 20px;
          font-size: 14px;
          font-weight: 400;
          color: #333;
          border: 1px solid #ccc;
          border-radius: 20px;
          background: #fff;
          margin: 7px 10px;
          position: relative;
          i {
            position: absolute;
            top: 50%;
            margin-top: -10px;
            right: 10px;
            width: 20px;
            height: 20px;
            background-image: url("~@/assets/images/cloas-x.png");
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 1;
            cursor: pointer;
          }
        }
      }
      .search-delete {
        width: 130px;
        text-align: center;
        background: #dc1414;
        height: 36px;
        line-height: 36px;
        border-radius: 20px;
        font-size: 13px;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        margin: 7px 0;
      }
    }
    .case-box {
      width: 100%;
      .case-count {
        width: 100%;
        height: 20px;
        font-size: 0;
      }
      .case-lists {
        margin: 0 -21px 50px;
        &::after {
          content: "";
          display: block;
          clear: both;
          width: 0;
          height: 0;
        }
        li {
          width: 374px;
          margin: 20px;
          float: left;
          &:hover {
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02),
              0 16px 32px -4px rgba(0, 0, 0, 0.17);
            transform: translateY(-1px);
          }
          a {
            display: block;
            width: 100%;
            img {
              display: block;
              width: 100%;
              height: 210px;
            }
            .info {
              padding: 0 20px;
              position: relative;
              .case-type {
                color: #999;
                font-size: 12px;
                font-weight: 300;
                padding: 16px 0 8px;
              }
              .case-txt {
                min-height: 46px;
                color: #333;
                font-size: 16px;
                display: block;
                font-weight: 400;
                overflow: hidden;
                margin-bottom: 16px;
              }
            }
          }
        }
      }
    }
  }
  .case-prime {
    width: 1200px;
    margin: 20px auto;
    display: flex;
    box-shadow: 0 3px 6px rgba(102, 102, 102, 0.16);
    height: 380px;
    box-sizing: border-box;
    position: relative;
    .video-box {
      width: 100%;
      height: 380px
    }
  }
  .case-recommend {
    width: 100%;
    height: 154px;
    background: #fff;
    padding-bottom: 0;
    .recommend {
      width: 1200px;
      margin: 0 auto;
      background: #fff;
      height: 154px;
      overflow: hidden;
      box-sizing: border-box;
      // border: 1px solid #ebebeb;
      img {
        display: block;
        width: 100%;
      }
    }
  }
}
.page-wrapper {
  .page-bg-box {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 -50%;
    z-index: -2;
    .page-bg {
      width: 100%;
      height: 527px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      font-size: 0;
      &.page-bg-case {
        background-image: url("~@/assets/images/first-screen-bg03.jpg");
      }
      &::after {
        content: "";
        width: 100%;
        height: 222px;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0,#fff 100%);
      }
    }
  }
}

</style>
