<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-06-13 16:58:18
 * @LastEditTime: 2019-08-09 15:57:29
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div>
    <Page>
      <template v-slot:default>
        <div class="detail-nav">
          <div class="nav_main">
            <ol class="nav_ul">
              <li>
                <router-link to="/">首页</router-link>
              </li>
              <li>
                <router-link to="/products">婚礼产品</router-link>
              </li>
              <li><a href="javascript:;">{{result.name}}</a></li>
            </ol>
          </div>
        </div>
        <!-- 产品 -->
        <div class="product-banner">
          <div class="swiper-container" ref="banner">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="slide-content">
                  <img :src="summarypcone">
                  <div class="detail-box-bg">
                     <div class="detail-box">
                        <div class="title">{{result.name}}</div>
                        <div class="desc">
                          {{result.labelname}}  {{result.characteristicname}}
                        </div>
                        <div class="desc">
                          {{result.introduction}}
                        </div>
                        <div class="price">
                          <span class="price discount-price">￥{{result.discountmoney}}</span>
                          <span class="price old-price">原价:￥{{result.money}}</span>
                        </div>
                      </div>
                  </div>
                </div>
              </div>        
            </div>
            <div class="swiper-pagination"></div>
            <a class="swiper-button-next swiper-button-white"></a>
			      <a class="swiper-button-prev swiper-button-white"></a>
          </div>
        </div>
        <!-- 设计师 -->
        <div class="product-title">
          <h2 class="title">产品设计</h2>
          <p class="dec">创新/专业/负责</p>
        </div>
        <div class="intro-overview-wrapper">
          <div class="intro-overview">
            <div class="figure">
              <img :src="result.designpc">
            </div>
            <div class="intro-content">
              <div class="name">资深婚礼设计师 | {{result.designname}}</div>
              <p class="description">{{result.designintroduce}}</p>
            </div>
          </div>
        </div>
        <!-- 视频 -->
        <div class="product-title">
          <h2 class="title">产品视频</h2>
          <p class="dec">产品视频/产品设计/产品搭建</p>
        </div>
        <div class="product-video" id="myvideos">
          <div class="video-tab">
            <ul class="video-title">
              <li @click="clickVideo(0)" :class="{'current': videoindex === 0}">
                <em class="videos-icon">icon</em>
                <span class="span-img">
                  <img src="~@/assets/images/product-video.png" alt="">
                </span>
                <span class="text">产品视频</span>
              </li>
              <li @click="clickVideo(1)" :class="{'current': videoindex === 1}">
                <em class="videos-icon">icon</em>
                <span class="span-img">
                  <img src="~@/assets/images/degin-video.png" alt="">
                </span>
                <span class="text">设计思路</span>
              </li>
              <li @click="clickVideo(2)" :class="{'current': videoindex === 2}">
                <em class="videos-icon">icon</em>
                <span class="span-img">
                  <img src="~@/assets/images/model-video.png" alt="">
                </span>
                <span class="text">搭建流程</span>
              </li>
            </ul>
            <div class="video-con">
              <video :src="result.productmv" muted="true" controls controlslist="nodownload" loop ref="proVideo"></video>
            </div>
          </div>
        </div>
        <!-- 内容 -->
        <div class="product-title">
          <h2 class="title">产品内容</h2>
          <p class="dec">注重每一个细节，婚礼现场还原度不低于95%</p>
        </div>
        <div class="product-content-wrapper">
          <div class="product-content">
            <!-- 菜单 -->
            <div class="content-nav">
              <h2 class="content-nav-name">产品内容</h2>
              <ul class="content-nav-ul">
                <li :class="{'active': index === contentIndex}" 
                  v-for="(item, index) in contentNav" :key="index"
                  @click="changeContentNav(index)"
                >
                  <span class="span-img"></span>
                  <span class="span-txt">{{item.name}}</span>
                </li>
              </ul>
            </div>
            <!-- 内容 -->
            <div class="content">
              <div class="content-ul">
                <!-- 概述 -->
                <div class="content-li" v-show="contentIndex === 0">
                  <div class="li-title li-title-center">{{result.name}}</div>
                  <div class="content-image">
                    <img :src="summarypcone" alt="">
                  </div>
                  <div class="li-title">概述</div>
                  <div class="content-test content-test-strong">
                    <p class="strong-p"><strong>产品名称：</strong><span>{{result.name}}</span></p>
                    <p class="strong-p"><strong>产品标签：</strong><span>{{result.labelname}}  {{result.characteristicname}}</span></p>
                    <p class="strong-p"><strong>产品价格：</strong><span>￥{{result.discountmoney}}</span></p>
                    <p class="strong-p"><strong>产品原价：</strong><span>￥{{result.money}}</span></p>
                    <p class="strong-p"><strong>产品设计：</strong><span>{{result.designname}}</span></p>
                    <p class="strong-p"><strong>产品内容：</strong><span>{{result.introduction}}</span></p>
                  </div>
                  <div class="li-title">相册</div>
                  <ul class="content-images">
                    <li v-for="(item, index) in othersummarypc" :key="index">
                      <img :src="item" alt="">
                    </li>
                  </ul>
                </div>
                <!-- 主舞台 -->
                <div class="content-li" v-show="contentIndex === 1">
                  <div class="li-title">主舞台</div>
                  <div class="content-image">
                    <img :src="stagepcone" alt="">
                  </div>
                  <div class="li-title">参数</div>
                  <div class="content-test">
                    <p v-for="(text, index) in stagetxtList" :key="index">{{text}}</p>
                  </div>
                  <div class="li-title">相册</div>
                  <ul class="content-images">
                    <li v-for="(item, index) in otherstagepc" :key="index">
                      <img :src="item" alt="">
                    </li>
                  </ul>
                </div>
                <!-- 仪式通道 -->
                <div class="content-li" v-show="contentIndex === 2">
                  <div class="li-title">仪式通道</div>
                  <div class="content-image">
                    <img :src="ceremonypcone" alt="">
                  </div>
                  <div class="li-title">参数</div>
                  <div class="content-test">
                    <p v-for="(text, index) in ceremonytxtList" :key="index">{{text}}</p>
                  </div>
                  <div class="li-title">相册</div>
                  <ul class="content-images">
                    <li v-for="(item, index) in otherceremonypc" :key="index">
                      <img :src="item" alt="">
                    </li>
                  </ul>
                </div>
                <!-- 签到台 -->
                <div class="content-li" v-show="contentIndex === 3">
                  <div class="li-title">签到台</div>
                  <div class="content-image">
                    <img :src="signpcone" alt="">
                  </div>
                  <div class="li-title">参数</div>
                  <div class="content-test">
                    <p v-for="(text, index) in signtxtList" :key="index">{{text}}</p>
                  </div>
                  <div class="li-title">相册</div>
                  <ul class="content-images">
                    <li v-for="(item, index) in othersignpc" :key="index">
                      <img :src="item" alt="">
                    </li>
                  </ul>
                </div>
                <!-- 迎宾区 -->
                <div class="content-li" v-show="contentIndex === 4">
                  <div class="li-title">迎宾区</div>
                  <div class="content-image">
                    <img :src="guestspcone" alt="">
                  </div>
                  <div class="li-title">参数</div>
                  <div class="content-test">
                    <p v-for="(text, index) in gueststxtList" :key="index">{{text}}</p>
                  </div>
                  <div class="li-title">相册</div>
                  <ul class="content-images">
                    <li v-for="(item, index) in otherguestspc" :key="index">
                      <img :src="item" alt="">
                    </li>
                  </ul>
                </div>
                <!-- 舞台灯 -->
                <div class="content-li" v-show="contentIndex === 5">
                  <div class="li-title">舞台灯</div>
                  <div class="content-image">
                    <img :src="lamppcone" alt="">
                  </div>
                  <div class="li-title">参数</div>
                  <div class="content-test">
                    <p v-for="(text, index) in lamptxtList" :key="index">{{text}}</p>
                  </div>
                  <div class="li-title">相册</div>
                  <ul class="content-images">
                    <li v-for="(item, index) in otherlamppc" :key="index">
                      <img :src="item" alt="">
                    </li>
                  </ul>
                </div>
                <!-- 其他特色 -->
                <div class="content-li" v-show="contentIndex === 6">
                  <div class="li-title">其他特色</div>
                  <div class="content-image">
                    <img :src="brightspotpcone" alt="">
                  </div>
                  <div class="li-title">参数</div>
                  <div class="content-test">
                    <p v-for="(text, index) in brightspottxtList" :key="index">{{text}}</p>
                  </div>
                  <div class="li-title">相册</div>
                  <ul class="content-images">
                    <li v-for="(item, index) in otherbrightspotpc" :key="index">
                      <img :src="item" alt="">
                    </li>
                  </ul>
                </div>
                <!-- 升级A套餐 -->
                <div class="content-li" v-show="contentIndex === 7">
                  <div class="li-title">升级A套餐</div>
                  <div class="content-image">
                    <img :src="levelapcone" alt="">
                  </div>
                  <div class="li-title">参数</div>
                  <div class="content-test">
                    <p v-for="(text, index) in levelatxtList" :key="index">{{text}}</p>
                  </div>
                  <div class="li-title">相册</div>
                  <ul class="content-images">
                    <li v-for="(item, index) in otherlevelapc" :key="index">
                      <img :src="item" alt="">
                    </li>
                  </ul>
                </div>
                <!-- 升级B套餐 -->
                <div class="content-li" v-show="contentIndex === 8">
                  <div class="li-title">升级B套餐</div>
                  <div class="content-image">
                    <img :src="levelbpcone" alt="">
                  </div>
                  <div class="li-title">参数</div>
                  <div class="content-test">
                    <p v-for="(text, index) in levelbtxtList" :key="index">{{text}}</p>
                  </div>
                  <div class="li-title">相册</div>
                  <ul class="content-images">
                    <li v-for="(item, index) in otherlevelbpc" :key="index">
                      <img :src="item" alt="">
                    </li>
                  </ul>
                </div>
                <!-- 升级C套餐 -->
                <div class="content-li" v-show="contentIndex === 9">
                  <div class="li-title">升级C套餐</div>
                  <div class="content-image">
                    <img :src="levelcpcone" alt="">
                  </div>
                  <div class="li-title">参数</div>
                  <div class="content-test">
                    <p v-for="(text, index) in levelctxtList" :key="index">{{text}}</p>
                  </div>
                  <div class="li-title">相册</div>
                  <ul class="content-images">
                    <li v-for="(item, index) in otherlevelcpc" :key="index">
                      <img :src="item" alt="">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>        
        <div style="height: 20px"></div>
      </template>
    </Page>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import http from "@/axios/http";
import Swiper from "swiper";
import Page from "@/components/page/Home/base";
export default {
  data () {
    return {
      result: {},
      videoindex: 0,
      videos: [],
      contentIndex: 0,
      contentNav: [
        {name: '概述'},
        {name: '主舞台'},
        {name: '仪式通道'},
        {name: '签到台'},
        {name: '迎宾区'},
        {name: '舞台灯'},
        {name: '其他特色'},
        {name: '升级A套餐'},
        {name: '升级B套餐'},
        {name: '升级C套餐'}
      ]
    }
  },
  watch: {
    
  },
  computed: {
    summarypcone () {
      if (this.result.summarypc) {
        return this.result.summarypc[0]
      }
      return ''
    },
    othersummarypc () {
      if (this.result.summarypc) {
        let data = this.result.summarypc;
        let arr = []
        for (let i = 1; i < data.length; i++) {
          arr.push(data[i])
        }
        return arr
      }
      return []
    },
    stagepcone () {
      if (this.result.stagepc) {
        return this.result.stagepc[0]
      }
      return ''
    },
    otherstagepc () {
      if (this.result.stagepc) {
        let data = this.result.stagepc;
        let arr = []
        for (let i = 1; i < data.length; i++) {
          arr.push(data[i])
        }
        return arr
      }
      return []
    },
    stagetxtList () {
      if (this.result.stage) {
        return this.result.stage.split('|')
      }
      return []
    },
    ceremonypcone () {
      if (this.result.ceremonypc) {
        return this.result.ceremonypc[0]
      }
      return ''
    },
    otherceremonypc () {
      if (this.result.ceremonypc) {
        let data = this.result.ceremonypc;
        let arr = [];
        for (let i = 1; i < data.length; i++) {
          arr.push(data[i]);
        }
        return arr
      }
      return []
    },
    ceremonytxtList () {
      if (this.result.ceremony) {
        return this.result.ceremony.split('|')
      }
      return []
    },
    signpcone () {
      if (this.result.signpc) {
        return this.result.signpc[0]
      }
      return ''
    },
    othersignpc () {
      if (this.result.signpc) {
        let data = this.result.signpc;
        let arr = [];
        for (let i = 1; i < data.length; i++) {
          arr.push(data[i]);
        }
        return arr
      }
      return []
    },
    signtxtList () {
      if (this.result.sign) {
        return this.result.sign.split('|')
      }
      return []
    },
    guestspcone () {
      if (this.result.guestspc) {
        return this.result.guestspc[0]
      }
      return ''
    },
    otherguestspc () {
      if (this.result.guestspc) {
        let data = this.result.guestspc;
        let arr = [];
        for (let i = 1; i < data.length; i++) {
          arr.push(data[i]);
        }
        return arr
      }
      return []
    },
    gueststxtList () {
      if (this.result.guests) {
        return this.result.guests.split('|')
      }
      return []
    },
    levelapcone () {
      if (this.result.levelapc) {
        return this.result.levelapc[0]
      }
      return ''
    },
    otherlevelapc () {
      if (this.result.levelapc) {
        let data = this.result.levelapc;
        let arr = [];
        for (let i = 1; i < data.length; i++) {
          arr.push(data[i]);
        }
        return arr
      }
      return []
    },
    levelatxtList () {
      if (this.result.levela) {
        return this.result.levela.split('|')
      }
      return []
    },
    levelbpcone () {
      if (this.result.levelbpc) {
        return this.result.levelbpc[0]
      }
      return ''
    },
    otherlevelbpc () {
      if (this.result.levelbpc) {
        let data = this.result.levelbpc;
        let arr = [];
        for (let i = 1; i < data.length; i++) {
          arr.push(data[i]);
        }
        return arr
      }
      return []
    },
    levelbtxtList () {
      if (this.result.levelb) {
        return this.result.levelb.split('|')
      }
      return []
    },
    levelcpcone () {
      if (this.result.levelcpc) {
        return this.result.levelcpc[0]
      }
      return ''
    },
    otherlevelcpc () {
      if (this.result.levelcpc) {
        let data = this.result.levelcpc;
        let arr = [];
        for (let i = 1; i < data.length; i++) {
          arr.push(data[i]);
        }
        return arr
      }
      return []
    },
    levelctxtList () {
      if (this.result.levelc) {
        return this.result.levelc.split('|')
      }
      return []
    },
    lamppcone () {
      if (this.result.lamppc) {
        return this.result.lamppc[0]
      }
      return ''
    },
    otherlamppc () {
      if (this.result.lamppc) {
        let data = this.result.lamppc;
        let arr = [];
        for (let i = 1; i < data.length; i++) {
          arr.push(data[i]);
        }
        return arr
      }
      return []
    },
    lamptxtList () {
      if (this.result.lamp) {
        return this.result.lamp.split('|')
      }
      return []
    },
    brightspotpcone () {
      if (this.result.brightspotpc) {
        return this.result.brightspotpc[0]
      }
      return ''
    },
    otherbrightspotpc () {
      if (this.result.brightspotpc) {
        let data = this.result.brightspotpc;
        let arr = [];
        for (let i = 1; i < data.length; i++) {
          arr.push(data[i])
        }
        return arr
      }
      return []
    },
    brightspottxtList () {
      if (this.result.brightspot) {
        return this.result.brightspot.split('|')
      }
      return []
    }
  },
  components: {
    Page
  },
  created () {
    const id = this.$route.query.id;
    if (id) {
      this.gotDetail(id);
    } else {
      this.$router.push('/products')
    }
  },
  mounted () {
    this.$nextTick(()=> {})
  },
  beforeDestroy () {
    
  },
  methods: {
    changeContentNav (index) {
      this.contentIndex = index
    },
    gotDetail(id) {
      http.post("/merchant/productiteminfo.do", {
        id: id
      }).then((result) => {
        if (result.status === 1) {
          let data = result.data;
          this.result = data;
          this.videos.push(data.productmv)
          this.videos.push(data.designmv)
          this.videos.push(data.modelmv)
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    clickVideo (value) {
      this.videoindex = value;
      this.$refs.proVideo.src = this.videos[value];
      this.$refs.proVideo.play();
    },
    videoScroll() {
      let docTop =
        document.documentElement.scrollTop || document.body.scrollTop;
      let length = window.innerHeight / 2 + docTop;
      if (
        !this.startPlay && $("#myvideos").length &&
        $(document).scrollTop() + window.innerHeight / 2 >
          $("#myvideos").offset().top
      ) {
        this.$refs.proVideo.play();
        this.startPlay = true;
      }
    },
    initSwiper () {
      let banner = new Swiper(this.$refs.banner, {
        loop: true,
        updateOnImagesReady : true,
        autoplayDisableOnInteraction: false,
        autoplay: 5000, // 可选选项，自动滑动
        pagination: ".product-banner .swiper-pagination",
        paginationClickable: true,
        prevButton: ".product-banner .swiper-button-prev",
        nextButton: ".product-banner .swiper-button-next"
      });
    
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.product-banner {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  .slide-content {
    width: 100%;
    height: 600px;
    position: relative;
    img {
      width: 100%;
      height: 600px;
    }
    .detail-box-bg {
      width: 100%;
      height: 600px;
      position: relative;
      background: rgba(0,0,0,0.4);
      position: absolute;
      left: 0;
      top: 0;
      .detail-box {
        width: 1200px;
        height: 314px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -600px;
        margin-top: -157px;
        .title {
          line-height: 67px;
          font-size: 48px;
          color: #fff;
          margin-bottom: 9px;
          display: block;
          font-weight: 500;
          text-align: center;
        }
        .category {
          height: 27px;
          margin: 0 auto 18px;
          text-align: center;
          span {
            display: inline-block;
            line-height: 25px;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 2px;
            font-size: 12px;
            padding: 0 10px;
            box-sizing: border-box;
          }
        }
        .desc {
          color: #fff;
          display: block;
          margin: 0 auto 20px;
          text-align: center;
          font-size: 16px;
          line-height: 24px;
          width: 500px;
          font-weight: 400;
        }
        .price {
          display: flex;
          justify-content: center;
          align-items: center;
          .price {}
          .discount-price {
            font-weight: 600;
            color: #fff;
            font-size: 36px;
            margin-right: 5px;
          }
          .old-price {
            font-size: 20px;
            font-weight: 600;
            color: #FC4747;
            text-decoration: line-through;
          }
        }
        .atlas {
          width: 130px;
          height: 36px;
          position: relative;
          font-size: 14px;
          color: #fff;
          background: #FC4747;
          border-radius: 20px;
          cursor: pointer;
          box-sizing: border-box;
          margin: 0 auto;
          font-weight: 500;
          display: flex;
          justify-content: center;
          align-items: center;
          .icon {
            display: block;
            width: 22px;
            height: 36px;
            font-size: 0;
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAkCAMAAADB/PhjAAAAaVBMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8G612AAAAInRSTlMA+e5A6Me6rCkWiEYF3s+aTArydnBlVTn1fl0R1bOkIhyUo4sDuAAAASVJREFUOMvNldtygyAQhheEiGeNh1iTJum+/0O2LDAjTkngLt+FzOgnCzu/AlB8c4yCy+rPFhhPD3dMQIJI0TnoK8RA5qfqVct5W8XqIxJjnJ6hJYvST04/RelcT6xLiChdBHX1Uw7xi6lWxHaI3erMaI762MiJ7rPJt0s05EcdVNc0nfLkOkdH9z4EV6mfnpdGD1/v9AdpQsFTIHHQl3zZ2Rf6httCr/P8j97pkuBYTEsG8yo76oPpvOvMaDdo6ZmvFy0aZmrJ/RjP2dOVQMfsKrEeduw7k9FeZLXqYStueuCXUMQ2Wlle2y1RS5oHBPQS6UrRYWiQVwjoBNtsABnaSq/01QVxVymsC+VlaoKX+u3pZSqDoM7Sfql5ii4Tj4Okw6aHX5kxbqK4JEd8AAAAAElFTkSuQmCC") no-repeat center;
            background-size: 100%;
            margin-right: 8px;
          }
          .txt {
            display: block;
            height: 36px;
            line-height: 36px;
          }
        }
      }
    }
    
  }
  .swiper-button-next, .swiper-button-prev{
    background-size: 15px 30px;
    width: 70px;
    height: 70px;
    background-color: rgba(0,0,0,0.5);
    transition: all 1s linear;
    opacity: 0;
  }
  &:hover {
    .swiper-button-next, .swiper-button-prev {
      opacity: 0;
    }
  }
  .swiper-pagination-bullet {
    width: 60px;
    height: 4px;
    background: #fff;
    border-radius: 4px;
    position: relative;
    bottom: 50px;
    &::after {
      position: absolute;
      width: 0;
      height: 100%;
      left: 0;
      top: 0;
      display: block;
      content: '';
      clear: both;
      background: #FC4747;
      transition: all 5s linear;
    }
  }
  .swiper-pagination-bullet-active {
    &::after {
      animation: caseswiper linear 5s infinite;
    }
  }
}
.intro-overview-wrapper {
  width: 100%;
  margin: 0 auto 70px;
  .intro-overview {
    color: #333;
    margin: 0 auto;
    width: 1200px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    padding: 40px 0;
    .figure {
      width: 100px;
      height: 100px;
      background: #f7f7f7;
      border-radius: 50%;
      margin: 0 auto;
      img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .intro-content {
      width: 500px;
      text-align: center;
      margin: 30px auto 0;
      .name {
        width: 100%;
        color: #333;
        font-size: 18px;
      }
      .description {
        margin-top: 20px;
        font-weight: 300;
        font-size: 13px;
        color: #666;
        line-height: 20px;
      }
    }
  }
}

.product-content-wrapper {
  width: 100%;
  .product-content {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    .content-nav {
      width: 200px;
      box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
      margin-right: 15px;
      .content-nav-name {
        width: 100%;
        line-height: 26px;
        font-size: 20px;
        margin: 30px 0;
        text-align: center;
        color: #000;
        font-weight: 600;
        padding: 0 5px;
        box-sizing: border-box;
      }
      .content-nav-ul {
        li {
          height: 70px;
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          color: #333;
          cursor: pointer;
          span {
            display: block;
            &.span-img {}
            &.span-txt {
              height: 70px;
              line-height: 70px;
              font-size: 20px;
            }
          }
          &:hover {
            background: #fff;
            color: #333;
          }
          &.active {
            background: #FC4747;
            color: #fff;
          }
        }
      }
    }
    .content {
      width: 985px;
      min-height: 600px;
      box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
      padding: 30px;
      box-sizing: border-box;
      .content-ul {
        .content-li {
          .li-title {
            height: 40px;
            line-height: 40px;
            color: #666;
            font-weight: 600;
            font-size: 20px;
            margin: 30px 0;
            &.li-title-center {
              text-align: center;
              color: #000;
            }
          }
          .content-image {
            width: 100%;
            margin: 0 auto;
            img {
              width: 100%;
            }
          }
          .content-test {
            font-size: 14px;
            line-height: 30px;
            font-size: #999;
            text-indent: 28px;
            &.content-test-strong {
              p.strong-p {
                display: flex;
                text-indent: 0;
                strong {
                  width: 80px;
                }
                span {
                  width: 845px;
                }
              }
            }
          }
          .content-images {
            width: 100%;
            li {
              width: 100%;
              margin-bottom: 15px;
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

.product-title {
  width: 100%;
  background-color: #fff;
  margin-top: 40px;
  .title {
    height: 30px;
    text-align: center;
    font-size: 30px;
    color: #000;
    font-weight: 700;
    line-height: 30px;
  }
  .dec {
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    display: block;
    margin: 10px auto 50px;
  }
}


.product-video {
  background: url(~@/assets/images/product-video-bg.jpg) no-repeat;
  background-size: cover;
  padding: 22px 0;
  .video-tab {
    display: block;
    overflow: hidden;
    width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    .video-con {
      width: 960px;
      margin: 48px 0 0;
      video {
        width: 100%;
        height: 540px;
      }
    }
    .video-title {
      width: 210px;
      height: 540px;
      padding: 24px 0 0;
      margin-right: 45px;
      li {
        width: 100%;
        margin: 24px 0 47px;
        position: relative;
        cursor: pointer;
        display: block;
        &::after {
          content: "";
          width: 100%;
          height: 118px;
          position: absolute;
          top: 0;
          left: 0;
          background: rgba(0,0,0,0.2);
        }
        .span-img {
          width: 100%;
          height: 118px;
          line-height: 118px;
          display: block;
          box-sizing: border-box;
          img {
            display: block;
            width: 100%;
            height: 100%;
          }
        }
        .videos-icon {
          width: 24px;
          height: 24px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -12px;
          margin-top: -24px;
          cursor: pointer;
          font-size: 0;
          background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAY1BMVEUAAADkAADcAADcAADdAADcAADdAADeAADcAADcAADeAADcAADcAADcAADcAADcAADdAADbAADbAADbAADdAADeAAD0AADcAAD////hHx/5z8/wkpLmTEz+8vL98fH3wcH0rq5AgHLeAAAAF3RSTlMADOvUTfhvJ+GJIfFp25B2Wci4gGAZBdI1Z+8AAAEPSURBVEjHpZbrbsIwDEadNEnT9EK5lK+wDfb+T7mp2hAQu8Ti/M6RbMexQxlpHLZY2A5johccDxUeqA5HkjEhIiMGIx3fWLDYDavUESKxpgznsULr6IkOLwj0QABUhkMB7i5fjwLaW+amQhHVf3X3KGTPByTjp0UYUEyzZOBRjDX8lcl0RMSU6Pt6kgpFNCFnnr8+wTOR44RfPqTrbgRhPp/4Ou0EQQhrR70gCGH1ZAVBCMuSF4WFZ8PrhVYbUtQmLZf1wpZVf3GjtjUSK1zE5mPb+3peaW8K2gdkrPKJUqMcApRQTFIPsj96FFGph7F23CsXSqdcQV22FNv1pahbu339/mKXlRjMW58T9ffnB/VUoZQlL9JSAAAAAElFTkSuQmCC") no-repeat;
          background-size: cover;
        }
        .text {
          width: 100%;
          line-height: 20px;
          color: #666;
          font-size: 14px;
          text-align: center;
          padding-top: 10px;
          display: inline-block;
          font-weight: 500;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        &.current {
          &::after {
            background: transparent;
          }
          .videos-icon {
            display: none;
          }
          .text {
            color: #fff;
          }
        }
      }
      
    }
  }
}

 @keyframes caseswiper {
   0% {
     width: 0;
   }
   100% {
     width: 100%;
   }
 }
</style>
