<template>
  <div class="page-wrapper product-page">
    <HomeheaderBar></HomeheaderBar>
    <HomeNav></HomeNav>
    <FixedNav></FixedNav>
    <!-- 第一屏 -->
    <div class="product-prime">
      <div class="video-box">
        <video src="~@/assets/images/product_video.mp4" width="100%" height="100%" controlslist="nodownload" muted="muted" preload="auto" playsinline="true" loop="loop" autoplay="autoplay"></video>
      </div>
    </div>
    <div class="product-recommend">
      <div class="recommend">
        <img src="~@/assets/images/chanpin-banner.png" alt="" >
      </div>
    </div>
    <div class="product-wrapper">
      <div class="search-box">
        <ul class="search-ul">
          <li class="search-li">
            <span class="name">主题产品</span>
          </li>
          <li class="search-li" 
            v-for="(item, index) in searchList"
            :key="index"
            :class="{'active': item.value === 1}"
            @click="clickSearch(item, index)"
          >
            <span class="text">{{item.name}}</span>
            <i class="icon"></i>
          </li>
        </ul>
        <div class="layout-btns">
          <div class="layout-small layout-btn" @click="clickLayout(0)" :class="{'layout-small-active': islayout === 0}"></div>
          <div class="layout-big layout-btn" @click="clickLayout(1)" :class="{'layout-big-active': islayout === 1}"></div>
        </div>
      </div>
      <div class="search-content" v-show="false">
        <ul class="search-tags">
          <li 
            v-for="(item, index) in tags" :key="index">{{item.name}}
            <i @click="deleteTag(item)"></i>
          </li>
        </ul>
        <div class="search-delete" @click="deleteAll">删除所有过滤器</div>
      </div>
      <div class="product-box">
        <div class="product-count">{{total}}个主题产品</div>
        <ul class="product-lists"
          :class="{'active': islayout === 1}"
        >
          <li v-for="(item, index) in tableList" :key="index">
            <router-link target="_blank" :to="{ path: 'productsDetail', query: { id: item.id } }">
              <img :src="item.summarypc[0]" alt="">
              <div class="info">
                <div class="info-left">
                  <div class="product-name">{{item.name}}</div>
                </div>
                <div class="product-price">
                  <div class="price discount-price"> ￥{{item.discountmoney}}</div>
                  <div class="price old-price"> 原价:￥{{item.money}}</div>
                </div>
                <div class="product-txt">
                  <span class="span-danger" v-show="item.labelid">{{item.labelname}}</span>
                  <span class="span-success">{{item.characteristicname}}</span>
                 </div>
                 <div class="product-type">{{item.introduction}}</div>
              </div>
              <span class="img-icon" v-show="item.levelnum === 1">
                <img src="~@/assets/images/pruduct_sj1.png" alt="">
              </span>
              <span class="img-icon" v-show="item.levelnum === 2">
                <img src="~@/assets/images/pruduct_sj2.png" alt="">
              </span>
              <span class="img-icon" v-show="item.levelnum === 3">
                <img src="~@/assets/images/pruduct_sj3.png" alt="">
              </span>
            </router-link>
          </li>
        </ul>
        <Empty v-show="isEmpty"></Empty>
        <v-pagination class="pagination-wrapper" :total="total" :current-page="page" :limit="limit" @pagechange="pagechange" v-show="total > 8"></v-pagination>
      </div>

    </div>
    <!-- 底图轮播 -->
    <div class="page-bg-box">
      <div class="page-bg page-bg-product"></div>
    </div>
    <!-- footer -->
    <Footer>
      <template v-slot:footer-content></template>
    </Footer>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import HomeheaderBar from "@/components/page/Home/topbar-home";
import HomeNav from "@/components/page/Home/nav-home";
import Footer from "@/components/common/Footer/index";
import xMessage from "@/components/common/Layer/index";
import FixedNav from "@/components/page/Home/navfixed";
import vPagination from "@/components/common/Pagination/index";
import Empty from "@/components/page/Other/empty";
import http from "@/axios/http";
import Swiper from "swiper";
import $ from "jquery";
export default {
  data() {
    return {
      islayout: 0,
      searchList: [
        {
          name: '最新产品',
          id: 1,
          value: 0
        },
        {
          name: '热门产品',
          id: 2,
          value: 0
        }
      ],
      tags: [],
      total: 0,
      page: 1,
      limit: 8,
      isEmpty: false,
      tableList: [],
      searchform: {
        type: 0
      }
    };
  },
  watch: {
    tags: {
      handler (val, old) {
        if (val.length === 2) {
          this.searchform.type = 3;
        } else if (val.length === 1) {
          this.searchform.type = val[0].id;
        } else {
          this.searchform.type = 0;
        }
        this.gotListData();
      },
      deep: true
    }
  },
  computed: {
    ...mapState([
      '_cityinfo',
      'productType'
    ])
  },
  components: {
    HomeheaderBar,
    HomeNav,
    Footer,
    FixedNav,
    xMessage,
    vPagination,
    Empty
  },
  created() {
    const type = this.productType;
    this.searchform.type = type;
    this.searchList.map((item, index) => {
      if (item.id === type) {
        item.value = 1
      }
    })
    this.gotListData();
  },
  mounted() {},
  beforeDestroy() {
    this.$store.state.productType = 0;
  },
  methods: {
    gotListData () {
      http.post('/recommend/productlistbycity.do', {
        page: this.page,
        limit: this.limit,
        cityid: this._cityinfo.id,
        areaid: this._cityinfo.areaid,
        type: this.searchform.type
      }).then((result) => {
        if (result.status === 1) {
          let data = result.data.result;
          this.total = result.data.total;
          this.tableList = data;
          data.map((item, index) => {
            if (item.levelapc.length || item.levelbpc.length || item.levelcpc.length) {
              item.levelnum = 1;
            }
            if ((item.levelapc.length && item.levelbpc.length) || (item.levelapc.length && item.levelcpc.length) || (item.levelbpc.length && item.levelcpc.length)) {
              item.levelnum = 2;
            }
            if (item.levelapc.length && item.levelbpc.length && item.levelcpc.length) {
              item.levelnum = 3;
            }
          })

          if (data.length) {
            this.isEmpty = false
          } else {
            this.isEmpty = true
          }
        } else {
          this.$message.warning(result.msg);
        }
        
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    pagechange (page){
      this.isEmpty = false;
      this.page = page;
      this.gotListData();
    },
    clickSearch (item, index) {
      this.isEmpty = false;
      if (item.value === 0) {
        item.value = 1;
        this.tags.push(item);
      } else {
        item.value = 0;
        this.deleteTag(item)
      }
    },
    deleteTag (row) {
      row.value = 0;
      const tags = this.tags.filter((item, index) => {
        return item.id !== row.id
      })
      this.tags = tags;
    },
    deleteAll () {
      this.tags = [];
      this.searchList.map((item, index) => item.value = 0)
    },
    clickLayout (value) {
      this.islayout = value;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.product-page {
  .product-wrapper {
    width: 1200px;
    padding: 60px 0;
    margin: 0 auto;
    .search-box {
      width: 1200px;
      border: 1px solid #eee;
      display: flex;
      .search-ul {
        width: 1200px;
        display: flex;
        flex: 1;
        .search-li {
          width: 170px;
          height: 54px;
          line-height: 54px;
          font-size: 14px;
          text-align: center;
          border-left: 1px solid #eee;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          &:nth-child(1) {
            border-left: none;
            flex-direction: column;
          }
          .name {
            display: block;
            height: 18px;
            line-height: 18px;
            color: #000;
            font-size: 20px;
            font-weight: 600;
            text-align: center;
          }
          .total {
            display: block;
            height: 18px;
            line-height: 18px;
            text-align: center;
            font-weight: 600;
            color: #FC4747;
            font-size: 13px;
          }
          .text {
            display: block;
            height: 18px;
            line-height: 18px;
            &.title {
              color: #000;
              font-size: 20px;
              font-weight: 600;
            }
          }
          .icon {
            display: block;
            width: 20px;
            height: 20px;
            margin-left: 10px;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(~@/assets/images/type_select.png);
          }
          &.active {
            .icon {
              background-image: url(~@/assets/images/type_selected.png);
            }
          }
        }
      }
      .layout-btns {
        width: 70px;
        height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
        .layout-btn {
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-size: cover;
          margin-right: 15px;
          cursor: pointer;
          &.layout-big {
            background-image: url('~@/assets/images/styleCutIcon3.png')
          }
          &.layout-big-active {
            background-image: url('~@/assets/images/styleCutIcon1.png')
          }
          &.layout-small {
            background-image: url('~@/assets/images/styleCutIcon2.png')
          }
          &.layout-small-active {
            background-image: url('~@/assets/images/styleCutIcon4.png')
          }
        }
      }
    }
    .search-content {
      position: relative;
      min-height: 36px;
      padding: 5px 20px;
      display: flex;
      background: #f7f7f7;
      .search-tags {
        flex: 1;
        display: flex;
        li {
          height: 36px;
          line-height: 36px;
          width: auto;
          padding: 0 40px 0 20px;
          font-size: 14px;
          font-weight: 400;
          color: #333;
          border: 1px solid #ccc;
          border-radius: 20px;
          background: #fff;
          margin: 7px 10px;
          position: relative;
          i {
            position: absolute;
            top: 50%;
            margin-top: -10px;
            right: 10px;
            width: 20px;
            height: 20px;
            background-image: url('~@/assets/images/cloas-x.png');
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 1;
            cursor: pointer;
          }
        }
      }
      .search-delete {
        width: 130px;
        text-align: center;
        background: #dc1414;
        height: 36px;
        line-height: 36px;
        border-radius: 20px;
        font-size: 13px;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        margin: 7px 0;
      }
    }
    .product-box {
      width: 100%;
      .product-count {
        width: 170px;
        height: 15px;
        line-height: 30px;
        margin-top: 10px;
        font-size: 14px;
        letter-spacing: 2px;
        text-align: center;
        font-weight: 600;
        color: #FC4747;
        font-size: 0;
      }
      .product-lists {
        margin: 0 -20px 50px;
        &::after {
          content: '';
          display: block;
          clear: both;
          width: 0;
          height: 0;
        }
        li {
          width: 580px;
          padding-bottom: 20px;
          margin: 20px;
          float: left;
          &:hover {
            box-shadow: 0 1px 3px rgba(0,0,0,0.02), 0 16px 32px -4px rgba(0,0,0,0.17);
            transform: translateY(-1px);
          }
          a {
            display: block;
            width: 100%;
            position: relative;
            img {
              display: block;
              width: 100%;
              height: 325px;
            }
            .info {
              height: 75px;
              padding: 20px;
              position: relative;
              .info-left {
                width: 100%;
                display: flex;
                margin-bottom: 5px;
                .product-name {
                  width: 480px;
                  font-size: 18px;
                  font-weight: 600;
                  line-height: 24px;
                  color: #333;
                }
              }
              .product-price {
                width: 100%;
                height: 20px;
                display: flex;
                margin-bottom: 5px;
                .price {
                  height: 20px;
                  line-height: 20px;
                }
                .discount-price {
                  font-weight: 600;
                  color: #333;
                  font-size: 16px;
                  margin-right: 5px;
                }
                .old-price {
                  font-weight: 600;
                  color: #dc1414;
                  font-size: 13px;
                  text-decoration: line-through;
                }
              }
              .product-type {
                width: 100%;
                font-size: 13px;
                font-weight: 300;
                color: #666;
                padding: 8px 0 6px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              .product-txt {
                width: 100%;
                font-size: 12px;
                height: 13px;
                line-height: 14px;
                font-weight: 300;
                color: #999;
                display: flex;
                span {
                  display: block;
                  height: 14px;
                  line-height: 14px;
                  padding: 0 5px;
                  margin-right: 8px;
                  &.span-success {
                    background-color: #f0f9eb;
                    border: 1px solid #e1f3d8;
                    color: #67c23a;
                  }
                  &.span-danger {
                    background-color: #fef0f0;
                    border: 1px solid #fde2e2;
                    color: #f56c6c;
                  }
                }
              }
            }
            .img-icon {
              width: 107px;
              height: 104px;
              position: absolute;
              left: 0;
              top: 0;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
        &.active {
          margin: 30px -10px 60px;
          li {
            width: 285px;
            height: 276px;
            margin: 10px;
            a {
              img {
                height: 170px;
              }
              .info {
                height: 75px;
                padding: 20px 10px;
                .info-left {
                  .product-name {
                    width: 200px;
                  }
                  .product-money {
                    width: 85px;
                  }
                }
              }
              .img-icon {
                width:  68px;
                height: 65px;
                position: absolute;
                left: 0;
                top: 0;
                img {
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
        }
      } 
    }
  }
  .product-prime {
    width: 1200px;
    margin: 20px auto;
    display: flex;
    box-shadow: 0 3px 6px rgba(102, 102, 102, 0.16);
    height: 380px;
    box-sizing: border-box;
    position: relative;
    .video-box {
      width: 100%;
      height: 380px
    }
  }
  .product-recommend {
    width: 100%;
    height: 154px;
    background: #fff;
    padding-bottom: 0;
    .recommend {
      width: 1200px;
      margin: 0 auto;
      background: #fff;
      height: 154px;
      overflow: hidden;
      box-sizing: border-box;
      // border: 1px solid #ebebeb;
      img {
        display: block;
        width: 100%;
      }
    }
  }
}
.page-wrapper {
  .page-bg-box {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 -50%;
    z-index: -2;
    .page-bg {
      width: 100%;
      height: 527px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      font-size: 0;
      &.page-bg-product {
        background-image: url("~@/assets/images/first-screen-bg02.jpg");
      }
      &::after {
        content: "";
        width: 100%;
        height: 222px;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0,#fff 100%);
      }
    }
  }
}

</style>
