<template>
  <div class="layer-message" v-show="isshow">
    {{message}}
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
export default {
  props: {
    message: {
      default: ''
    },
    visible: {
      default: false
    },
    timeout: 2000
  },
  data () {
    return {
      isshow: false,
      timer: null
    }
  },
  watch: {
    visible: {
      handler (val, old) {
        if (val) {
          this.isshow = true;
          if (this.timer) {
            clearTimeout(this.timer)
          }
          this.timer = setTimeout(() => {
            this.isshow = false;
          })
        }
      }
    }
  },
  computed: {
    
  },
  mounted () {
    
  },
  beforeDestroy () {
    
  },
  methods: {
    
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.layer-message {
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -20px;
  margin-left: -100px;
  background-color: rgba(0,0,0, 0.8);
  z-index: 99999999;
  color: #fff;
  font-size: 14px;
}
</style>
