<template>
  <div></div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
export default {
  data () {
    return {
      
    }
  },
  watch: {
    
  },
  computed: {},
  mounted () {
    console.log(this.$route.params.id)
  },
  beforeDestroy () {
    
  },
  methods: {
  
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
</style>
