<template>
  <ul class="pagination">
    <li>共{{total}}条记录</li>
    <li :class="{ disabled: current === 1 }">
      <a href="javascript:;" @click="setCurrent(current - 1)"> « </a>
    </li>
    <li :class="{ disabled: current === 1 }">
      <a href="javascript:;" @click="setCurrent(1)"> 首页 </a>
    </li>
    <li v-for="(item, index) in grouplist" :key="index" :class="{ active: current === item.val }" >
      <a href="javascript:;" @click="setCurrent(item.val)"> {{item.text}} </a>
    </li>
    <li :class="{ disabled: current === page }">
      <a href="javascript:;" @click="setCurrent(page)"> 尾页 </a>
    </li>
    <li :class="{ disabled: current === page }">
      <a href="javascript:;" @click="setCurrent(current + 1)"> »</a>
    </li>
  </ul>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import http from "@/axios/http";
export default {
  props: {
    total: {
      // 数据总条数
      type: Number,
      default: 0
    },
    limit: {
      // 每页显示条数
      type: Number,
      default: 10
    },
    currentPage: {
      // 当前页码
      type: Number,
      default: 1
    },
    pagegroup: {
      // 分页条数
      type: Number,
      default: 5,
      coerce: function(v) {
        v = v > 0 ? v : 5;
        return v % 2 === 1 ? v : v + 1;
      }
    }
  },
  data() {
    return {
      current: this.currentPage
    };
  },
  watch: {},
  computed: {
    page() {
      // 总页数
      return Math.ceil(this.total / this.limit);
    },
    grouplist() {
      // 获取分页页码
      let len = this.page,
        temp = [],
        list = [],
        count = Math.floor(this.pagegroup / 2),
        center = this.current;
      if (len <= this.pagegroup) {
        while (len--) {
          temp.push({ text: this.page - len, val: this.page - len });
        }
        return temp;
      }
      while (len--) {
        temp.push(this.page - len);
      }
      let idx = temp.indexOf(center);
      idx < count && (center = center + count - idx);
      this.current > this.page - count && (center = this.page - count);
      temp = temp.splice(center - count - 1, this.pagegroup);
      do {
        let t = temp.shift();
        list.push({
          text: t,
          val: t
        });
      } while (temp.length);
      if (this.page > this.pagegroup) {
        this.current > count + 1 &&
          list.unshift({ text: "...", val: list[0].val - 1 });
        this.current < this.page - count &&
          list.push({ text: "...", val: list[list.length - 1].val + 1 });
      }
      return list;
    }
  },
  mounted() {
    // console.log(this.grouplist)
  },
  beforeDestroy() {},
  methods: {
    setCurrent: function(idx) {
      if (this.current !== idx && idx > 0 && idx < this.page + 1) {
        this.current = idx;
        this.$emit("pagechange", this.current);
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.pagination {
  overflow: hidden;
  display: table;
  margin: 0 auto;
  height: 50px;
  padding: 8px 10px;
  li {
    float: left;
    font-size: 14px;
    width: auto;
    height: 38px;
    line-height: 38px;
    margin: 0 4px;
    border: 1px solid #dedede;
    background: #FFF;
    a {
      display: block;
      padding: 0 15px;
      height: 38px;
      line-height: 38px;
      text-align: center;
      color: #7a7a7a;
    }
    &:hover {
      background: #e94653;
      a {
        color: #fff;
      }
    }
   &.active {
     background: #e94653;
      a {
        color: #fff;
      }
   }
   &:nth-child(1) {
     padding: 0 15px;
     &:hover {
      background: #FFF;
    }
   }
  }
  &.pagination-pink {
    li {
      &:hover {
        background: #ff6296;
      }
      &.active {
        background: #ff6296;
      }
      &:nth-child(1):hover {
        background: #FFF;
      }
    }
  }
}
</style>
