<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import http from '@/axios/http'
import { mapState, mapGetters} from 'vuex'
export default {
  name: 'App',
  data() {
    return {
     
    }
  },
  computed: {
    ...mapState([])
  },
  created () {
    
  },
  mounted () {},
  methods: {
    
  },
  components: {
    
  }
}
</script>

<style lang="scss">

</style>
