<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-06-02 23:14:49
 * @LastEditTime: 2019-08-09 16:03:59
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="uu-footer">
    <div class="footer-conent">
      <ul class="into-list">
        <li>
          <span class="title">优品婚礼</span>
          <router-link class="more-base-a" title="婚礼产品" to="/products">婚礼产品</router-link>
          <router-link class="more-base-a" title="婚礼案例" to="/case">婚礼案例</router-link>
        </li>
        <li>
          <span class="title">优选酒店</span>
          <router-link class="more-base-a" title="婚礼酒店" to="/hotels">婚礼酒店</router-link>
        </li>
        <li>
          <span class="title">优选婚车</span>
          <router-link class="more-base-a" title="婚车租赁" to="/cars">婚车租赁</router-link>
        </li>
        <li>
          <span class="title">婚庆门店</span>
          <router-link class="more-base-a" title="婚庆门店" to="/store">婚庆门店</router-link>
        </li>
        <li>
          <span class="title">关于我们</span>
          <router-link class="more-base-a" title="关于我们" to="/join">关于我们</router-link>
          <a target="_blank" href="http://platform.uuwed.com/regist" class="more-base-a" title="商户入驻">商家入驻</a>
          <a target="_blank" href="http://platform.uuwed.com" class="more-base-a" title="商户登录">商户登录</a>
        </li>
      </ul>
      <ul class="into-atlas">
        <li>
          <img src="~@/assets/images/xiaochengxu.jpg" alt="优品婚匠小程序" class="pic" />
          <span class="text">优品婚匠小程序</span>
        </li>
        <li>
          <img src="~@/assets/images/weixin.jpg" alt="优品微信公众号" class="pic" />
          <span class="text">优品微信公众号</span>
        </li>
      </ul>
      <div class="service-tel">
        <span class="tel-btn">客服电话</span>
        <p class="text">24小时客服电话</p>
        <a href="javascript:;" class="tel">400-885-0525</a>
      </div>
    </div>
    <div class="footer-bottom-wrapper">
      <div class="footer-bottom">
        <div class="copyright-left">
          <!-- <router-link class="more-base-a" title="隐私保护" target="_blank" to="/privacy">隐私保护</router-link>
          <span class="more-base-line"></span>
          <router-link class="more-base-a" title="免责声明" target="_blank" to="/policy">免责声明</router-link>
          <span class="more-base-line"></span>
          <router-link class="more-base-a" title="知识产权" target="_blank" to="/copyrights">知识产权</router-link> -->
          <!-- <span class="more-base-line"></span>
          <div class="wechat-icon">
            <span class="icon">微信公众号</span>
            <div class="pic">
              <img src="~@/assets/images/wechat_hover.png" alt=".." />
            </div>
          </div> -->
        </div>
        <div class="copyright-text">
          Copyright © 2019
          <a target="_blank" href="http://www.uuwed.com">www.uuwed.com</a>
          All Right Reserved 版权所有 上海十指科技有限公司
          <a target="_blank" href="http://www.miitbeian.gov.cn/">沪ICP备19008424号-1</a>
          <!-- <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010602001155">沪公网安备31010602001155号</a> -->
        </div>
      </div>
    </div>
    <slot name="footer-content"></slot>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
export default {
  data () {
    return {
      
    }
  },
  watch: {
    
  },
  computed: {
    
  },
  mounted () {
    
  },
  beforeDestroy () {
    
  },
  methods: {
  
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
 .uu-footer {
    width: 100%;
    position: relative;
    .footer-conent {
      width: 1200px;
      margin: 0 auto;
      position: relative;
      display: flex;
      padding: 40px 0;
      .into-list {
        display: flex;
        justify-content: space-between;
        margin-right: 50px;
        li {
          margin-right: 40px;
          font-size: 12px;
          .title {
            display: block;
            color: #666;
            font-weight: 500;
            line-height: 28px;
            font-size: 13px;
          }
          .more-base-a {
            font-size: 12px;
            color: #666;
            display: block;
            line-height: 24px;
            font-weight: 300;
            text-align: left;
          }
        }
      }
      .into-atlas {
        width: 354px;
        box-sizing: border-box;
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        padding: 13px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        li {
          width: 92px;
          margin: 0 15px;
          img {
            display: block;
            width: 92px;
            height: 92px;
          }
          .text {
            line-height: 28px;
            font-size: 12px;
            text-align: center;
            display: block;
            color: #999;
            margin: 4px 0;
          }
        }
      }
      .service-tel {
        margin-left: 50px;
        .text {
          font-size: 14px;
          color: #333;
          font-weight: 400;
          line-height: 24px;
          text-align: center;
          margin-top: 15px;
        }
        .tel {
          line-height: 30px;
          font-size: 24px;
          color: #333;
          font-family: "Lato";
          font-weight: bold;
          display: block;
          text-align: center;
          margin: 4px 0;
        }
        .tel-btn {
          display: block;
          width: 82px;
          height: 27px;
          line-height: 25px;
          border-radius: 14px;
          margin-top: 10px;
          color: #fff;
          padding: 0 16px;
          box-sizing: border-box;
          margin: 0 auto;
          border: 1px solid #DC1414;
          cursor: pointer;
          background-color: #DC1414;
        }
      }
    }
    .footer-bottom-wrapper {
      width: 100%;
      height: 50px;
      background: #1A1A1A;
      padding: 13px 0;
      box-sizing: border-box;
      .footer-bottom {
        height: 24px;
        width: 1200px;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: space-between;
        .copyright-left {
          display: flex;
          margin-left: -10px;
          .more-base-a {
            display: block;
            font-size: 13px;
            color: #8d8d8d;
            margin: 0 10px;
            line-height: 24px;
          }
          .more-base-line {
            height: 10px;
            width: 1px;
            margin-top: 8px;
            display: block;
            position: relative;
            background: #8d8d8d;
          }
          .wechat-icon {
            position: relative;
            .icon {
              height: 24px;
              display: block;
              z-index: 4;
              margin-left: 10px;
              position: relative;
              padding-left: 24px;
              background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAe1BMVEUAAACZmZmZmZmZmZmZmZmZmZmZmZmampqYmJiYmJiYmJiZmZmZmZmYmJiYmJiZmZmYmJiZmZmbm5uZmZmZmZmZmZmZmZmZmZmZmZmZmZmYmJiZmZmYmJiYmJiZmZmZmZmenp7///+YmJiYmJiZmZmYmJiZmZmbm5uZmZlR4+mSAAAAKHRSTlMA9+H605hDGvzw7NtgP7+oWCMVCuXHsIiDdmY4D7dRSgcBn29rNIwz18XtbQAAASlJREFUSMftkseWwjAMRZ/Teyek0Adm9P9fODhAmp0E1uQupM271pGOsfKdpJG+yVQlKIwT3uBUOvSChSaWOCrUh0WY52DRiB/MUTd59zlFabo3t67yeNO0eS+R8HXYzB4RcRIg4z0GXN71aSFshI1xeXa96c55UnBpBAs9ryor/wQ56ii//dPth5j7UiEbxC2v6L2wTyASDPLRfuArkmuV/cCvTkPcVBB2jFrsA69BEvE71aYtv6/XCWHOa4H4XjWcNb76TjS2reA191EDh7ihEecIkep1mCOJXIHpGb5EOMiE+3CNT6lcIW+ZEIlpf0Na+35cCEIICcatvXE2ytsx5qnZIK8aWMJwqIMZWCa5WN3PxVuY19xlSqDntMFn+NruQ+OcYmVliX9DFkoVn0c4OAAAAABJRU5ErkJggg==");
              background-size: 24px 24px;
              background-repeat: no-repeat;
              background-position: 0 1px;
              line-height: 24px;
            }
            .pic {
              display: none;
              width: 110px;
              position: absolute;
              right: 50%;
              bottom: 0;
              margin: 0 -55px;
              z-index: 2;
              img {
                width: 100%;
              }
            }
            &:hover {
              .icon {
                background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAkFBMVEUAAAALpQsLpQsMpQwLpgsMpQwMpAwLpQsLpQsMpAwLpQsHpQcJpwkArQALpAsLpAsLpQsMpQwLpQsMpQwLpAsLpAsMpQwLpQsKpQoJpwkJpgkAqAALpAsLpAsLpQsLpQsKpQoLpAsJpgkKpAoJpgkAqgAA/wALpQsLpAsMpAwLpQsKpwoLpQsLpQsKpQoMpQyOyDYfAAAAL3RSTlMA/PeYQ/Ds5L4/WCMVCvrh3drRr6iIg3ZmOBkP9dW1a2FfUUocBwH5ycWfNIxvM+tDQ4UAAAE0SURBVEjH7dLJeoIwFAXgAwRkVEBkcB5xapv3f7uStCKQALqWf5G74Nwv5CYYfCbP1i6j88SMyQkvOCUGfVCjOfocRrRqaaPbXqENG3TJeN7/38WfsHXbdVye+MZcZzWBa7C/6jiHTRkX4Fs4gM+qhlZT3nAlN14vROPVyNEmoA1qtNumSWq1Xci4kZ/9aPpf49SCTP0OlF1cGfLahcis5e11rd8/QpBUA18arQs8NC2WtKTv2Wq6NptTNtfl8909GyI+4xhOsa6Qh+zoCwhmZcOWz2dsGqyEK8ocIEofoz2wRf4Q5XtYkoY9JMLil8/FxzQQ8soRIoead3iZZTmx0BBBgtzLGY8aed1Bt0yt5ccEfYhRfbgE/dyb8ny5eMlxsw7UialN6RXvscIF3pN7GAz6/AIcxlc45vre6wAAAABJRU5ErkJggg==");
              }
              .pic {
                display: block;
              }
            }
          }
        }
        .copyright-text {
          font-size: 13px;
          color: #8d8d8d;
          a {
            color: #8d8d8d;
            margin-right: 4px;
          }
        }
      }
    }
  }
</style>
