<template>
  <div class="layer-wapper">
    <div class="phone-form">
      <span class="close-btn" @click="closeLayer"></span>
      <div class="phone-title">
        <h2>填写手机号码进行预约</h2>
        <h3>我们将在第一时间与您联系</h3>
      </div>
      <div class="form-box">
        <div class="input-item">
          <input type="text" class="input-style" placeholder="请输入手机号码" v-model="phone">
        </div>
        <div class="input-item">
          <input type="text" class="input-code input-style" placeholder="请输入验证码" v-model="code">
          <button class="code-btn"
            :disabled="disableCode"
            @click="getCode" 
            :class="{'code-btn-active': !this.disableCode}"
            v-text="changeName"
            ></button>
        </div>
        <div class="input-item">
          <button class="code-btn submit-btn" :disabled="disableSubmit" @click="submitForm">确定预约</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
export default {
  props: {
    type: {
      default: 1
    },
    id: {
      default: 0
    },
    other: Object,
  },
  data () {
    return {
      phone: '',
      code: '',
      disableCode: true,
      endtime: false,
      codeCount: 60,
      codeTimer: null,
      changeName: '免费获取验证码',
      disableSubmit: false
    }
  },
  watch: {
    phone (val, old) {
      if (!/^1[3456789]\d{9}$/.test(val)) {
        if (val.length > 11) {
          this.phone = this.phone.substring(0, 11);
        } else {
          this.code = '';
        }
        this.disableCode = true;
      } else {
        if (this.endtime) {
          this.disableCode = true;
        } else {
          this.disableCode = false;
        }
      }
    },
  },
  computed: {
    
  },
  mounted () {
    
  },
  beforeDestroy () {
    
  },
  methods: {
    getCode () {
      //获取验证码
      http.post('/sms/sendsms.do', {
        phone: this.phone
      }).then((result) => {
        if(parseInt(result.status) === 1) {
          //获取验证码成功
          //验证码倒计时
          this.countDown();
          this.$message.success(result.msg);
        } else {
          //获取验证码失败
          this.$message.warning(result.msg);
        }
      }).catch((error)=> {
        this.$message.error(error);
      });
    },
    countDown () {
      this.disableCode = true;
      this.endtime = true;
      this.changeName = '已获取'+this.codeCount+'s';
      clearInterval(this.codeTimer);
      this.codeTimer = setInterval(() => {
        this.codeCount--;
        this.changeName = '已获取'+this.codeCount+'s';
        if (this.codeCount <= 0) {
          this.resetCode();
        }
      },1000)
    },
    resetCode () {
      clearInterval(this.codeTimer);
      this.codeCount = 60;
      this.changeName = '免费获取验证码';
      this.disableCode = false;
      this.endtime = false;
    },
    submitForm () {
      if (!/^1[3456789]\d{9}$/.test(this.phone)) {
        this.$message.error('手机号为11位');
      } else if (!this.code) {
        this.$message.error('请输入验证码');
      } else {
        this.disableSubmit = true;
        this.resetCode();
        if (this.type === 1) {
          //酒店注册
          this.orderHotel();
        } else if (this.type === 2) {
          //商户注册
          this.orderProduct();
        } else {
          //婚车注册
          this.orderCar();
        }
      }
    },
    orderHotel () {
      http.post('/hotelsubscribe/addhotelsubscribebycode.do', {
        phone: this.phone,
        code: this.code,
        hotelid: this.id
      })
      .then((result) => {
        if (result.status === 1) {
          this.$message.success(result.msg);
          this.$emit('closeLayer')
        } else {
          this.$message.warning(result.msg);
        }
      }).catch((error) => {
        this.$message.error(error);
      })
      this.disableSubmit = false;
    },
    orderProduct () {
      http.post('/merchantsubscribe/addmerchantsubscribebycode.do', {
        phone: this.phone,
        code: this.code,
        merchantid: this.id
      })
      .then((result) => {
        if (result.status === 1) {
          this.$message.success(result.msg);
          this.$emit('closeLayer')
        } else {
          this.$message.warning(result.msg);
        }
      }).catch((error) => {
        this.$message.error(error);
      })
      this.disableSubmit = false;
    },
    orderCar () {
      
      http.post('/vehiclesubscribe/addvehiclesubscribebycode.do', {
        phone: this.phone,
        code: this.code,
        carid: this.id,
        vehicleid: this.other.vehicleid,
        purpose: this.other.purpose,
        purposeid: this.other.purposeid,
        color: this.other.color,
        colorid: this.other.colorid,
        cartime: this.other.cartime,
        cartimeid: this.other.cartimeid,
        carmoney: this.other.carmoney,
        usedtime: this.other.usedtime
      })
      .then((result) => {
        if (result.status === 1) {
          this.$message.success(result.msg);
          this.$emit('closeLayer')
        } else {
          this.$message.warning(result.msg);
        }
      }).catch((error) => {
        this.$message.error(error);
      })
      this.disableSubmit = false;
    },
    closeLayer () {
      this.$emit('closeLayer')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.layer-wapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0, 0.5);
  z-index: 100;
  .phone-form {
    width: 800px;
    height: 400px;
    background-color: #ff6297;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -200px;
    z-index: 100;
    overflow: hidden;
    border-radius: 10px;
    .close-btn {
      position: absolute;
      width: 30px;
      height: 30px;
      background-image: url('~@/assets/images/mediaCloseBt.png');
      background-size: cover;
      background-repeat: no-repeat;
      right: 40px;
      top: 40px;
      cursor: pointer;
    }
    .phone-title {
      width: 640px;
      height: 60px;
      margin: 40px auto 30px;
      h2 {
        height: 20px;
        line-height: 20px;
        text-align: center;
        color: #fff;
        font-size: 15px;
        margin-bottom: 10px;
      }
      h3 {
        text-align: center;
        height: 30px;
        line-height: 30px;
        font-size: 18px;
        color: #fff;
      }
    }
    .form-box {
      width: 480px;
      margin: 0 auto;
      .input-item {
        height: 54px;
        display: flex;
        margin-bottom: 25px;
        border-radius: 3px;
        .input-style {
          padding-left: 24px;
          width: 480px;
          height: 54px;
          line-height: 52px;
          font-size: 16px;
          border: 1px solid #e8e8e8;
          display: block;
          color: #252525;
          outline: 0;
          border-radius: 3px;
          box-sizing: border-box;
          &.input-code {
            width: 320px;
          }
        }
        .code-btn {
          width: 160px;
          height: 54px;
          line-height: 54px;
          background-color: #ccc;
          font-size: 16px;
          color: #fff;
          display: block;
          border: 0;
          outline: 0;
          cursor: pointer;
          box-sizing: border-box;
          &.code-btn-active {
            background-color: #ff2929;
          }
          &.submit-btn {
            width: 250px;
            margin: 0 auto;
            background-color: #ff2929;
          }
        }
      }
    }
  }
}
</style>
